Repository Simple-ML/Simple-ML, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Simple-ML/developers, @lars-reimann, @Simple-ML/dsl, @adanewitz, @Simple-ML/runtime, @s6fikass, @Simple-ML/stdlib, @fakharabbas-3002, @sgottsch

.github/CODEOWNERS:

*                                                                       @Simple-ML/developers
/.github/                                                               @lars-reimann

/DSL/                                                                   @Simple-ML/dsl
/DSL/.devcontainer/                                                     @lars-reimann
/DSL/.vscode/                                                           @lars-reimann
/DSL/client/                                                            @lars-reimann
/DSL/server/                                                            @lars-reimann
/DSL/server/de.unibonn.simpleml.parent/de.unibonn.simpleml.web/         @adanewitz

/Frontend/                                                              @adanewitz

/Runtime/                                                               @Simple-ML/runtime
/Runtime/.devcontainer/                                                 @lars-reimann
/Runtime/.vscode/                                                       @lars-reimann
/Runtime/runtime/                                                       @s6fikass
/Runtime/Dockerfile                                                     @lars-reimann

/Stdlib/                                                                @Simple-ML/stdlib
/Stdlib/.devcontainer/                                                  @lars-reimann
/Stdlib/.vscode/                                                        @lars-reimann
/Stdlib/data/                                                           @fakharabbas-3002 @sgottsch
/Stdlib/data_catalog/                                                   @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/data_catalog/                                   @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/ml_catalog/                                     @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/queries/                                        @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/rdf/                                            @fakharabbas-3002 @sgottsch
/Stdlib/stubs/                                                          @lars-reimann

build: specify Java toolchain (#73)
  DSL/README.md
  DSL/build.gradle.kts
  DSL/de.unibonn.simpleml.ide/build.gradle.kts
  DSL/de.unibonn.simpleml.tests/build.gradle.kts
  DSL/de.unibonn.simpleml.web/build.gradle.kts
  DSL/de.unibonn.simpleml/build.gradle.kts
Owners: @Simple-ML/dsl

build: specify Java toolchain (#73)
  DSL/README.md
  DSL/build.gradle.kts
  DSL/de.unibonn.simpleml.ide/build.gradle.kts
  DSL/de.unibonn.simpleml.tests/build.gradle.kts
  DSL/de.unibonn.simpleml.web/build.gradle.kts
  DSL/de.unibonn.simpleml/build.gradle.kts
Owners: @Simple-ML/dsl

feat: update Simple-ML to Prolog converter (#74)
  .idea/vcs.xml
  .idea/workspace.xml
  DSL/.gitignore
  DSL/.idea/.gitignore
  DSL/.idea/.name
  DSL/.idea/codeStyles/codeStyleConfig.xml
  DSL/.idea/compiler.xml
  DSL/.idea/gradle.xml
  DSL/.idea/jarRepositories.xml
  DSL/.idea/misc.xml
  DSL/de.unibonn.simpleml.tests/resources/prologVisitorTests/annotationUses.simpleml
  DSL/de.unibonn.simpleml.tests/resources/prologVisitorTests/declarations.simpleml
  DSL/de.unibonn.simpleml.tests/resources/prologVisitorTests/definitions.simpleml
  DSL/de.unibonn.simpleml.tests/resources/prologVisitorTests/empty.simpleml
  DSL/de.unibonn.simpleml.tests/resources/prologVisitorTests/expressions.simpleml
  DSL/de.unibonn.simpleml.tests/resources/prologVisitorTests/literals.simpleml
  DSL/de.unibonn.simpleml.tests/resources/prologVisitorTests/statements.simpleml
  DSL/de.unibonn.simpleml.tests/resources/prologVisitorTests/types.simpleml
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/assertions/FactbaseAssertions.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/assertions/NumberAssertions.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/assertions/ParsingAssertions.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/SimpleMLAstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/SimpleMLLanguageTest.kt
  DSL/de.unibonn.simpleml/build.gradle.kts
  DSL/de.unibonn.simpleml/model/custom/SimpleML.ecore
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/Main.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/converters/SimpleMLAstToPrologFactbase.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/model/facts/Factbase.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/model/facts/Terms.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/utils/IdManager.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/ModelExtensions.kt
Owners: @Simple-ML/developers, @Simple-ML/dsl

feat: update Simple-ML to Prolog converter (#74)
  .idea/vcs.xml
  .idea/workspace.xml
  DSL/.gitignore
  DSL/.idea/.gitignore
  DSL/.idea/.name
  DSL/.idea/codeStyles/codeStyleConfig.xml
  DSL/.idea/compiler.xml
  DSL/.idea/gradle.xml
  DSL/.idea/jarRepositories.xml
  DSL/.idea/misc.xml
  DSL/de.unibonn.simpleml.tests/resources/prologVisitorTests/annotationUses.simpleml
  DSL/de.unibonn.simpleml.tests/resources/prologVisitorTests/declarations.simpleml
  DSL/de.unibonn.simpleml.tests/resources/prologVisitorTests/definitions.simpleml
  DSL/de.unibonn.simpleml.tests/resources/prologVisitorTests/empty.simpleml
  DSL/de.unibonn.simpleml.tests/resources/prologVisitorTests/expressions.simpleml
  DSL/de.unibonn.simpleml.tests/resources/prologVisitorTests/literals.simpleml
  DSL/de.unibonn.simpleml.tests/resources/prologVisitorTests/statements.simpleml
  DSL/de.unibonn.simpleml.tests/resources/prologVisitorTests/types.simpleml
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/assertions/FactbaseAssertions.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/assertions/NumberAssertions.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/assertions/ParsingAssertions.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/SimpleMLAstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/SimpleMLLanguageTest.kt
  DSL/de.unibonn.simpleml/build.gradle.kts
  DSL/de.unibonn.simpleml/model/custom/SimpleML.ecore
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/Main.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/converters/SimpleMLAstToPrologFactbase.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/model/facts/Factbase.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/model/facts/Terms.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/utils/IdManager.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/ModelExtensions.kt
Owners: @Simple-ML/developers, @Simple-ML/dsl

chore: VS code extension v0.0.11
  DSL/de.unibonn.simpleml.vscode/CHANGELOG.md
  DSL/de.unibonn.simpleml.vscode/README.md
  DSL/de.unibonn.simpleml.vscode/package-lock.json
  DSL/de.unibonn.simpleml.vscode/package.json
Owners: @Simple-ML/dsl

chore: VS code extension v0.0.11
  DSL/de.unibonn.simpleml.vscode/CHANGELOG.md
  DSL/de.unibonn.simpleml.vscode/README.md
  DSL/de.unibonn.simpleml.vscode/package-lock.json
  DSL/de.unibonn.simpleml.vscode/package.json
Owners: @Simple-ML/dsl

create import-statement für created entity if necessary
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.kt
  Frontend/src/debugging/exposeToBrowserConsole.js
Owners: @Simple-ML/dsl, @adanewitz

create import-statement für created entity if necessary
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.kt
  Frontend/src/debugging/exposeToBrowserConsole.js
Owners: @Simple-ML/dsl, @adanewitz

fix: sometimes the dsl-text form the backend ist cut off
  Frontend/public/xtext/ServiceBuilder.js
  Frontend/public/xtext/services/GetProcessMetadataService.js
  Frontend/public/xtext/services/GetProcessProposalsService.js
Owners: @adanewitz

fix: sometimes the dsl-text form the backend ist cut off
  Frontend/public/xtext/ServiceBuilder.js
  Frontend/public/xtext/services/GetProcessMetadataService.js
  Frontend/public/xtext/services/GetProcessProposalsService.js
Owners: @adanewitz

build: basic configuration of kover
  DSL/build.gradle.kts
Owners: @Simple-ML/dsl

proposals for specific entity (test)
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.kt
  Frontend/src/components/EditorView/GraphicalEditor/GraphicalEditor.jsx
  Frontend/src/components/EditorView/GraphicalEditor/MxGraphVertexComponent.jsx
  Frontend/src/debugging/exposeToBrowserConsole.js
Owners: @Simple-ML/dsl, @adanewitz

proposals for specific entity (test)
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.kt
  Frontend/src/components/EditorView/GraphicalEditor/GraphicalEditor.jsx
  Frontend/src/components/EditorView/GraphicalEditor/MxGraphVertexComponent.jsx
  Frontend/src/debugging/exposeToBrowserConsole.js
Owners: @Simple-ML/dsl, @adanewitz

feat: list callables that accept some placeholder
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/ProposalsTest.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/Proposals.kt
Owners: @Simple-ML/dsl

feat: list callables that accept some placeholder
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/ProposalsTest.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/Proposals.kt
Owners: @Simple-ML/dsl

fix: empty proposals when a result was provided
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.kt
Owners: @Simple-ML/dsl

fix: empty proposals when a result was provided
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.kt
Owners: @Simple-ML/dsl

fix: don't propose interface methods
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/Proposals.kt
Owners: @Simple-ML/dsl

fix: don't propose interface methods
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/Proposals.kt
Owners: @Simple-ML/dsl

refactor: rename variable
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/Proposals.kt
Owners: @Simple-ML/dsl

refactor: rename variable
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/Proposals.kt
Owners: @Simple-ML/dsl

feat: implement test sidebar
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/components/EditorView/MultiView/MultiView.jsx
Owners: @adanewitz

feat: implement test sidebar
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/components/EditorView/MultiView/MultiView.jsx
Owners: @adanewitz

feat: add test accordion
  Frontend/src/components/EditorView/MultiView/MultiView.jsx
Owners: @adanewitz

feat: add test accordion
  Frontend/src/components/EditorView/MultiView/MultiView.jsx
Owners: @adanewitz

feat: sidebar componente
  Frontend/src/components/EditorView/MultiView/MultiView.jsx
  Frontend/src/components/EditorView/MultiView/Sidebar/Sidebar.jsx
  Frontend/src/components/EditorView/MultiView/Sidebar/sidebar.scss
Owners: @adanewitz

feat: sidebar componente
  Frontend/src/components/EditorView/MultiView/MultiView.jsx
  Frontend/src/components/EditorView/MultiView/Sidebar/Sidebar.jsx
  Frontend/src/components/EditorView/MultiView/Sidebar/sidebar.scss
Owners: @adanewitz

refactor: align package structure of tests with source packages
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/ProposalsTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/SimpleMLAstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/SimpleMLFormatterTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/SimpleMLLanguageTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/TypeComputerTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/assertions/FactbaseAssertions.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/assertions/NumberAssertions.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/assertions/ParsingAssertions.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/util/ParseWithStdlib.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/util/TestResourceUtils.kt
Owners: @Simple-ML/dsl

feat: prevent recursion in workflow steps and lambdas
  DSL/de.unibonn.simpleml.tests/resources/languageTests/validation/expressions/calls/recursion.simpleml
  DSL/de.unibonn.simpleml.tests/resources/languageTests/validation/other/argumentLists/uniqueParameters.simpleml
  DSL/de.unibonn.simpleml.tests/resources/languageTests/validation/statements/assignments/assigneeListCanBeRemoved.simpleml
  DSL/de.unibonn.simpleml.tests/resources/languageTests/validation/statements/assignments/nothingAssigned.simpleml
  DSL/de.unibonn.simpleml.tests/resources/languageTests/validation/statements/expressionStatements/hasNoEffect.simpleml
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/SimpleMLAstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/validation/expressions/CallChecker.kt
Owners: @Simple-ML/dsl

fix: lint errors
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/TypeComputerTest.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/validation/expressions/CallChecker.kt
Owners: @Simple-ML/dsl

style: apply automatic fixes of linters
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/SimpleMLAstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/SimpleMLLanguageTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/TypeComputerTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/assertions/FactbaseAssertions.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/util/ParseWithStdlib.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/util/TestResourceUtils.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/ModelExtensions.kt
Owners: @Simple-ML/dsl

feat: prevent recursion in workflow steps and lambdas (#75)
  DSL/de.unibonn.simpleml.tests/resources/languageTests/validation/expressions/calls/recursion.simpleml
  DSL/de.unibonn.simpleml.tests/resources/languageTests/validation/other/argumentLists/uniqueParameters.simpleml
  DSL/de.unibonn.simpleml.tests/resources/languageTests/validation/statements/assignments/assigneeListCanBeRemoved.simpleml
  DSL/de.unibonn.simpleml.tests/resources/languageTests/validation/statements/assignments/nothingAssigned.simpleml
  DSL/de.unibonn.simpleml.tests/resources/languageTests/validation/statements/expressionStatements/hasNoEffect.simpleml
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/ProposalsTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/SimpleMLAstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/SimpleMLFormatterTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/SimpleMLLanguageTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/TypeComputerTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/assertions/FactbaseAssertions.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/assertions/NumberAssertions.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/assertions/ParsingAssertions.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/util/ParseWithStdlib.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/util/TestResourceUtils.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/validation/expressions/CallChecker.kt
Owners: @Simple-ML/dsl

feat: prevent recursion in workflow steps and lambdas (#75)
  DSL/de.unibonn.simpleml.tests/resources/languageTests/validation/expressions/calls/recursion.simpleml
  DSL/de.unibonn.simpleml.tests/resources/languageTests/validation/other/argumentLists/uniqueParameters.simpleml
  DSL/de.unibonn.simpleml.tests/resources/languageTests/validation/statements/assignments/assigneeListCanBeRemoved.simpleml
  DSL/de.unibonn.simpleml.tests/resources/languageTests/validation/statements/assignments/nothingAssigned.simpleml
  DSL/de.unibonn.simpleml.tests/resources/languageTests/validation/statements/expressionStatements/hasNoEffect.simpleml
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/ProposalsTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/SimpleMLAstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/SimpleMLFormatterTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/SimpleMLLanguageTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/TypeComputerTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/assertions/FactbaseAssertions.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/assertions/NumberAssertions.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/assertions/ParsingAssertions.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/util/ParseWithStdlib.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/util/TestResourceUtils.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/validation/expressions/CallChecker.kt
Owners: @Simple-ML/dsl

ci: use native concurrency option to cancel duplicate workflow runs
  .github/workflows/mega-linter.yml
  .github/workflows/pr.yml
Owners: @lars-reimann

ci: use native concurrency option to cancel duplicate workflow runs
  .github/workflows/mega-linter.yml
  .github/workflows/pr.yml
Owners: @lars-reimann

feat: proper scoping of references
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/scoping/SimpleMLScopeProvider.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/validation/declarations/FunctionChecker.kt
Owners: @Simple-ML/dsl

test: update test of recursion check to new scoping rules
  DSL/de.unibonn.simpleml.tests/resources/languageTests/validation/expressions/calls/recursion.simpleml
Owners: @Simple-ML/dsl

chore: remove some println calls
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/scoping/SimpleMLScopeProvider.kt
Owners: @Simple-ML/dsl

feat: mark files as tests with ".test.simpleml" extension
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/validation/declarations/CompilationUnitChecker.kt
Owners: @Simple-ML/dsl

feat: implicitly import declarations from the same package
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/scoping/SimpleMLImportedNamespaceAwareLocalScopeProvider.kt
Owners: @Simple-ML/dsl
