Repository Simple-ML/Simple-ML, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Simple-ML/developers, @lars-reimann, @adanewitz, @khalid-abdalla, @s6fikass, @fakharabbas-3002, @sgottsch

.github/CODEOWNERS:

*                                                    @Simple-ML/developers
/.github/                                            @lars-reimann

/DSL/                                                @lars-reimann
/DSL/de.unibonn.simpleml.web/                        @adanewitz @khalid-abdalla

/Frontend/                                           @adanewitz @khalid-abdalla

/Runtime/.devcontainer/                              @lars-reimann
/Runtime/.vscode/                                    @lars-reimann
/Runtime/runtime/                                    @s6fikass
/Runtime/stdlib                                      @fakharabbas-3002 @sgottsch

fix: lint error
  Runtime/runtime/runtimeBridge.py
Owners: @s6fikass

style: apply automatic fixes of linters
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prologBridge/converters/AstToPrologFactbase.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prologBridge/model/facts/Facts.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/generator/SimpleMLGeneratorTest.kt
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/assertions/FactbaseAssertions.kt
  Runtime/runtime/runtimeBridge.py
Owners: @lars-reimann, @s6fikass

fix: http-405 on some requests
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.kt
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceResult.kt
Owners: @adanewitz, @khalid-abdalla

fix: memberAccess
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.kt
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/dto/CreateEntityDTO.kt
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/dto/ProcessMetadataDTO.kt
  Frontend/src/debugging/afterReactInit.js
Owners: @adanewitz, @khalid-abdalla

fix: missing proposals of non-global callables
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/editor/contentassist/Proposals.kt
  DSL/de.unibonn.simpleml.ide/src/test/kotlin/de/unibonn/simpleml/ide/editor/contentassist/ProposalsTest.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/scoping/IndexExtensions.kt
Owners: @lars-reimann

refactor: more precise return types
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/editor/contentassist/Proposals.kt
Owners: @lars-reimann

fix: missing proposals of non-global callables (#202)
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/editor/contentassist/Proposals.kt
  DSL/de.unibonn.simpleml.ide/src/test/kotlin/de/unibonn/simpleml/ide/editor/contentassist/ProposalsTest.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/scoping/IndexExtensions.kt
Owners: @lars-reimann

fix: missing proposals of non-global callables (#202)
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/editor/contentassist/Proposals.kt
  DSL/de.unibonn.simpleml.ide/src/test/kotlin/de/unibonn/simpleml/ide/editor/contentassist/ProposalsTest.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/scoping/IndexExtensions.kt
Owners: @lars-reimann

fix: some findings
  Frontend/src/emfMetadata/GenericDataSet/GenericDataSet.jsx
Owners: @adanewitz, @khalid-abdalla

feat: placeholder-naming modal for entity-creation
  Frontend/src/components/core/ContextMenu/ContextMenu.jsx
  Frontend/src/components/core/ContextMenu/contextMenu.module.scss
Owners: @adanewitz, @khalid-abdalla

build: bump Docker base image for runtime
  Runtime/Dockerfile
Owners: @Simple-ML/developers

build: bump Docker base image for runtime (#203)
  Runtime/Dockerfile
Owners: @Simple-ML/developers

build: bump Docker base image for runtime (#203)
  Runtime/Dockerfile
Owners: @Simple-ML/developers

ci: use Dependabot to keep Dockerfiles updated
  .github/dependabot.yml
Owners: @lars-reimann

style: apply automatic fixes of linters
  .github/dependabot.yml
Owners: @lars-reimann

ci: use Dependabot to keep Dockerfiles updated (#204)
  .github/dependabot.yml
Owners: @lars-reimann

ci: use Dependabot to keep Dockerfiles updated (#204)
  .github/dependabot.yml
Owners: @lars-reimann

docs: update installation instructions in README
  README.md
Owners: @Simple-ML/developers

docs: update installation instructions in README
  README.md
Owners: @Simple-ML/developers

docs: move DSL documentation to common folder
  docs/DSL/tutorial/Packages-and-Imports.md
  docs/DSL/tutorial/README.md
  docs/DSL/tutorial/Stub-Language-Classes.md
  docs/DSL/tutorial/Stub-Language-Enumerations.md
  docs/DSL/tutorial/Stub-Language-Global-Functions.md
  docs/DSL/tutorial/Stub-Language-Types.md
  docs/DSL/tutorial/Stub-Language.md
  docs/DSL/tutorial/Workflow-Language-Expressions.md
  docs/DSL/tutorial/Workflow-Language-Statements.md
  docs/DSL/tutorial/Workflow-Language-Workflow-Steps.md
  docs/DSL/tutorial/Workflow-Language-Workflows.md
  docs/DSL/tutorial/Workflow-Language.md
  docs/README.md
Owners: @Simple-ML/developers

docs: integrate README in docs folder into main README
  README.md
Owners: @Simple-ML/developers

docs: remove word
  README.md
Owners: @Simple-ML/developers

docs update README in docs folder
  docs/README.md
Owners: @Simple-ML/developers

docs: delete outdated installation instructions
  docs/Installation.md
Owners: @Simple-ML/developers

docs: improve homepage of tutorial
  docs/DSL/tutorial/README.md
Owners: @Simple-ML/developers

docs: put workflow, stub, and common concepts into separate folders
  docs/DSL/tutorial/README.md
  docs/DSL/tutorial/Stub-Language-Types.md
  docs/DSL/tutorial/Stub-Language.md
  docs/DSL/tutorial/Workflow-Language.md
  docs/DSL/tutorial/common/README.md
  docs/DSL/tutorial/common/packages-and-imports.md
  docs/DSL/tutorial/common/types.md
  docs/DSL/tutorial/stub-language/README.md
  docs/DSL/tutorial/stub-language/annotations.md
  docs/DSL/tutorial/stub-language/classes.md
  docs/DSL/tutorial/stub-language/enumerations.md
  docs/DSL/tutorial/stub-language/global-functions.md
  docs/DSL/tutorial/workflow-language/README.md
  docs/DSL/tutorial/workflow-language/expressions.md
  docs/DSL/tutorial/workflow-language/statements.md
  docs/DSL/tutorial/workflow-language/steps.md
  docs/DSL/tutorial/workflow-language/workflows.md
Owners: @Simple-ML/developers

docs: update tutorial for workflows
  docs/DSL/tutorial/workflow-language/workflows.md
Owners: @Simple-ML/developers

Update README.md
  docs/DSL/tutorial/workflow-language/README.md
Owners: @Simple-ML/developers

Update README.md
  docs/DSL/tutorial/stub-language/README.md
Owners: @Simple-ML/developers

Create comments.md
  docs/DSL/tutorial/common/comments.md
Owners: @Simple-ML/developers

Update README.md
  docs/DSL/tutorial/workflow-language/README.md
Owners: @Simple-ML/developers

Update workflows.md
  docs/DSL/tutorial/workflow-language/workflows.md
Owners: @Simple-ML/developers

Create parameters.md
  docs/DSL/tutorial/common/parameters.md
Owners: @Simple-ML/developers

Create results
  docs/DSL/tutorial/common/results
Owners: @Simple-ML/developers

Update steps.md
  docs/DSL/tutorial/workflow-language/steps.md
Owners: @Simple-ML/developers

Update README.md
  docs/DSL/tutorial/workflow-language/README.md
Owners: @Simple-ML/developers

Update README.md
  docs/DSL/tutorial/workflow-language/README.md
Owners: @Simple-ML/developers

Update README.md
  docs/DSL/tutorial/stub-language/README.md
Owners: @Simple-ML/developers

Update types.md
  docs/DSL/tutorial/common/types.md
Owners: @Simple-ML/developers

Update README.md
  docs/DSL/tutorial/README.md
Owners: @Simple-ML/developers
