Repository Simple-ML/Simple-ML, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Simple-ML/developers, @lars-reimann, @Simple-ML/dsl, @adanewitz, @Simple-ML/runtime, @s6fikass, @Simple-ML/stdlib, @fakharabbas-3002, @sgottsch

.github/CODEOWNERS:

*                                                                       @Simple-ML/developers
/.github/                                                               @lars-reimann

/DSL/                                                                   @Simple-ML/dsl
/DSL/.devcontainer/                                                     @lars-reimann
/DSL/.vscode/                                                           @lars-reimann
/DSL/client/                                                            @lars-reimann
/DSL/server/                                                            @lars-reimann
/DSL/server/de.unibonn.simpleml.parent/de.unibonn.simpleml.web/         @adanewitz

/Frontend/                                                              @adanewitz

/Runtime/                                                               @Simple-ML/runtime
/Runtime/.devcontainer/                                                 @lars-reimann
/Runtime/.vscode/                                                       @lars-reimann
/Runtime/runtime/                                                       @s6fikass
/Runtime/Dockerfile                                                     @lars-reimann

/Stdlib/                                                                @Simple-ML/stdlib
/Stdlib/.devcontainer/                                                  @lars-reimann
/Stdlib/.vscode/                                                        @lars-reimann
/Stdlib/data/                                                           @fakharabbas-3002 @sgottsch
/Stdlib/data_catalog/                                                   @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/data_catalog/                                   @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/ml_catalog/                                     @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/queries/                                        @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/rdf/                                            @fakharabbas-3002 @sgottsch
/Stdlib/stubs/                                                          @lars-reimann

fix: server error during code generation
  DSL/de.unibonn.simpleml.web/src/de/unibonn/simpleml/web/SimpleMLContentTypeProvider.kt
Owners: @Simple-ML/dsl

fix: server error during code generation
  DSL/de.unibonn.simpleml.web/src/de/unibonn/simpleml/web/SimpleMLContentTypeProvider.kt
Owners: @Simple-ML/dsl

update RDFLib version to 6.0.0
  Runtime/stdlib/python/environment.yml
  Runtime/stdlib/python/requirements.txt
Owners: @Simple-ML/runtime

update RDFLib version to 6.0.0
  Runtime/stdlib/python/environment.yml
  Runtime/stdlib/python/requirements.txt
Owners: @Simple-ML/runtime

data catalog: use local RDF data catalog by default
  Runtime/stdlib/python/simpleml/util/global_configurations.py
Owners: @Simple-ML/runtime

data catalog: use local RDF data catalog by default
  Runtime/stdlib/python/simpleml/util/global_configurations.py
Owners: @Simple-ML/runtime

chore: add IntelliJ project for DSL
  DSL/.idea/.gitignore
  DSL/.idea/.name
  DSL/.idea/compiler.xml
  DSL/.idea/gradle.xml
  DSL/.idea/misc.xml
  DSL/.idea/vcs.xml
Owners: @Simple-ML/dsl

chore: add IntelliJ project for DSL
  DSL/.idea/.gitignore
  DSL/.idea/.name
  DSL/.idea/compiler.xml
  DSL/.idea/gradle.xml
  DSL/.idea/misc.xml
  DSL/.idea/vcs.xml
Owners: @Simple-ML/dsl

fix: code generator (PlBridge)
  DSL/.idea/jarRepositories.xml
  DSL/.idea/misc.xml
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/CodeGenerator.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
Owners: @Simple-ML/dsl

fix: code generator (PlBridge)
  DSL/.idea/jarRepositories.xml
  DSL/.idea/misc.xml
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/CodeGenerator.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
Owners: @Simple-ML/dsl

feat: list all callables reachable from a given context
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/IndexTest.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/SimpleMLIndexExtensions.kt
Owners: @Simple-ML/dsl

feat: show only callables with primitive values
  DSL/.idea/gradle.xml
  DSL/build.gradle.kts
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/ProposalsTest.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/typing/TypeComputer.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/Proposals.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/SimpleMLIndexExtensions.kt
Owners: @Simple-ML/dsl

feat: show only callables with matching parameters
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/ProposalsTest.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/typing/TypeComputer.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/typing/TypeConformance.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/Proposals.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/QualifiedNameProvider.kt
Owners: @Simple-ML/dsl

style: lint errors
  DSL/.idea/codeStyles/codeStyleConfig.xml
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/typing/TypeComputer.kt
Owners: @Simple-ML/dsl

style: apply automatic fixes of linters
  report/IDE-config.txt
  report/IDE-config/.secretlintrc.json
  report/updated_sources/DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/Proposals.kt
Owners: @Simple-ML/developers

feat: list callables (#63)
  DSL/.idea/codeStyles/codeStyleConfig.xml
  DSL/.idea/gradle.xml
  DSL/build.gradle.kts
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/ProposalsTest.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/typing/TypeComputer.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/typing/TypeConformance.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/Proposals.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/QualifiedNameProvider.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/SimpleMLIndexExtensions.kt
  report/IDE-config.txt
  report/IDE-config/.secretlintrc.json
  report/updated_sources/DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/Proposals.kt
Owners: @Simple-ML/dsl, @Simple-ML/developers

feat: list callables (#63)
  DSL/.idea/codeStyles/codeStyleConfig.xml
  DSL/.idea/gradle.xml
  DSL/build.gradle.kts
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/ProposalsTest.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/typing/TypeComputer.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/typing/TypeConformance.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/Proposals.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/QualifiedNameProvider.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/SimpleMLIndexExtensions.kt
  report/IDE-config.txt
  report/IDE-config/.secretlintrc.json
  report/updated_sources/DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/Proposals.kt
Owners: @Simple-ML/dsl, @Simple-ML/developers

build(deps-dev): bump @types/node from 16.7.13 to 16.10.2 in /DSL/de.unibonn.simpleml.vscode
  DSL/de.unibonn.simpleml.vscode/build.gradle.kts
  DSL/de.unibonn.simpleml.vscode/package-lock.json
  DSL/de.unibonn.simpleml.vscode/package.json
Owners: @Simple-ML/dsl

build(deps-dev): bump @types/node from 16.7.13 to 16.10.2 in /DSL/de.unibonn.simpleml.vscode
  DSL/de.unibonn.simpleml.vscode/build.gradle.kts
  DSL/de.unibonn.simpleml.vscode/package-lock.json
  DSL/de.unibonn.simpleml.vscode/package.json
Owners: @Simple-ML/dsl

chore: remove linter report
  .gitignore
  report/IDE-config.txt
  report/IDE-config/.secretlintrc.json
  report/updated_sources/DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/Proposals.kt
Owners: @Simple-ML/developers

chore: remove linter report
  .gitignore
  report/IDE-config.txt
  report/IDE-config/.secretlintrc.json
  report/updated_sources/DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/Proposals.kt
Owners: @Simple-ML/developers

show ProcessNames in Frontend
  Frontend/src/components/EditorView/EditorView.jsx
  Frontend/src/components/EditorView/GraphicalEditor/GraphicalEditor.jsx
  Frontend/src/components/EditorView/GraphicalEditor/MxGraphVertexComponent.jsx
  Frontend/src/components/EditorView/MultiView/MultiView.jsx
  Frontend/src/components/EditorView/MultiView/MultiViewConfig.js
  Frontend/src/components/EditorView/MultiView/multiView.scss
  Frontend/src/components/EditorView/SideBar/SideBar.jsx
  Frontend/src/components/EditorView/SideBar/sideBar.module.scss
  Frontend/src/components/EditorView/editorView.module.scss
  Frontend/src/components/core/Modal/DataSetModal.jsx
  Frontend/src/debugging/afterReactInit.js
  Frontend/src/debugging/exposeToBrowserConsole.js
  Frontend/src/emfMetadata/GenericProcessCall/GenericProcessCall.jsx
  Frontend/src/emfMetadata/GenericProcessCall/genericProcessCall.module.scss
  Frontend/src/helper/EmfModelHelper.js
  Frontend/src/reducers/emfModel.js
  Frontend/src/reducers/root.js
  Frontend/src/serverConnection/XtextDefaultListeners.js
  Frontend/src/serverConnection/XtextServices.js
Owners: @adanewitz

show ProcessNames in Frontend
  Frontend/src/components/EditorView/EditorView.jsx
  Frontend/src/components/EditorView/GraphicalEditor/GraphicalEditor.jsx
  Frontend/src/components/EditorView/GraphicalEditor/MxGraphVertexComponent.jsx
  Frontend/src/components/EditorView/MultiView/MultiView.jsx
  Frontend/src/components/EditorView/MultiView/MultiViewConfig.js
  Frontend/src/components/EditorView/MultiView/multiView.scss
  Frontend/src/components/EditorView/SideBar/SideBar.jsx
  Frontend/src/components/EditorView/SideBar/sideBar.module.scss
  Frontend/src/components/EditorView/editorView.module.scss
  Frontend/src/components/core/Modal/DataSetModal.jsx
  Frontend/src/debugging/afterReactInit.js
  Frontend/src/debugging/exposeToBrowserConsole.js
  Frontend/src/emfMetadata/GenericProcessCall/GenericProcessCall.jsx
  Frontend/src/emfMetadata/GenericProcessCall/genericProcessCall.module.scss
  Frontend/src/helper/EmfModelHelper.js
  Frontend/src/reducers/emfModel.js
  Frontend/src/reducers/root.js
  Frontend/src/serverConnection/XtextDefaultListeners.js
  Frontend/src/serverConnection/XtextServices.js
Owners: @adanewitz

renamed Toolbar
  Frontend/src/components/EditorView/MultiView/Toolbar/Toolbar.jsx
  Frontend/src/components/EditorView/MultiView/Toolbar/toolbar.module.scss
  Frontend/src/components/EditorView/editorView.scss
  Frontend/src/images/toolbar/chart-viewbar.svg
  Frontend/src/images/toolbar/graph-viewbar.svg
  Frontend/src/images/toolbar/old/chart.svg
  Frontend/src/images/toolbar/old/flow.svg
  Frontend/src/images/toolbar/old/text-ide.svg
  Frontend/src/images/toolbar/old/tutorial.svg
  Frontend/src/images/toolbar/outline-viewbar.svg
  Frontend/src/images/toolbar/text-viewbar.svg
  Frontend/src/images/toolbar/tutorial-view.svg
Owners: @adanewitz

renamed Toolbar
  Frontend/src/components/EditorView/MultiView/Toolbar/Toolbar.jsx
  Frontend/src/components/EditorView/MultiView/Toolbar/toolbar.module.scss
  Frontend/src/components/EditorView/editorView.scss
  Frontend/src/images/toolbar/chart-viewbar.svg
  Frontend/src/images/toolbar/graph-viewbar.svg
  Frontend/src/images/toolbar/old/chart.svg
  Frontend/src/images/toolbar/old/flow.svg
  Frontend/src/images/toolbar/old/text-ide.svg
  Frontend/src/images/toolbar/old/tutorial.svg
  Frontend/src/images/toolbar/outline-viewbar.svg
  Frontend/src/images/toolbar/text-viewbar.svg
  Frontend/src/images/toolbar/tutorial-view.svg
Owners: @adanewitz

renamed Toolbar
  Frontend/src/components/EditorView/MultiView/SideToolbar/SideToolbar.jsx
  Frontend/src/components/EditorView/MultiView/SideToolbar/sideToolbar.module.scss
  Frontend/src/images/sideToolbar/chart-viewbar.svg
  Frontend/src/images/sideToolbar/graph-viewbar.svg
  Frontend/src/images/sideToolbar/old/chart.svg
  Frontend/src/images/sideToolbar/old/flow.svg
  Frontend/src/images/sideToolbar/old/text-ide.svg
  Frontend/src/images/sideToolbar/old/tutorial.svg
  Frontend/src/images/sideToolbar/outline-viewbar.svg
  Frontend/src/images/sideToolbar/text-viewbar.svg
  Frontend/src/images/sideToolbar/tutorial-view.svg
  Frontend/src/reducers/toolbar.js
Owners: @adanewitz

renamed Toolbar
  Frontend/src/components/EditorView/MultiView/SideToolbar/SideToolbar.jsx
  Frontend/src/components/EditorView/MultiView/SideToolbar/sideToolbar.module.scss
  Frontend/src/images/sideToolbar/chart-viewbar.svg
  Frontend/src/images/sideToolbar/graph-viewbar.svg
  Frontend/src/images/sideToolbar/old/chart.svg
  Frontend/src/images/sideToolbar/old/flow.svg
  Frontend/src/images/sideToolbar/old/text-ide.svg
  Frontend/src/images/sideToolbar/old/tutorial.svg
  Frontend/src/images/sideToolbar/outline-viewbar.svg
  Frontend/src/images/sideToolbar/text-viewbar.svg
  Frontend/src/images/sideToolbar/tutorial-view.svg
  Frontend/src/reducers/toolbar.js
Owners: @adanewitz

Backend-Route for fetching Process-Metadata
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/dto/ProcessMetadataDTO.xtend
Owners: @Simple-ML/dsl

Backend-Route for fetching Process-Metadata
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/dto/ProcessMetadataDTO.xtend
Owners: @Simple-ML/dsl

fix: formatter tests on Windows (#61)
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/SimpleMLFormatterTest.kt
Owners: @Simple-ML/dsl

fix: formatter tests on Windows (#61)
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/SimpleMLFormatterTest.kt
Owners: @Simple-ML/dsl

fix: ClassNotFoundException when using jettyRun with Gradle
  DSL/de.unibonn.simpleml.web/build.gradle.kts
Owners: @Simple-ML/dsl

style: apply automatic fixes of linters
  DSL/de.unibonn.simpleml.web/build.gradle.kts
Owners: @Simple-ML/dsl

fix: ClassNotFoundException when using jettyRun with Gradle (#64)
  DSL/de.unibonn.simpleml.web/build.gradle.kts
Owners: @Simple-ML/dsl

fix: ClassNotFoundException when using jettyRun with Gradle (#64)
  DSL/de.unibonn.simpleml.web/build.gradle.kts
Owners: @Simple-ML/dsl

processes catalog: code to generate plus data
  Runtime/stdlib/data_catalog/ml_catalog/process_catalog.ttl
  Runtime/stdlib/python/simpleml/ml_catalog/dsl_catalog_creation.py
Owners: @Simple-ML/runtime

processes catalog: code to generate plus data
  Runtime/stdlib/data_catalog/ml_catalog/process_catalog.ttl
  Runtime/stdlib/python/simpleml/ml_catalog/dsl_catalog_creation.py
Owners: @Simple-ML/runtime

ML catalog: code to generate plus data
  Runtime/stdlib/data_catalog/ml_processes_catalog/algorithms.json
  Runtime/stdlib/data_catalog/ml_processes_catalog/algorithms_blacklist.csv
  Runtime/stdlib/data_catalog/ml_processes_catalog/ml_catalog.ttl
  Runtime/stdlib/data_catalog/ml_processes_catalog/process_catalog.ttl
  Runtime/stdlib/python/simpleml/ml_catalog/_ml_catalog_creation.py
Owners: @Simple-ML/runtime

ML catalog: code to generate plus data
  Runtime/stdlib/data_catalog/ml_processes_catalog/algorithms.json
  Runtime/stdlib/data_catalog/ml_processes_catalog/algorithms_blacklist.csv
  Runtime/stdlib/data_catalog/ml_processes_catalog/ml_catalog.ttl
  Runtime/stdlib/data_catalog/ml_processes_catalog/process_catalog.ttl
  Runtime/stdlib/python/simpleml/ml_catalog/_ml_catalog_creation.py
Owners: @Simple-ML/runtime

EmfServiceDispatcher as Kotlin-Code
  DSL/de.unibonn.simpleml.web/build.gradle.kts
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceCollection.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.kt
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceResult.kt
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceResult.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/dto/AssociationDTO.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/dto/CreateAndAssociateEntityDTO.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/dto/CreateEntityDTO.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/dto/DeleteEntityDTO.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/dto/MultiTaskDTO.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/dto/ParameterDTO.kt
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/dto/ProcessMetadataDTO.kt
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/dto/ProcessMetadataDTO.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/dto/CreateEntityDTO.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Access/AccessHandler.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Access/ArrayAccess.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Access/EmfPathHelper.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Access/ObjectAccess.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Association/EmfAssociationHelper.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Creation/CreateAssignment.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Creation/CreateBooleanLiteral.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Creation/CreateExpressionStatement.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Creation/CreateFloatLiteral.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Creation/CreateIntegerLiteral.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Creation/CreateProcessCall.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Creation/CreateStringLiteral.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Creation/CreateUnconnectedExpressionStatement.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Creation/CreationHandler.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Creation/EmfCreationHelper.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Creation/Nested.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Deletion/DeletionHandler.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Deletion/DoNothing.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Deletion/EmfDeletionHelper.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Deletion/EntityAndReferenceDeletion.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Deletion/EntityDeletion.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Deletion/EntityDeletionIfEmptyContainer.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Deletion/MoveToUnconnectedStatements.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Deletion/NullForAssignment.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/exception/EmfException.xtend
Owners: @Simple-ML/dsl
