Repository Simple-ML/Simple-ML, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Simple-ML/developers, @lars-reimann, @adanewitz, @khalid-abdalla, @s6fikass, @fakharabbas-3002, @sgottsch

Attribute transformation functionality
  Runtime/stdlib/python/simpleml/dataset/_dataset.py
  Runtime/stdlib/test_scripts/winebasic_transform.py
Owners: @fakharabbas-3002, @sgottsch

Attribute transformation functionality
  Runtime/stdlib/python/simpleml/dataset/_dataset.py
  Runtime/stdlib/test_scripts/winebasic_transform.py
Owners: @fakharabbas-3002, @sgottsch

fix some problems with missing values in datasets, data types etc
  Runtime/stdlib/python/simpleml/data_catalog/_data_catalog.py
  Runtime/stdlib/python/simpleml/data_catalog/_domain_model.py
  Runtime/stdlib/python/simpleml/dataset/_dataset.py
  Runtime/stdlib/python/simpleml/dataset/_stats.py
  Runtime/stdlib/python/simpleml/rdf/_sparql_connector_local.py
  Runtime/stdlib/python/simpleml/util/jsonLabels_util.py
Owners: @fakharabbas-3002, @sgottsch

fix some problems with missing values in datasets, data types etc
  Runtime/stdlib/python/simpleml/data_catalog/_data_catalog.py
  Runtime/stdlib/python/simpleml/data_catalog/_domain_model.py
  Runtime/stdlib/python/simpleml/dataset/_dataset.py
  Runtime/stdlib/python/simpleml/dataset/_stats.py
  Runtime/stdlib/python/simpleml/rdf/_sparql_connector_local.py
  Runtime/stdlib/python/simpleml/util/jsonLabels_util.py
Owners: @fakharabbas-3002, @sgottsch

fix data catalog schemas
  Runtime/stdlib/data_catalog/schema/data_catalog_schema.ttl
  Runtime/stdlib/data_catalog/schema/mobility_schema.ttl
Owners: @fakharabbas-3002, @sgottsch

fix data catalog schemas
  Runtime/stdlib/data_catalog/schema/data_catalog_schema.ttl
  Runtime/stdlib/data_catalog/schema/mobility_schema.ttl
Owners: @fakharabbas-3002, @sgottsch

test: generator utils
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/GeneratorUtils.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/CollectionExtensions.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/generator/GeneratorUtilsTest.kt
Owners: @lars-reimann

fix: incorrect naming of functions that check for side effects
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/constant/SmlFileExtension.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/staticAnalysis/SideEffects.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/staticAnalysis/partialEvaluation/ToConstantExpression.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/stdlibAccess/StdlibAnnotations.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/statements/AssignmentChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/statements/ExpressionsStatementChecker.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/staticAnalysis/SideEffectsTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/generator/literals/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/staticAnalysis/sideEffects.smltest
Owners: @lars-reimann

refactor: remove functions from parse helper that don't include stdlib in resource set
  DSL/de.unibonn.simpleml.ide/src/test/kotlin/de/unibonn/simpleml/ide/editor/contentassist/ProposalsTest.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/IssueFinderTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/StdlibTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/conversion/SimpleMLIDValueConverterTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/conversion/SimpleMLINTValueConverterTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/conversion/SimpleMLQualifiedNameValueConverterTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/conversion/SimpleMLSTRINGValueConverterTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/conversion/SimpleMLTEMPLATE_STRING_ENDValueConverterTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/conversion/SimpleMLTEMPLATE_STRING_INNERValueConverterTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/conversion/SimpleMLTEMPLATE_STRING_STARTValueConverterTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/generator/SimpleMLGeneratorTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/scoping/ScopingTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/serializer/SerializerExtensionsTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/staticAnalysis/RecursionTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/staticAnalysis/SideEffectsTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/staticAnalysis/partialEvaluation/ToConstantExpressionTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/staticAnalysis/typing/TypeComputerTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/stdlibAccess/StdlibAnnotationsTest.kt
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/ParseHelper.kt
Owners: @lars-reimann

test: when parsing a resource remember its URI
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/ParseHelper.kt
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/TestResourceUtils.kt
Owners: @lars-reimann

docs: document parse helpers
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/ParseHelper.kt
Owners: @lars-reimann

test: test factory for generator tests
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/IssueFinderTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/generator/SimpleMLGeneratorTest.kt
Owners: @lars-reimann

test: check for errors in generator test files
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/generator/SimpleMLGeneratorTest.kt
Owners: @lars-reimann

fix bug about numeric statistics
  Runtime/stdlib/python/simpleml/dataset/_stats.py
Owners: @fakharabbas-3002, @sgottsch

fix bug about numeric statistics
  Runtime/stdlib/python/simpleml/dataset/_stats.py
Owners: @fakharabbas-3002, @sgottsch

docs: update precedence list
  docs/Workflow-Language-Expressions.md
Owners: @Simple-ML/developers

docs: how to update generator
  docs/DSL/development/how to add a new language concept.md
Owners: @Simple-ML/developers

test: store expected outputs of generator in `output` folder
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/stdlibAccess/StdlibAnnotations.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/generator/SimpleMLGeneratorTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/generator/literals/output/tests/generator/literals/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/literals/output/tests/generator/literals/gen_input_test.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/parenthesized expression/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/parenthesized expression/output/tests/generator/parenthesizedExpression/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/parenthesized expression/output/tests/generator/parenthesizedExpression/gen_input_test.py
Owners: @lars-reimann

build: remove additional environment.yml file for stdlib
  Runtime/README.md
  Runtime/stdlib/python/environment.yml
  Runtime/stdlib/python/setup.py
Owners: @Simple-ML/developers, @fakharabbas-3002, @sgottsch

feat: eager_or and eager_and in stdlib
  Runtime/.dockerignore
  Runtime/.gitignore
  Runtime/README.md
  Runtime/environment.yml
  Runtime/runtime/test_scripts/placeholder.py
  Runtime/stdlib/python/simpleml/codegen/__init__.py
  Runtime/stdlib/python/simpleml/codegen/_operators.py
  Runtime/stdlib/tests/simpleml/codegen/test_eager_and.py
  Runtime/stdlib/tests/simpleml/codegen/test_eager_elvis.py
  Runtime/stdlib/tests/simpleml/codegen/test_eager_or.py
Owners: @Simple-ML/developers, @s6fikass, @fakharabbas-3002, @sgottsch

feat: eager_elvis in stdlib
  Runtime/stdlib/python/simpleml/codegen/_operators.py
  Runtime/stdlib/tests/simpleml/codegen/test_eager_elvis.py
Owners: @fakharabbas-3002, @sgottsch

feat: safe_access in stdlib
  Runtime/stdlib/python/simpleml/codegen/_operators.py
  Runtime/stdlib/tests/simpleml/codegen/test_safe_access.py
Owners: @fakharabbas-3002, @sgottsch

feat: only import `save_placeHolder` if necessary
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
  DSL/de.unibonn.simpleml/src/test/resources/generator/literals/output/tests/generator/literals/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/parenthesized expression/output/tests/generator/parenthesizedExpression/gen_input.py
Owners: @lars-reimann

ci: do not lint Python files in test resources
  .github/workflows/megalinter.yml
Owners: @lars-reimann

feat: codegen for infix operations
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
  DSL/de.unibonn.simpleml/src/test/resources/generator/infix operation/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/infix operation/output/tests/generator/infixOperation/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/infix operation/output/tests/generator/infixOperation/gen_input_test.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/parenthesized expression/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/prefix operation/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/prefix operation/output/tests/generator/prefixOperation/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/prefix operation/output/tests/generator/prefixOperation/gen_input_test.py
Owners: @lars-reimann

ci: update Python build workflow
  .github/workflows/main.yml
  .github/workflows/pr.yml
  Runtime/.gitignore
  Runtime/runtime/test_scripts/getDatasets.py
Owners: @lars-reimann, @Simple-ML/developers, @s6fikass

feat: codegen for workflows
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
  DSL/de.unibonn.simpleml/src/test/resources/generator/declarations/empty workflow/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/declarations/empty workflow/output/tests/generator/emptyWorkflow/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/declarations/empty workflow/output/tests/generator/emptyWorkflow/gen_input_test.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/declarations/two workflows/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/declarations/two workflows/output/tests/generator/twoWorkflows/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/declarations/two workflows/output/tests/generator/twoWorkflows/gen_input_test1.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/declarations/two workflows/output/tests/generator/twoWorkflows/gen_input_test2.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/declarations/workflow with python name/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/declarations/workflow with python name/output/tests/generator/workflowWithPythonName/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/declarations/workflow with python name/output/tests/generator/workflowWithPythonName/gen_input_test_flow.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/infix operation/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/infix operation/output/tests/generator/infixOperation/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/infix operation/output/tests/generator/infixOperation/gen_input_test.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/literals/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/literals/output/tests/generator/literals/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/literals/output/tests/generator/literals/gen_input_test.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/parenthesized expression/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/parenthesized expression/output/tests/generator/parenthesizedExpression/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/parenthesized expression/output/tests/generator/parenthesizedExpression/gen_input_test.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/prefix operation/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/prefix operation/output/tests/generator/prefixOperation/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/prefix operation/output/tests/generator/prefixOperation/gen_input_test.py
Owners: @lars-reimann

feat: codegen for template strings
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/generator/SimpleMLGeneratorTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/template string/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/template string/output/tests/generator/templateString/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/template string/output/tests/generator/templateString/gen_input_test.py
Owners: @lars-reimann

feat: codegen for constant expressions
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/constant/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/constant/output/tests/generator/constant/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/constant/output/tests/generator/constant/gen_input_test.py
Owners: @lars-reimann

feat: codegen for indexed access
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/indexed access/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/indexed access/output/tests/generator/indexedAccess/gen_input.py
Owners: @lars-reimann

feat: codegen for expression lambdas
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/expressionLambda/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/expressionLambda/output/tests/generator/expressionLambda/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/expressionLambda/output/tests/generator/expressionLambda/gen_input_test.py
Owners: @lars-reimann

refactor: extract compilation of parameters
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
Owners: @lars-reimann

feat: codegen for references
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/reference/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/reference/output/tests/generator/reference/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/reference/output/tests/generator/reference/gen_input_test.py
Owners: @lars-reimann

fix: codegen for multiline strings
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/literals/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/literals/output/tests/generator/literals/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/template string/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/template string/output/tests/generator/templateString/gen_input.py
Owners: @lars-reimann

ci: possible fix for conda setup
  .github/workflows/main.yml
  .github/workflows/pr.yml
Owners: @lars-reimann

ci: another fix for failing build of runtime
  .github/workflows/main.yml
  .github/workflows/pr.yml
Owners: @lars-reimann

ci: another fix for failing build of runtime
  .github/workflows/main.yml
  .github/workflows/pr.yml
Owners: @lars-reimann

ci: separate artifacts for DSL and runtime test coverage
  .github/workflows/main.yml
  .github/workflows/pr.yml
Owners: @lars-reimann

test: failing tests
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationCalls/identical python module (1).smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationCalls/identical python module (2).smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationCalls/identical python name.smltest
Owners: @lars-reimann

feat: show info if `@PythonName` or `@PythonModule` are used unnecessarily
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/codes/InfoCode.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/other/AnnotationCallChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationCalls/identical python module (2).smltest
Owners: @lars-reimann

.github/CODEOWNERS:

*                                                    @Simple-ML/developers
/.github/                                            @lars-reimann

/DSL/                                                @lars-reimann
/DSL/de.unibonn.simpleml.web/                        @adanewitz @khalid-abdalla

/Frontend/                                           @adanewitz @khalid-abdalla

/Runtime/.devcontainer/                              @lars-reimann
/Runtime/.vscode/                                    @lars-reimann
/Runtime/runtime/                                    @s6fikass
/Runtime/stdlib                                      @fakharabbas-3002 @sgottsch
