Repository Simple-ML/Simple-ML, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Simple-ML/developers, @lars-reimann, @Simple-ML/dsl, @adanewitz, @Simple-ML/runtime, @s6fikass, @Simple-ML/stdlib, @fakharabbas-3002, @sgottsch

.github/CODEOWNERS:

*                                                                       @Simple-ML/developers
/.github/                                                               @lars-reimann

/DSL/                                                                   @Simple-ML/dsl
/DSL/.devcontainer/                                                     @lars-reimann
/DSL/.vscode/                                                           @lars-reimann
/DSL/client/                                                            @lars-reimann
/DSL/server/                                                            @lars-reimann
/DSL/server/de.unibonn.simpleml.parent/de.unibonn.simpleml.web/         @adanewitz

/Frontend/                                                              @adanewitz

/Runtime/                                                               @Simple-ML/runtime
/Runtime/.devcontainer/                                                 @lars-reimann
/Runtime/.vscode/                                                       @lars-reimann
/Runtime/runtime/                                                       @s6fikass
/Runtime/Dockerfile                                                     @lars-reimann

/Stdlib/                                                                @Simple-ML/stdlib
/Stdlib/.devcontainer/                                                  @lars-reimann
/Stdlib/.vscode/                                                        @lars-reimann
/Stdlib/data/                                                           @fakharabbas-3002 @sgottsch
/Stdlib/data_catalog/                                                   @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/data_catalog/                                   @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/ml_catalog/                                     @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/queries/                                        @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/rdf/                                            @fakharabbas-3002 @sgottsch
/Stdlib/stubs/                                                          @lars-reimann

test: failing tests
  DSL/de.unibonn.simpleml.web/WebRoot/xtext-resources/generated/mode-smlflow.js
  DSL/de.unibonn.simpleml/model/custom/SimpleML.ecore
  DSL/de.unibonn.simpleml/model/custom/SimpleML.genmodel
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/AccessShortcuts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/formatting2/SimpleMLFormatter.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/converters/AstToPrologFactbase.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/stdlib/StdlibEnums.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/TypeComputer.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/expressions/LambdaChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/statements/AssignmentChecker.kt
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/lang/coreAnnotations.smlstub
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/AstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/ScopingTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/astToPrologFactbase/annotationUses.smltest
  DSL/de.unibonn.simpleml/src/test/resources/astToPrologFactbase/declarations.smltest
  DSL/de.unibonn.simpleml/src/test/resources/astToPrologFactbase/expressions.smltest
  DSL/de.unibonn.simpleml/src/test/resources/astToPrologFactbase/statements.smltest
  DSL/de.unibonn.simpleml/src/test/resources/astToPrologFactbase/types.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/statements/assignment.smltest
  DSL/de.unibonn.simpleml/src/test/resources/grammar/statements/assignment.smltest
  DSL/de.unibonn.simpleml/src/test/resources/scoping/reference/main.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationUses/target.smltest
Owners: @Simple-ML/dsl

feat: update grammar
  DSL/de.unibonn.simpleml/model/custom/SimpleML.ecore
  DSL/de.unibonn.simpleml/model/custom/SimpleML.genmodel
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/AccessShortcuts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/other/AnnotationUseChecker.kt
Owners: @Simple-ML/dsl

fix: get everything running again
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/formatting2/SimpleMLFormatter.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/converters/AstToPrologFactbase.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/lang/coreAnnotations.smlstub
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/AstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationUses/target.smltest
Owners: @Simple-ML/dsl

style: apply automatic fixes of linters
  DSL/de.unibonn.simpleml.web/WebRoot/xtext-resources/generated/mode-smlflow.js
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/converters/AstToPrologFactbase.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/AstToPrologFactbaseTest.kt
Owners: @Simple-ML/dsl

feat: annotations for placeholders and lambda results (#111)
  DSL/de.unibonn.simpleml/model/custom/SimpleML.ecore
  DSL/de.unibonn.simpleml/model/custom/SimpleML.genmodel
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/AccessShortcuts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/formatting2/SimpleMLFormatter.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/converters/AstToPrologFactbase.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/stdlib/StdlibEnums.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/TypeComputer.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/expressions/LambdaChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/other/AnnotationUseChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/statements/AssignmentChecker.kt
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/lang/coreAnnotations.smlstub
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/AstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/ScopingTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/astToPrologFactbase/annotationUses.smltest
  DSL/de.unibonn.simpleml/src/test/resources/astToPrologFactbase/declarations.smltest
  DSL/de.unibonn.simpleml/src/test/resources/astToPrologFactbase/expressions.smltest
  DSL/de.unibonn.simpleml/src/test/resources/astToPrologFactbase/statements.smltest
  DSL/de.unibonn.simpleml/src/test/resources/astToPrologFactbase/types.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/statements/assignment.smltest
  DSL/de.unibonn.simpleml/src/test/resources/grammar/statements/assignment.smltest
  DSL/de.unibonn.simpleml/src/test/resources/scoping/reference/main.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationUses/target.smltest
Owners: @Simple-ML/dsl

feat: annotations for placeholders and lambda results (#111)
  DSL/de.unibonn.simpleml/model/custom/SimpleML.ecore
  DSL/de.unibonn.simpleml/model/custom/SimpleML.genmodel
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/AccessShortcuts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/formatting2/SimpleMLFormatter.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/converters/AstToPrologFactbase.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/stdlib/StdlibEnums.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/TypeComputer.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/expressions/LambdaChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/other/AnnotationUseChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/statements/AssignmentChecker.kt
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/lang/coreAnnotations.smlstub
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/AstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/ScopingTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/astToPrologFactbase/annotationUses.smltest
  DSL/de.unibonn.simpleml/src/test/resources/astToPrologFactbase/declarations.smltest
  DSL/de.unibonn.simpleml/src/test/resources/astToPrologFactbase/expressions.smltest
  DSL/de.unibonn.simpleml/src/test/resources/astToPrologFactbase/statements.smltest
  DSL/de.unibonn.simpleml/src/test/resources/astToPrologFactbase/types.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/statements/assignment.smltest
  DSL/de.unibonn.simpleml/src/test/resources/grammar/statements/assignment.smltest
  DSL/de.unibonn.simpleml/src/test/resources/scoping/reference/main.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationUses/target.smltest
Owners: @Simple-ML/dsl

docs: example how metrics could be integrated
  DSL/de.unibonn.simpleml.web/WebRoot/xtext-resources/generated/mode-smlflow.js
  examples/WineBasic/winebasic.smlflow
Owners: @Simple-ML/dsl, @Simple-ML/developers

docs: example how metrics could be integrated
  DSL/de.unibonn.simpleml.web/WebRoot/xtext-resources/generated/mode-smlflow.js
  examples/WineBasic/winebasic.smlflow
Owners: @Simple-ML/dsl, @Simple-ML/developers

feat: allow multiple inheritance of classes
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/codes/ErrorCode.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/ClassChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/classes/inheritedMembersMustHaveUniqueNames.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/classes/mustInheritOnlyOneClass.smltest
Owners: @Simple-ML/dsl

style: apply automatic fixes of linters
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
Owners: @Simple-ML/dsl

feat: allow multiple inheritance of classes (#112)
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/codes/ErrorCode.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/ClassChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/classes/inheritedMembersMustHaveUniqueNames.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/classes/mustInheritOnlyOneClass.smltest
Owners: @Simple-ML/dsl

feat: allow multiple inheritance of classes (#112)
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/codes/ErrorCode.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/ClassChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/classes/inheritedMembersMustHaveUniqueNames.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/classes/mustInheritOnlyOneClass.smltest
Owners: @Simple-ML/dsl

ci: trigger release workflow on release
  .github/workflows/release.yml
Owners: @lars-reimann

ci: trigger release workflow on release
  .github/workflows/release.yml
Owners: @lars-reimann

refactor: default Gradle project structure for IDE
  DSL/de.unibonn.simpleml.ide/build.gradle.kts
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/CustomServerModule.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/ServerLauncher2.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/SimpleMLHoverService.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/SimpleMLIdeModule.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/SimpleMLIdeSetup.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/SimpleMLProjectManager.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/contentassist/SimpleMLIdeContentProposalProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/GenerateSimpleML.mwe2
Owners: @Simple-ML/dsl

build: add test dependencies
  DSL/de.unibonn.simpleml.ide/build.gradle.kts
  DSL/de.unibonn.simpleml/build.gradle.kts
Owners: @Simple-ML/dsl

refactor: extract test range finder
  DSL/de.unibonn.simpleml.ide/.gitignore
  DSL/de.unibonn.simpleml.ide/build.gradle.kts
  DSL/de.unibonn.simpleml.ide/src/test/kotlin/de/unibonn/simpleml/ide/AbstractSimpleMLLanguageServerTest.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/constants/FileExtension.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/GeneratorUtils.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/locations/ProgramPosition.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/locations/ProgramRange.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/testing/TestMarker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/testing/TestRanges.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/SimpleMLStdlib.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/AstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/FormatterTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/IssueFinderTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/ProposalsTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/ScopingTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/SimpleMLInjectorProvider.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/StdlibTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/TypeComputerTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/assertions/EmfAssertions.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/assertions/FactbaseAssertions.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/assertions/NumberAssertions.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/assertions/ParsingAssertions.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/naming/QualifiedNameProviderTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/testing/TestRangesTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/util/ParseHelper.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/util/TestResourceUtils.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/statements/expressionStatements/hasNoEffect.smltest
Owners: @Simple-ML/dsl

style: apply automatic fixes of linters
  DSL/de.unibonn.simpleml.ide/build.gradle.kts
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/CustomServerModule.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/ServerLauncher2.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/SimpleMLHoverService.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/SimpleMLIdeModule.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/SimpleMLProjectManager.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/testing/TestRanges.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/AstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/ScopingTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/TypeComputerTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/naming/QualifiedNameProviderTest.kt
Owners: @Simple-ML/dsl

feat: add types to differentiate LSP and Xtext positions
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/locations/LspPosition.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/locations/LspRange.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/locations/ProgramRange.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/locations/ProgramRangeLength.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/locations/XtextPosition.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/locations/XtextRange.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/testing/TestRanges.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/IssueFinderTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/testing/TestRangesTest.kt
Owners: @Simple-ML/dsl

test: working unit test for document symbols
  DSL/de.unibonn.simpleml.ide/src/test/kotlin/de/unibonn/simpleml/ide/symbols/DocumentSymbolTest.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/locations/LspPosition.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/locations/LspRange.kt
Owners: @Simple-ML/dsl

refactor: extract test fixtures
  DSL/de.unibonn.simpleml.ide/src/test/kotlin/de/unibonn/simpleml/ide/symbols/DocumentSymbolTest.kt
  DSL/de.unibonn.simpleml/build.gradle.kts
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/AstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/FormatterTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/IssueFinderTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/ProposalsTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/ScopingTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/StdlibTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/TypeComputerTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/naming/QualifiedNameProviderTest.kt
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/ParseHelper.kt
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/SimpleMLInjectorProvider.kt
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/TestMarker.kt
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/TestRanges.kt
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/TestResourceUtils.kt
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/assertions/EmfAssertions.kt
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/assertions/FactbaseAssertions.kt
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/assertions/NumberAssertions.kt
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/assertions/ParsingAssertions.kt
Owners: @Simple-ML/dsl

test: failing test for document symbols
  DSL/de.unibonn.simpleml.ide/src/test/kotlin/de/unibonn/simpleml/ide/symbols/DocumentSymbolTest.kt
  DSL/de.unibonn.simpleml.ide/src/test/resources/symbols/enums.smltest
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/FormatterTest.kt
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/TestResourceUtils.kt
Owners: @Simple-ML/dsl

refactor: use singular for package names
  DSL/de.unibonn.simpleml.ide/src/test/kotlin/de/unibonn/simpleml/ide/symbol/DocumentSymbolTest.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/constant/FileExtension.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/GeneratorUtils.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/location/LspPosition.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/location/LspRange.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/location/ProgramRangeLength.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/location/XtextPosition.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/location/XtextRange.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/SimpleMLStdlib.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/CompilationUnitChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/PackageChecker.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/AstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/TypeComputerTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/testing/TestRangesTest.kt
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/TestRanges.kt
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/TestResourceUtils.kt
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/assertions/ParsingAssertions.kt
Owners: @Simple-ML/dsl

feat: mark symbols as deprecated
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/SimpleMLIdeModule.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/symbol/SimpleMLDocumentSymbolDeprecationInfoProvider.kt
Owners: @Simple-ML/dsl

feat: symbols for enums and enum variants
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/SimpleMLIdeModule.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/symbol/SimpleMLDocumentSymbolKindProvider.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/symbol/SimpleMLDocumentSymbolNameProvider.kt
  DSL/de.unibonn.simpleml.ide/src/test/kotlin/de/unibonn/simpleml/ide/symbol/DocumentSymbolTest.kt
  DSL/de.unibonn.simpleml.ide/src/test/resources/symbols/enums.smltest
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/IssueFinderTest.kt
Owners: @Simple-ML/dsl

feat: symbols for workflows
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/symbol/SimpleMLDocumentSymbolKindProvider.kt
  DSL/de.unibonn.simpleml.ide/src/test/kotlin/de/unibonn/simpleml/ide/AbstractSimpleMLLanguageServerTest.kt
  DSL/de.unibonn.simpleml.ide/src/test/kotlin/de/unibonn/simpleml/ide/symbol/DocumentSymbolTest.kt
  DSL/de.unibonn.simpleml.ide/src/test/resources/symbols/workflows.smltest
Owners: @Simple-ML/dsl

feat: symbols for workflow steps
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/symbol/SimpleMLDocumentSymbolKindProvider.kt
  DSL/de.unibonn.simpleml.ide/src/test/resources/symbols/workflowSteps.smltest
Owners: @Simple-ML/dsl

feat: symbols for classes
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/symbol/SimpleMLDocumentSymbolKindProvider.kt
  DSL/de.unibonn.simpleml.ide/src/test/resources/symbols/classes.smltest
  DSL/de.unibonn.simpleml.ide/src/test/resources/symbols/enumVariants.smltest
  DSL/de.unibonn.simpleml.ide/src/test/resources/symbols/enums.smltest
Owners: @Simple-ML/dsl

feat: symbols for annotations
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/symbol/SimpleMLDocumentSymbolKindProvider.kt
  DSL/de.unibonn.simpleml.ide/src/test/kotlin/de/unibonn/simpleml/ide/symbol/DocumentSymbolTest.kt
  DSL/de.unibonn.simpleml.ide/src/test/resources/symbols/annotations.smltest
Owners: @Simple-ML/dsl

feat: symbols for attributes
  DSL/de.unibonn.simpleml.ide/build.gradle.kts
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/symbol/SimpleMLDocumentSymbolKindProvider.kt
  DSL/de.unibonn.simpleml.ide/src/test/resources/symbols/attributes.smltest
Owners: @Simple-ML/dsl

feat: symbols for functions
  DSL/de.unibonn.simpleml.ide/build.gradle.kts
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/symbol/SimpleMLDocumentSymbolKindProvider.kt
  DSL/de.unibonn.simpleml.ide/src/test/resources/symbols/globalFunctions.smltest
  DSL/de.unibonn.simpleml.ide/src/test/resources/symbols/methods.smltest
Owners: @Simple-ML/dsl

feat: symbols for packages
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/symbol/SimpleMLDocumentSymbolKindProvider.kt
  DSL/de.unibonn.simpleml.ide/src/test/resources/symbols/packageMembers.smltest
  DSL/de.unibonn.simpleml.ide/src/test/resources/symbols/packages.smltest
Owners: @Simple-ML/dsl

feat: check that no symbols are generated for other declarations
  DSL/de.unibonn.simpleml.ide/src/test/resources/symbols/lambdaResults.smltest
  DSL/de.unibonn.simpleml.ide/src/test/resources/symbols/parameters.smltest
  DSL/de.unibonn.simpleml.ide/src/test/resources/symbols/placeholders.smltest
  DSL/de.unibonn.simpleml.ide/src/test/resources/symbols/results.smltest
  DSL/de.unibonn.simpleml.ide/src/test/resources/symbols/typeParameters.smltest
Owners: @Simple-ML/dsl

style: apply automatic fixes of linters
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/symbol/SimpleMLDocumentSymbolDeprecationInfoProvider.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/symbol/SimpleMLDocumentSymbolKindProvider.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/symbol/SimpleMLDocumentSymbolNameProvider.kt
  DSL/de.unibonn.simpleml.ide/src/test/kotlin/de/unibonn/simpleml/ide/symbol/DocumentSymbolTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/IssueFinderTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/ScopingTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/StdlibTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/naming/QualifiedNameProviderTest.kt
Owners: @Simple-ML/dsl

chore: add empty implementation of symbol details provider
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/SimpleMLIdeModule.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/symbol/SimpleMLDocumentSymbolDetailsProvider.kt
Owners: @Simple-ML/dsl

docs: update VS Code changelog
  DSL/de.unibonn.simpleml.vscode/CHANGELOG.md
Owners: @Simple-ML/dsl

docs: example implementation of CodeLens + Commands
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/CustomServerModule.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/SimpleMLIdeModule.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/codelens/SimpleMLCodeLensService.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/command/CommandId.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/command/SimpleMLExecutableCommandService.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/hover/SimpleMLHoverService.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/project/SimpleMLProjectManager.kt
Owners: @Simple-ML/dsl

chore: remove implementation for code lens and commands again
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/codelens/SimpleMLCodeLensService.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/command/CommandId.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/command/SimpleMLExecutableCommandService.kt
Owners: @Simple-ML/dsl

fix: linter error
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/codelens/SimpleMLCodeLensProvider.kt
Owners: @Simple-ML/dsl

style: apply automatic fixes of linters
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/codelens/SimpleMLCodeLensProvider.kt
Owners: @Simple-ML/dsl
