Repository Simple-ML/Simple-ML, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Simple-ML/developers, @lars-reimann, @Simple-ML/dsl, @adanewitz, @Simple-ML/runtime, @s6fikass, @Simple-ML/stdlib, @fakharabbas-3002, @sgottsch

feat: show error if receiver of unsafe access can be null (#148)
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/codes/ErrorCode.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/expressions/MemberAccessChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/grammar/expressions/memberAccess.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/expressions/memberAccess/missingSafeAccess.smltest
Owners: @Simple-ML/dsl

feat: show error if receiver of unsafe access can be null (#148)
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/codes/ErrorCode.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/expressions/MemberAccessChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/grammar/expressions/memberAccess.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/expressions/memberAccess/missingSafeAccess.smltest
Owners: @Simple-ML/dsl

Data filter and deleted some extra files
  .idea/workspace.xml
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/dataset/dataset.smlstub
  Runtime/stdlib/data/speadAverageNewSample.csv
  Runtime/stdlib/data/streets_corrupted_shuffled_1000_test.csv
  Runtime/stdlib/data/winequality-white_binary.csv
  Runtime/stdlib/python/simpleml/dataset/__init__.py
  Runtime/stdlib/python/simpleml/dataset/_dataset.py
  Runtime/stdlib/python/simpleml/dataset/_instance.py
  Stdlib/tests/winebasic.py
  Stdlib/tests/winebasic_filter.py
Owners: @Simple-ML/developers, @Simple-ML/dsl, @Simple-ML/runtime, @Simple-ML/stdlib

Data filter and deleted some extra files
  .idea/workspace.xml
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/dataset/dataset.smlstub
  Runtime/stdlib/data/speadAverageNewSample.csv
  Runtime/stdlib/data/streets_corrupted_shuffled_1000_test.csv
  Runtime/stdlib/data/winequality-white_binary.csv
  Runtime/stdlib/python/simpleml/dataset/__init__.py
  Runtime/stdlib/python/simpleml/dataset/_dataset.py
  Runtime/stdlib/python/simpleml/dataset/_instance.py
  Stdlib/tests/winebasic.py
  Stdlib/tests/winebasic_filter.py
Owners: @Simple-ML/developers, @Simple-ML/dsl, @Simple-ML/runtime, @Simple-ML/stdlib

ci: add missing execution of check tasks
  .github/workflows/main.yml
Owners: @lars-reimann

feat: add common subtype of all classes
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/stdlib/StdlibClasses.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/TypeComputer.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/Types.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ClassHierarchy.kt
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/lang/coreClasses.smlstub
Owners: @Simple-ML/dsl

fix: wrong type in stubs
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/dataset/dataset.smlstub
Owners: @Simple-ML/dsl

style: apply automatic fixes of linters
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ClassHierarchy.kt
Owners: @Simple-ML/dsl

feat: add common subclass `Nothing` (#149)
  .github/workflows/main.yml
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/stdlib/StdlibClasses.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/TypeComputer.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/Types.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ClassHierarchy.kt
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/dataset/dataset.smlstub
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/lang/coreClasses.smlstub
Owners: @lars-reimann, @Simple-ML/dsl

feat: add common subclass `Nothing` (#149)
  .github/workflows/main.yml
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/stdlib/StdlibClasses.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/TypeComputer.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/Types.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ClassHierarchy.kt
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/dataset/dataset.smlstub
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/lang/coreClasses.smlstub
Owners: @lars-reimann, @Simple-ML/dsl

feat: base cases for interpreter
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/interpreter/ExpressionInterpreter.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/interpreter/ExpressionInterpreterTest.kt
Owners: @Simple-ML/dsl

feat: additional conversions to constant expression
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/interpreter/ExpressionInterpreter.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/interpreter/SmlConstantExpression.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/interpreter/ToConstantExpression.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/interpreter/ExpressionInterpreterTest.kt
Owners: @Simple-ML/dsl

feat: remaining conversions for infix operations
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/interpreter/ToConstantExpression.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/interpreter/ToConstantExpressionTest.kt
Owners: @Simple-ML/dsl

feat: first batch of conversions for infix operations
  DSL/de.unibonn.simpleml/build.gradle.kts
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/interpreter/SmlConstantExpression.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/interpreter/ToConstantExpression.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/interpreter/ExpressionInterpreterTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/interpreter/ToConstantExpressionTest.kt
Owners: @Simple-ML/dsl

feat: conversion of template strings
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/interpreter/SmlConstantExpression.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/interpreter/ToConstantExpression.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/interpreter/ToConstantExpressionTest.kt
Owners: @Simple-ML/dsl

feat: start conversion of references
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/AccessShortcuts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/Creators.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/interpreter/SmlConstantExpression.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/interpreter/ToConstantExpression.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/interpreter/ToConstantExpressionTest.kt
Owners: @Simple-ML/dsl

refactor: some small changes to the class hierarchy for simplified expressions
  DSL/de.unibonn.simpleml/model/SimpleML.ecore
  DSL/de.unibonn.simpleml/model/SimpleML.genmodel
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/interpreter/SmlConstantExpression.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/interpreter/SmlSimplifiedExpression.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/interpreter/ToConstantExpression.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/interpreter/ToConstantExpressionTest.kt
Owners: @Simple-ML/dsl

refactor: move some classes to more appropriate packages
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/constant/SmlFileExtension.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/AccessShortcuts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/Adapters.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/Traversal.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/interpreter/ToConstantExpression.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/scoping/SimpleMLScopeProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/Adapters.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ClassHierarchy.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/CollectionUtils.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/ParameterChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/PlaceholderChecker.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/IssueFinderTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/ScopingTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/StdlibTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/conversion/SimpleMLINTValueConverterTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/conversion/SimpleMLSTRINGValueConverterTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/conversion/SimpleMLTEMPLATE_STRING_ENDValueConverterTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/conversion/SimpleMLTEMPLATE_STRING_INNERValueConverterTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/conversion/SimpleMLTEMPLATE_STRING_STARTValueConverterTest.kt
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/assertions/EmfAssertions.kt
Owners: @Simple-ML/dsl

feat: improved simplification for lambdas
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/interpreter/SmlSimplifiedExpression.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/interpreter/ToConstantExpression.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/interpreter/ToConstantExpressionTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/interpreter/interpreter.smltest
Owners: @Simple-ML/dsl

feat: simplification of references to steps
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/interpreter/ToConstantExpression.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/CollectionUtils.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/interpreter/ToConstantExpressionTest.kt
Owners: @Simple-ML/dsl

chore: remove some TODOs
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/interpreter/ToConstantExpression.kt
Owners: @Simple-ML/dsl

update package requirements (RDFLib, Pandas, Geopandas)
  Runtime/environment.yml
  Runtime/requirements.txt
  Runtime/stdlib/python/environment.yml
  Runtime/stdlib/python/requirements.txt
Owners: @Simple-ML/runtime

update package requirements (RDFLib, Pandas, Geopandas)
  Runtime/environment.yml
  Runtime/requirements.txt
  Runtime/stdlib/python/environment.yml
  Runtime/stdlib/python/requirements.txt
Owners: @Simple-ML/runtime

move stdlib "test" scripts to runtime folder
  Runtime/stdlib/test_scripts/JoinDatasets.py
  Runtime/stdlib/test_scripts/catalogs.py
  Runtime/stdlib/test_scripts/combined.py
  Runtime/stdlib/test_scripts/localDataset.py
  Runtime/stdlib/test_scripts/rossmann.py
  Runtime/stdlib/test_scripts/speedAveragesBasic.py
  Runtime/stdlib/test_scripts/winebasic.py
  Runtime/stdlib/test_scripts/winebasic_filter.py
  Runtime/stdlib/test_scripts/winebasic_rdf_export.py
Owners: @Simple-ML/runtime

move stdlib "test" scripts to runtime folder
  Runtime/stdlib/test_scripts/JoinDatasets.py
  Runtime/stdlib/test_scripts/catalogs.py
  Runtime/stdlib/test_scripts/combined.py
  Runtime/stdlib/test_scripts/localDataset.py
  Runtime/stdlib/test_scripts/rossmann.py
  Runtime/stdlib/test_scripts/speedAveragesBasic.py
  Runtime/stdlib/test_scripts/winebasic.py
  Runtime/stdlib/test_scripts/winebasic_filter.py
  Runtime/stdlib/test_scripts/winebasic_rdf_export.py
Owners: @Simple-ML/runtime

fix import problem
  Runtime/runtime/__main__.py
Owners: @s6fikass

fix import problem
  Runtime/runtime/__main__.py
Owners: @s6fikass

test: additional tests for recursive callables
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/partialEvaluation/SmlSimplifiedExpression.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/partialEvaluation/ToConstantExpression.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/partialEvaluation/ToConstantExpressionTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/interpreter/interpreter.smltest
Owners: @Simple-ML/dsl

* feat: add getRow function
  Runtime/stdlib/python/simpleml/dataset/_dataset.py
  Runtime/stdlib/python/simpleml/dataset/_instance.py
  Runtime/stdlib/test_scripts/winebasic_filter.py
Owners: @Simple-ML/runtime

* feat: add getRow function
  Runtime/stdlib/python/simpleml/dataset/_dataset.py
  Runtime/stdlib/python/simpleml/dataset/_instance.py
  Runtime/stdlib/test_scripts/winebasic_filter.py
Owners: @Simple-ML/runtime

feat: simplify references to parameters
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/partialEvaluation/ToConstantExpression.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/partialEvaluation/ToConstantExpressionTest.kt
Owners: @Simple-ML/dsl

feat: store substitutions during creation of lambdas
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/partialEvaluation/SmlSimplifiedExpression.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/partialEvaluation/ToConstantExpression.kt
Owners: @Simple-ML/dsl

feat: superclass for all callables in EMF model
  DSL/de.unibonn.simpleml/model/SimpleML.ecore
  DSL/de.unibonn.simpleml/model/SimpleML.genmodel
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/AccessShortcuts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/scoping/SimpleMLScopeProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/AnnotationChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/EnumVariantChecker.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/ScopingTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/partialEvaluation/ToConstantExpressionTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/interpreter/callables.smltest
  DSL/de.unibonn.simpleml/src/test/resources/interpreter/higherOrder.smltest
  DSL/de.unibonn.simpleml/src/test/resources/scoping/reference/main.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/expressions/calls/receiverMustBeCallable.smltest
Owners: @Simple-ML/dsl

fix: scoping of parameters of expression lambdas
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/AccessShortcuts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/scoping/SimpleMLScopeProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
Owners: @Simple-ML/dsl

Updating stub file for filter and getRow
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/dataset/dataset.smlstub
Owners: @Simple-ML/dsl

Updating stub file for filter and getRow
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/dataset/dataset.smlstub
Owners: @Simple-ML/dsl

fix: scoping of arguments in call to expression lambdas
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/ScopingTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/partialEvaluation/ToConstantExpressionTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/interpreter/higherOrder.smltest
  DSL/de.unibonn.simpleml/src/test/resources/partialEvaluation/callables.smltest
  DSL/de.unibonn.simpleml/src/test/resources/partialEvaluation/calls.smltest
  DSL/de.unibonn.simpleml/src/test/resources/scoping/argument/main.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/argumentLists/missingRequiredParameter.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/argumentLists/tooManyArguments.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/argumentLists/uniqueParameters.smltest
Owners: @Simple-ML/dsl

build: bump Kover to 0.5.0-RC
  DSL/build.gradle.kts
  DSL/de.unibonn.simpleml.ide/build.gradle.kts
  DSL/de.unibonn.simpleml/build.gradle.kts
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/partialEvaluation/ToConstantExpression.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/partialEvaluation/ToConstantExpressionTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/partialEvaluation/calls.smltest
Owners: @Simple-ML/dsl

feat: evaluate calls
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/partialEvaluation/SmlSimplifiedExpression.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/partialEvaluation/ToConstantExpression.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/partialEvaluation/ToConstantExpressionTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/partialEvaluation/calls.smltest
Owners: @Simple-ML/dsl

fix: failing test
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/partialEvaluation/SmlSimplifiedExpression.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/partialEvaluation/ToConstantExpression.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/partialEvaluation/ToConstantExpressionTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/argumentLists/missingRequiredParameter.smltest
Owners: @Simple-ML/dsl

.github/CODEOWNERS:

*                                                                       @Simple-ML/developers
/.github/                                                               @lars-reimann

/DSL/                                                                   @Simple-ML/dsl
/DSL/.devcontainer/                                                     @lars-reimann
/DSL/.vscode/                                                           @lars-reimann
/DSL/client/                                                            @lars-reimann
/DSL/server/                                                            @lars-reimann
/DSL/server/de.unibonn.simpleml.parent/de.unibonn.simpleml.web/         @adanewitz

/Frontend/                                                              @adanewitz

/Runtime/                                                               @Simple-ML/runtime
/Runtime/.devcontainer/                                                 @lars-reimann
/Runtime/.vscode/                                                       @lars-reimann
/Runtime/runtime/                                                       @s6fikass
/Runtime/Dockerfile                                                     @lars-reimann

/Stdlib/                                                                @Simple-ML/stdlib
/Stdlib/.devcontainer/                                                  @lars-reimann
/Stdlib/.vscode/                                                        @lars-reimann
/Stdlib/data/                                                           @fakharabbas-3002 @sgottsch
/Stdlib/data_catalog/                                                   @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/data_catalog/                                   @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/ml_catalog/                                     @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/queries/                                        @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/rdf/                                            @fakharabbas-3002 @sgottsch
/Stdlib/stubs/                                                          @lars-reimann
