Repository Simple-ML/Simple-ML, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Simple-ML/developers, @lars-reimann, @Simple-ML/dsl, @adanewitz, @Simple-ML/runtime, @s6fikass, @Simple-ML/stdlib, @fakharabbas-3002, @sgottsch

feat: evaluate result access
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/partialEvaluation/SmlSimplifiedExpression.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/partialEvaluation/ToConstantExpression.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/partialEvaluation/ToConstantExpressionTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/partialEvaluation/memberAccesses.smltest
Owners: @Simple-ML/dsl

feat: remaining cases that can be partially evaluated
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/partialEvaluation/SmlSimplifiedExpression.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/partialEvaluation/ToConstantExpression.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/partialEvaluation/ToConstantExpressionTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/partialEvaluation/references.smltest
Owners: @Simple-ML/dsl

fix: failing test
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/dataset/dataset.smlstub
Owners: @Simple-ML/dsl

fix: linter error
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/OriginalFilePath.kt
Owners: @Simple-ML/dsl

ci: don't store test coverage
  .github/workflows/main.yml
Owners: @lars-reimann

style: apply automatic fixes of linters
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/partialEvaluation/ToConstantExpression.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/scoping/SimpleMLScopeProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/ParameterChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/PlaceholderChecker.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/IssueFinderTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/ScopingTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/StdlibTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/conversion/SimpleMLINTValueConverterTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/conversion/SimpleMLSTRINGValueConverterTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/conversion/SimpleMLTEMPLATE_STRING_ENDValueConverterTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/conversion/SimpleMLTEMPLATE_STRING_INNERValueConverterTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/conversion/SimpleMLTEMPLATE_STRING_STARTValueConverterTest.kt
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/assertions/EmfAssertions.kt
Owners: @Simple-ML/dsl

test: add missing case
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/partialEvaluation/ToConstantExpressionTest.kt
Owners: @Simple-ML/dsl

build: reduce required test coverage
  DSL/de.unibonn.simpleml.ide/build.gradle.kts
  DSL/de.unibonn.simpleml/build.gradle.kts
Owners: @Simple-ML/dsl

ci: fix artifact paths
  .github/workflows/pr.yml
Owners: @lars-reimann

build: fix excludes in IDE project
  DSL/de.unibonn.simpleml.ide/build.gradle.kts
Owners: @Simple-ML/dsl

chore: exclude another package later
  DSL/de.unibonn.simpleml/build.gradle.kts
Owners: @Simple-ML/dsl

ci: fix paths in uploaded artifacts (#151)
  .github/workflows/pr.yml
  DSL/de.unibonn.simpleml.ide/build.gradle.kts
  DSL/de.unibonn.simpleml/build.gradle.kts
Owners: @lars-reimann, @Simple-ML/dsl

ci: fix paths in uploaded artifacts (#151)
  .github/workflows/pr.yml
  DSL/de.unibonn.simpleml.ide/build.gradle.kts
  DSL/de.unibonn.simpleml/build.gradle.kts
Owners: @lars-reimann, @Simple-ML/dsl

test: failing tests
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/partialEvaluation/ToConstantExpressionTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/partialEvaluation/references.smltest
Owners: @Simple-ML/dsl

fix: bug when evaluating calls to steps in which yields and results don't match
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/partialEvaluation/SmlSimplifiedExpression.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/partialEvaluation/ToConstantExpression.kt
Owners: @Simple-ML/dsl

style: apply automatic fixes of linters
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/partialEvaluation/ToConstantExpression.kt
Owners: @Simple-ML/dsl

fix: bug when evaluating calls to steps in which yields and results don't match (#152)
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/partialEvaluation/SmlSimplifiedExpression.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/partialEvaluation/ToConstantExpression.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/partialEvaluation/ToConstantExpressionTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/partialEvaluation/references.smltest
Owners: @Simple-ML/dsl

fix: bug when evaluating calls to steps in which yields and results don't match (#152)
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/partialEvaluation/SmlSimplifiedExpression.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/partialEvaluation/ToConstantExpression.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/partialEvaluation/ToConstantExpressionTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/partialEvaluation/references.smltest
Owners: @Simple-ML/dsl

refactor: rename AnnotationUse to AnnotationCall
  DSL/de.unibonn.simpleml.web/WebRoot/xtext-resources/generated/mode-smlflow.js
  DSL/de.unibonn.simpleml/model/SimpleML.ecore
  DSL/de.unibonn.simpleml/model/SimpleML.genmodel
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/AccessShortcuts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/Creators.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/formatting2/SimpleMLFormatter.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/converters/AstToPrologFactbase.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/scoping/SimpleMLScopeProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/stdlib/StdlibAnnotations.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/SimpleMLValidator.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/DeclarationChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/expressions/CallChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/other/AnnotationCallChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/other/DeprecationChecker.kt
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/lang/coreAnnotations.smlstub
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/AstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/ScopingTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/emf/CreatorsTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/astToPrologFactbase/annotationCalls.smltest
  DSL/de.unibonn.simpleml/src/test/resources/astToPrologFactbase/annotationUses.smltest
  DSL/de.unibonn.simpleml/src/test/resources/scoping/annotationCall/externalsInOtherPackage.smltest
  DSL/de.unibonn.simpleml/src/test/resources/scoping/annotationCall/externalsInSamePackage.smltest
  DSL/de.unibonn.simpleml/src/test/resources/scoping/annotationCall/main.smltest
  DSL/de.unibonn.simpleml/src/test/resources/scoping/annotationUse/externalsInSamePackage.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationCalls/cardinality.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationCalls/duplicateTarget.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationCalls/missingArgumentList.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationCalls/target.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationCalls/unnecessaryArgumentList.smltest
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/assertions/FactbaseAssertions.kt
Owners: @Simple-ML/dsl

style: apply automatic fixes of linters
  DSL/de.unibonn.simpleml.web/WebRoot/xtext-resources/generated/mode-smlflow.js
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/converters/AstToPrologFactbase.kt
Owners: @Simple-ML/dsl

refactor: rename AnnotationUse to AnnotationCall (#153)
  DSL/de.unibonn.simpleml/model/SimpleML.ecore
  DSL/de.unibonn.simpleml/model/SimpleML.genmodel
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/AccessShortcuts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/Creators.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/formatting2/SimpleMLFormatter.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/converters/AstToPrologFactbase.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/scoping/SimpleMLScopeProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/stdlib/StdlibAnnotations.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/SimpleMLValidator.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/DeclarationChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/expressions/CallChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/other/AnnotationCallChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/other/DeprecationChecker.kt
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/lang/coreAnnotations.smlstub
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/AstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/ScopingTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/emf/CreatorsTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/astToPrologFactbase/annotationCalls.smltest
  DSL/de.unibonn.simpleml/src/test/resources/astToPrologFactbase/annotationUses.smltest
  DSL/de.unibonn.simpleml/src/test/resources/scoping/annotationCall/externalsInOtherPackage.smltest
  DSL/de.unibonn.simpleml/src/test/resources/scoping/annotationCall/externalsInSamePackage.smltest
  DSL/de.unibonn.simpleml/src/test/resources/scoping/annotationCall/main.smltest
  DSL/de.unibonn.simpleml/src/test/resources/scoping/annotationUse/externalsInSamePackage.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationCalls/cardinality.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationCalls/duplicateTarget.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationCalls/missingArgumentList.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationCalls/target.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationCalls/unnecessaryArgumentList.smltest
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/assertions/FactbaseAssertions.kt
Owners: @Simple-ML/dsl

refactor: rename AnnotationUse to AnnotationCall (#153)
  DSL/de.unibonn.simpleml/model/SimpleML.ecore
  DSL/de.unibonn.simpleml/model/SimpleML.genmodel
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/AccessShortcuts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/Creators.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/formatting2/SimpleMLFormatter.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/converters/AstToPrologFactbase.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/scoping/SimpleMLScopeProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/stdlib/StdlibAnnotations.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/SimpleMLValidator.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/DeclarationChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/expressions/CallChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/other/AnnotationCallChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/other/DeprecationChecker.kt
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/lang/coreAnnotations.smlstub
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/AstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/ScopingTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/emf/CreatorsTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/astToPrologFactbase/annotationCalls.smltest
  DSL/de.unibonn.simpleml/src/test/resources/astToPrologFactbase/annotationUses.smltest
  DSL/de.unibonn.simpleml/src/test/resources/scoping/annotationCall/externalsInOtherPackage.smltest
  DSL/de.unibonn.simpleml/src/test/resources/scoping/annotationCall/externalsInSamePackage.smltest
  DSL/de.unibonn.simpleml/src/test/resources/scoping/annotationCall/main.smltest
  DSL/de.unibonn.simpleml/src/test/resources/scoping/annotationUse/externalsInSamePackage.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationCalls/cardinality.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationCalls/duplicateTarget.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationCalls/missingArgumentList.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationCalls/target.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationCalls/unnecessaryArgumentList.smltest
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/assertions/FactbaseAssertions.kt
Owners: @Simple-ML/dsl

feat: error if result of step is unassigned
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/partialEvaluation/ToConstantExpression.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/codes/ErrorCode.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/StepChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/steps/unassignedResult.smltest
Owners: @Simple-ML/dsl

style: apply automatic fixes of linters
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/StepChecker.kt
Owners: @Simple-ML/dsl

feat: error if result of step is unassigned (#154)
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/partialEvaluation/ToConstantExpression.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/codes/ErrorCode.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/StepChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/steps/unassignedResult.smltest
Owners: @Simple-ML/dsl

feat: error if result of step is unassigned (#154)
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/partialEvaluation/ToConstantExpression.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/codes/ErrorCode.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/StepChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/steps/unassignedResult.smltest
Owners: @Simple-ML/dsl

feat: error if result of step is assigned multiple times
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/AccessShortcuts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/codes/ErrorCode.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/StepChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/steps/duplicateYield.smltest
Owners: @Simple-ML/dsl

style: apply automatic fixes of linters
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/StepChecker.kt
Owners: @Simple-ML/dsl

feat: error if result of step is assigned multiple times (#155)
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/AccessShortcuts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/codes/ErrorCode.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/StepChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/steps/duplicateYield.smltest
Owners: @Simple-ML/dsl

feat: error if result of step is assigned multiple times (#155)
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/AccessShortcuts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/codes/ErrorCode.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/StepChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/steps/duplicateYield.smltest
Owners: @Simple-ML/dsl

feat: info if left operand of elvis operator is always null
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/expressions/InfixOperationChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/expressions/infixOperation/unnecessaryElvisOperator.smltest
Owners: @Simple-ML/dsl

feat: info if right operand of elvis operator is always null
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/TypeComputer.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/expressions/InfixOperationChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/expressions/infixOperation/unnecessaryElvisOperator.smltest
Owners: @Simple-ML/dsl

style: apply automatic fixes of linters
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/TypeComputer.kt
Owners: @Simple-ML/dsl

feat: info if elvis operator can be simplified (#156)
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/TypeComputer.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/expressions/InfixOperationChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/expressions/infixOperation/unnecessaryElvisOperator.smltest
Owners: @Simple-ML/dsl

feat: info if elvis operator can be simplified (#156)
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/TypeComputer.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/expressions/InfixOperationChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/expressions/infixOperation/unnecessaryElvisOperator.smltest
Owners: @Simple-ML/dsl

feat: error if value of argument in annotation call is not constant
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/codes/ErrorCode.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/other/AnnotationCallChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationCalls/arguments must be constant.smltest
Owners: @Simple-ML/dsl

feat: error if default value of parameter is not constant
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/ParameterChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/parameters/default value must be constant.smltest
Owners: @Simple-ML/dsl

feat: error if expression must be constant but is not (#157)
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/codes/ErrorCode.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/ParameterChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/other/AnnotationCallChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/parameters/default value must be constant.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationCalls/arguments must be constant.smltest
Owners: @Simple-ML/dsl

feat: error if expression must be constant but is not (#157)
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/codes/ErrorCode.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/ParameterChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/other/AnnotationCallChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/parameters/default value must be constant.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationCalls/arguments must be constant.smltest
Owners: @Simple-ML/dsl

refactor: remove unused Stdlib component
  Stdlib/.devcontainer/Dockerfile
  Stdlib/.devcontainer/devcontainer.json
  Stdlib/.gitignore
  Stdlib/.vscode/extensions.json
  Stdlib/.vscode/settings.json
  Stdlib/README.md
  Stdlib/data
  Stdlib/data_catalog
  Stdlib/python
  Stdlib/stubs
  Stdlib/tests/JoinDatasets.py
  Stdlib/tests/catalogs.py
  Stdlib/tests/combined.py
  Stdlib/tests/localDataset.py
  Stdlib/tests/rossmann.py
  Stdlib/tests/speedAveragesBasic.py
  Stdlib/tests/winebasic.py
  Stdlib/tests/winebasic_filter.py
  Stdlib/tests/winebasic_rdf_export.py
Owners: @lars-reimann, @Simple-ML/stdlib

.github/CODEOWNERS:

*                                                                       @Simple-ML/developers
/.github/                                                               @lars-reimann

/DSL/                                                                   @Simple-ML/dsl
/DSL/.devcontainer/                                                     @lars-reimann
/DSL/.vscode/                                                           @lars-reimann
/DSL/client/                                                            @lars-reimann
/DSL/server/                                                            @lars-reimann
/DSL/server/de.unibonn.simpleml.parent/de.unibonn.simpleml.web/         @adanewitz

/Frontend/                                                              @adanewitz

/Runtime/                                                               @Simple-ML/runtime
/Runtime/.devcontainer/                                                 @lars-reimann
/Runtime/.vscode/                                                       @lars-reimann
/Runtime/runtime/                                                       @s6fikass
/Runtime/Dockerfile                                                     @lars-reimann

/Stdlib/                                                                @Simple-ML/stdlib
/Stdlib/.devcontainer/                                                  @lars-reimann
/Stdlib/.vscode/                                                        @lars-reimann
/Stdlib/data/                                                           @fakharabbas-3002 @sgottsch
/Stdlib/data_catalog/                                                   @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/data_catalog/                                   @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/ml_catalog/                                     @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/queries/                                        @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/rdf/                                            @fakharabbas-3002 @sgottsch
/Stdlib/stubs/                                                          @lars-reimann
