Repository Simple-ML/Simple-ML, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Simple-ML/developers, @lars-reimann, @Simple-ML/dsl, @adanewitz, @Simple-ML/runtime, @s6fikass, @Simple-ML/stdlib, @fakharabbas-3002, @sgottsch

.github/CODEOWNERS:

*                                                                       @Simple-ML/developers
/.github/                                                               @lars-reimann

/DSL/                                                                   @Simple-ML/dsl
/DSL/.devcontainer/                                                     @lars-reimann
/DSL/.vscode/                                                           @lars-reimann
/DSL/client/                                                            @lars-reimann
/DSL/server/                                                            @lars-reimann
/DSL/server/de.unibonn.simpleml.parent/de.unibonn.simpleml.web/         @adanewitz

/Frontend/                                                              @adanewitz

/Runtime/                                                               @Simple-ML/runtime
/Runtime/.devcontainer/                                                 @lars-reimann
/Runtime/.vscode/                                                       @lars-reimann
/Runtime/runtime/                                                       @s6fikass
/Runtime/Dockerfile                                                     @lars-reimann

/Stdlib/                                                                @Simple-ML/stdlib
/Stdlib/.devcontainer/                                                  @lars-reimann
/Stdlib/.vscode/                                                        @lars-reimann
/Stdlib/data/                                                           @fakharabbas-3002 @sgottsch
/Stdlib/data_catalog/                                                   @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/data_catalog/                                   @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/ml_catalog/                                     @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/queries/                                        @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/rdf/                                            @fakharabbas-3002 @sgottsch
/Stdlib/stubs/                                                          @lars-reimann

chore: empty implementation for CodeLens and CommandExecutor (#115)
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/CustomServerModule.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/SimpleMLIdeModule.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/codelens/SimpleMLCodeLensProvider.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/command/CommandId.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/command/SimpleMLExecutableCommandService.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/hover/SimpleMLHoverService.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/project/SimpleMLProjectManager.kt
Owners: @Simple-ML/dsl

chore: empty implementation for CodeLens and CommandExecutor (#115)
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/CustomServerModule.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/SimpleMLIdeModule.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/codelens/SimpleMLCodeLensProvider.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/command/CommandId.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/command/SimpleMLExecutableCommandService.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/hover/SimpleMLHoverService.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/project/SimpleMLProjectManager.kt
Owners: @Simple-ML/dsl

refactor: align structure of IDE module with Xtext
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/CustomServerModule.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/SimpleMLIdeModule.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/editor/contentassist/SimpleMLIdeContentProposalProvider.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/server/codelens/SimpleMLCodeLensProvider.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/server/commands/CommandId.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/server/commands/SimpleMLExecutableCommandService.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/server/hover/SimpleMLHoverService.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/server/project/SimpleMLProjectManager.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/server/symbol/SimpleMLDocumentSymbolDeprecationInfoProvider.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/server/symbol/SimpleMLDocumentSymbolDetailsProvider.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/server/symbol/SimpleMLDocumentSymbolKindProvider.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/server/symbol/SimpleMLDocumentSymbolNameProvider.kt
  DSL/de.unibonn.simpleml.ide/src/test/kotlin/de/unibonn/simpleml/ide/server/symbol/DocumentSymbolTest.kt
Owners: @Simple-ML/dsl

refactor: align structure of IDE module with Xtext
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/CustomServerModule.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/SimpleMLIdeModule.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/editor/contentassist/SimpleMLIdeContentProposalProvider.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/server/codelens/SimpleMLCodeLensProvider.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/server/commands/CommandId.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/server/commands/SimpleMLExecutableCommandService.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/server/hover/SimpleMLHoverService.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/server/project/SimpleMLProjectManager.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/server/symbol/SimpleMLDocumentSymbolDeprecationInfoProvider.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/server/symbol/SimpleMLDocumentSymbolDetailsProvider.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/server/symbol/SimpleMLDocumentSymbolKindProvider.kt
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/server/symbol/SimpleMLDocumentSymbolNameProvider.kt
  DSL/de.unibonn.simpleml.ide/src/test/kotlin/de/unibonn/simpleml/ide/server/symbol/DocumentSymbolTest.kt
Owners: @Simple-ML/dsl

feat: filter proposals by passing multiple declarations
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/Proposals.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/ProposalsTest.kt
Owners: @Simple-ML/dsl

style: apply automatic fixes of linters
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/ProposalsTest.kt
Owners: @Simple-ML/dsl

feat: filter proposals by passing multiple declarations (#116)
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/Proposals.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/ProposalsTest.kt
Owners: @Simple-ML/dsl

feat: filter proposals by passing multiple declarations (#116)
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/Proposals.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/ProposalsTest.kt
Owners: @Simple-ML/dsl

feat: add an easy way to serialize EObjects (e.g. for debugging)
  DSL/de.unibonn.simpleml.ide/src/test/kotlin/de/unibonn/simpleml/ide/server/symbol/DocumentSymbolTest.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleMLRuntimeModule.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/formatting2/SimpleMLFormatter.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/naming/QualifiedNameProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/serializer/SerializerExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/FormatterTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/IssueFinderTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/emf/SerializerExtensionsTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/testing/TestRangesTest.kt
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/LineBreaks.kt
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/TestRanges.kt
Owners: @Simple-ML/dsl

style: apply automatic fixes of linters
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/FormatterTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/emf/SerializerExtensionsTest.kt
Owners: @Simple-ML/dsl

feat: add an easy way to serialize EObjects (e.g. for debugging) (#117)
  DSL/de.unibonn.simpleml.ide/src/test/kotlin/de/unibonn/simpleml/ide/server/symbol/DocumentSymbolTest.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleMLRuntimeModule.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/formatting2/SimpleMLFormatter.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/naming/QualifiedNameProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/serializer/SerializerExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/FormatterTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/IssueFinderTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/emf/SerializerExtensionsTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/testing/TestRangesTest.kt
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/LineBreaks.kt
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/TestRanges.kt
Owners: @Simple-ML/dsl

feat: add an easy way to serialize EObjects (e.g. for debugging) (#117)
  DSL/de.unibonn.simpleml.ide/src/test/kotlin/de/unibonn/simpleml/ide/server/symbol/DocumentSymbolTest.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleMLRuntimeModule.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/formatting2/SimpleMLFormatter.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/naming/QualifiedNameProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/serializer/SerializerExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/FormatterTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/IssueFinderTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/emf/SerializerExtensionsTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/testing/TestRangesTest.kt
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/LineBreaks.kt
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/TestRanges.kt
Owners: @Simple-ML/dsl

feat: improvements to serializer extensions
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/serializer/SerializerExtensions.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/emf/SerializerExtensionsTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/serialization/test.smltest
Owners: @Simple-ML/dsl

feat: improvements to serializer extensions
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/serializer/SerializerExtensions.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/emf/SerializerExtensionsTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/serialization/test.smltest
Owners: @Simple-ML/dsl

refactor: move test to correct folder
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/serializer/SerializerExtensionsTest.kt
Owners: @Simple-ML/dsl

refactor: move test to correct folder
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/serializer/SerializerExtensionsTest.kt
Owners: @Simple-ML/dsl

feat: fix python version for runtime
  DSL/README.md
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/components/EditorView/MultiView/Sidebar/Sidebar.jsx
  Frontend/src/debugging/afterReactInit.js
  Runtime/runtime/__main__.py
  Runtime/runtime/appServer.py
Owners: @Simple-ML/dsl, @adanewitz, @s6fikass

feat: fix python version for runtime
  DSL/README.md
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/components/EditorView/MultiView/Sidebar/Sidebar.jsx
  Frontend/src/debugging/afterReactInit.js
  Runtime/runtime/__main__.py
  Runtime/runtime/appServer.py
Owners: @Simple-ML/dsl, @adanewitz, @s6fikass

build: Kotlin-based replacement for the .mwe2 file
  DSL/build.gradle.kts
  DSL/buildSrc/build.gradle.kts
  DSL/buildSrc/src/main/kotlin/de/unibonn/simpleml/xtextConfiguration/XtextConfigurationDsl.kt
  DSL/de.unibonn.simpleml.ide/build.gradle.kts
  DSL/de.unibonn.simpleml/build.gradle.kts
  DSL/de.unibonn.simpleml/model/SimpleML.ecore
  DSL/de.unibonn.simpleml/model/SimpleML.genmodel
Owners: @Simple-ML/dsl

build: remove old dependencies
  DSL/buildSrc/build.gradle.kts
  DSL/de.unibonn.simpleml/build.gradle.kts
Owners: @Simple-ML/dsl

style: apply automatic fixes of linters
  DSL/build.gradle.kts
  DSL/buildSrc/src/main/kotlin/de/unibonn/simpleml/xtextConfiguration/XtextConfigurationDsl.kt
  DSL/de.unibonn.simpleml/build.gradle.kts
Owners: @Simple-ML/dsl

build: Kotlin-based replacement for the .mwe2 file (#118)
  DSL/build.gradle.kts
  DSL/buildSrc/build.gradle.kts
  DSL/buildSrc/src/main/kotlin/de/unibonn/simpleml/xtextConfiguration/XtextConfigurationDsl.kt
  DSL/de.unibonn.simpleml.ide/build.gradle.kts
  DSL/de.unibonn.simpleml/build.gradle.kts
  DSL/de.unibonn.simpleml/model/SimpleML.ecore
  DSL/de.unibonn.simpleml/model/SimpleML.genmodel
Owners: @Simple-ML/dsl

build: Kotlin-based replacement for the .mwe2 file (#118)
  DSL/build.gradle.kts
  DSL/buildSrc/build.gradle.kts
  DSL/buildSrc/src/main/kotlin/de/unibonn/simpleml/xtextConfiguration/XtextConfigurationDsl.kt
  DSL/de.unibonn.simpleml.ide/build.gradle.kts
  DSL/de.unibonn.simpleml/build.gradle.kts
  DSL/de.unibonn.simpleml/model/SimpleML.ecore
  DSL/de.unibonn.simpleml/model/SimpleML.genmodel
Owners: @Simple-ML/dsl

refactor: SmlAbstractObject as common supertype in model
  DSL/de.unibonn.simpleml/model/SimpleML.ecore
  DSL/de.unibonn.simpleml/model/SimpleML.genmodel
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/GenerateSimpleML.mwe2
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/converters/AstToPrologFactbase.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/utils/IdManager.kt
Owners: @Simple-ML/dsl

refactor: SmlAbstractObject as common supertype in model
  DSL/de.unibonn.simpleml/model/SimpleML.ecore
  DSL/de.unibonn.simpleml/model/SimpleML.genmodel
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/GenerateSimpleML.mwe2
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/converters/AstToPrologFactbase.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/utils/IdManager.kt
Owners: @Simple-ML/dsl

feat: start implementation of creators
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/constant/FileExtension.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/EObjectCreators.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/GeneratorUtils.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/SimpleMLStdlib.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/AstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/ScopingTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/TypeComputerTest.kt
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/TestResourceUtils.kt
Owners: @Simple-ML/dsl

feat: more creators
  DSL/buildSrc/src/main/kotlin/de/unibonn/simpleml/xtextConfiguration/XtextConfigurationDsl.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/Creators.kt
Owners: @Simple-ML/dsl

refactor: additional superclasses in model
  DSL/de.unibonn.simpleml/model/SimpleML.ecore
  DSL/de.unibonn.simpleml/model/SimpleML.genmodel
Owners: @Simple-ML/dsl

feat: next batch of creators
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/constant/FileExtension.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/Creators.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/GeneratorUtils.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/SimpleMLStdlib.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/AstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/ScopingTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/TypeComputerTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/emf/CreatorsTest.kt
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/TestResourceUtils.kt
Owners: @Simple-ML/dsl

feat: next batch of creators
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/Creators.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/emf/CreatorsTest.kt
Owners: @Simple-ML/dsl

feat: next batch of creators
  DSL/de.unibonn.simpleml/model/SimpleML.ecore
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/Creators.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/AstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/emf/CreatorsTest.kt
Owners: @Simple-ML/dsl

feat: last batch of creators
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/Creators.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/emf/CreatorsTest.kt
Owners: @Simple-ML/dsl

style: apply automatic fixes of linters
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/constant/FileExtension.kt
Owners: @Simple-ML/dsl

feat: creators for SmlObjects (#119)
  DSL/buildSrc/src/main/kotlin/de/unibonn/simpleml/xtextConfiguration/XtextConfigurationDsl.kt
  DSL/de.unibonn.simpleml/model/SimpleML.ecore
  DSL/de.unibonn.simpleml/model/SimpleML.genmodel
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/constant/FileExtension.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/Creators.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/GeneratorUtils.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/SimpleMLStdlib.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/AstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/ScopingTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/TypeComputerTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/emf/CreatorsTest.kt
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/TestResourceUtils.kt
Owners: @Simple-ML/dsl

feat: creators for SmlObjects (#119)
  DSL/buildSrc/src/main/kotlin/de/unibonn/simpleml/xtextConfiguration/XtextConfigurationDsl.kt
  DSL/de.unibonn.simpleml/model/SimpleML.ecore
  DSL/de.unibonn.simpleml/model/SimpleML.genmodel
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/constant/FileExtension.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/Creators.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/GeneratorUtils.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/SimpleMLStdlib.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/AstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/ScopingTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/TypeComputerTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/emf/CreatorsTest.kt
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/TestResourceUtils.kt
Owners: @Simple-ML/dsl

add the get available datasets functionality
  Runtime/runtime/__main__.py
  Runtime/runtime/appServer.py
  Runtime/runtime/test_scripts/test.py
  Runtime/runtime/test_scripts/test_placeholder.py
Owners: @s6fikass

add the get available datasets functionality
  Runtime/runtime/__main__.py
  Runtime/runtime/appServer.py
  Runtime/runtime/test_scripts/test.py
  Runtime/runtime/test_scripts/test_placeholder.py
Owners: @s6fikass

feat: first try to add value converters
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleMLRuntimeModule.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/conversion/SimpleMLDeclarativeValueConverterService.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/conversion/SimpleMLIDValueConverter.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/conversion/SimpleMLSTRINGValueConverter.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/resource/SimpleMLResourceDescriptionStrategy.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/conversion/SimpleMLIDValueConverterTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/conversion/SimpleMLSTRINGValueConverterTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/serializer/SerializerExtensionsTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/conversion/idValueConverter.smltest
  DSL/de.unibonn.simpleml/src/test/resources/conversion/stringValueConverter.smltest
  DSL/de.unibonn.simpleml/src/test/resources/grammar/expressions/literals/stringLiteral.smltest
  DSL/de.unibonn.simpleml/src/test/resources/serialization/extensionsTest.smltest
Owners: @Simple-ML/dsl

feat: working ID converter
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleMLRuntimeModule.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/conversion/SimpleMLIDValueConverter.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/conversion/SimpleMLSTRINGValueConverter.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/conversion/SimpleMLValueConverterService.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/conversion/SimpleMLIDValueConverterTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/conversion/idValueConverter.smltest
Owners: @Simple-ML/dsl

feat: working STRING converter
  DSL/build.gradle.kts
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/conversion/SimpleMLSTRINGValueConverter.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/serializer/SerializerExtensions.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/conversion/SimpleMLSTRINGValueConverterTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/emf/CreatorsTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/serializer/SerializerExtensionsTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/conversion/stringValueConverter.smltest
  DSL/de.unibonn.simpleml/src/test/resources/grammar/expressions/literals/stringLiteral.smltest
  DSL/de.unibonn.simpleml/src/test/resources/grammar/expressions/templateString_bad.smltest
Owners: @Simple-ML/dsl
