Repository Simple-ML/Simple-ML, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Simple-ML/developers, @lars-reimann, @Simple-ML/dsl, @adanewitz, @Simple-ML/runtime, @s6fikass, @Simple-ML/stdlib, @fakharabbas-3002, @sgottsch

ci: lower frequency of Dependabot checks
  .github/dependabot.yml
Owners: @lars-reimann

ci: lower frequency of Dependabot checks
  .github/dependabot.yml
Owners: @lars-reimann

ci: dependabot for Frontend
  .github/dependabot.yml
Owners: @lars-reimann

ci: dependabot for Frontend
  .github/dependabot.yml
Owners: @lars-reimann

ci: configure mega-linter
  .github/workflows/mega-linter.yml
  .mega-linter.yml
Owners: @lars-reimann, @Simple-ML/developers

ci: configure mega-linter (#37)
  .github/workflows/mega-linter.yml
  .mega-linter.yml
Owners: @lars-reimann, @Simple-ML/developers

ci: configure mega-linter (#37)
  .github/workflows/mega-linter.yml
  .mega-linter.yml
Owners: @lars-reimann, @Simple-ML/developers

docs: update READMEs
  DSL/README.md
  Frontend/README.md
  README.md
  Runtime/README.md
  Stdlib/README.md
Owners: @Simple-ML/dsl, @adanewitz, @Simple-ML/developers, @Simple-ML/runtime, @Simple-ML/stdlib

docs: update READMEs
  DSL/README.md
  Frontend/README.md
  README.md
  Runtime/README.md
  Stdlib/README.md
Owners: @Simple-ML/dsl, @adanewitz, @Simple-ML/developers, @Simple-ML/runtime, @Simple-ML/stdlib

chore: add old examples
  examples/Hello/helloWorld.simpleml
  examples/Wine/wine.py
  examples/Wine/wine.simpleml
  examples/Wine/winequality.csv
  examples/WineBasic/winebasic.simpleml
Owners: @Simple-ML/developers

chore: add old examples
  examples/Hello/helloWorld.simpleml
  examples/Wine/wine.py
  examples/Wine/wine.simpleml
  examples/Wine/winequality.csv
  examples/WineBasic/winebasic.simpleml
Owners: @Simple-ML/developers

ci: use Gradle cache from actions/setup-java
  .github/workflows/main.yml
  .github/workflows/pr.yml
Owners: @lars-reimann

ci: use Gradle cache from actions/setup-java (#52)
  .github/workflows/main.yml
  .github/workflows/pr.yml
Owners: @lars-reimann

ci: use Gradle cache from actions/setup-java (#52)
  .github/workflows/main.yml
  .github/workflows/pr.yml
Owners: @lars-reimann

build(deps): bump Gradle dependencies
  DSL/build.gradle.kts
  DSL/de.unibonn.simpleml.tests/build.gradle.kts
Owners: @Simple-ML/dsl

build(deps): bump Gradle dependencies
  DSL/build.gradle.kts
  DSL/de.unibonn.simpleml.tests/build.gradle.kts
Owners: @Simple-ML/dsl

wiki: make side bar the readme file
  docs/README.md
Owners: @Simple-ML/developers

wiki: make side bar the readme file
  docs/README.md
Owners: @Simple-ML/developers

Rename Front-End-:-Storybook.md to Front-End-Storybook.md
  docs/Front-End-Storybook.md
Owners: @Simple-ML/developers

Rename Front-End-:-Storybook.md to Front-End-Storybook.md
  docs/Front-End-Storybook.md
Owners: @Simple-ML/developers

Rename Tutorial:-The-Simple-ML-Interface.md to Tutorial-The-Simple-ML-Interface.md
  docs/Tutorial-The-Simple-ML-Interface.md
Owners: @Simple-ML/developers

Rename Tutorial:-The-Simple-ML-Interface.md to Tutorial-The-Simple-ML-Interface.md
  docs/Tutorial-The-Simple-ML-Interface.md
Owners: @Simple-ML/developers

Rename Tutorial:-Basic-Concepts.md to Tutorial-Basic-Concepts.md
  docs/Tutorial-Basic-Concepts.md
Owners: @Simple-ML/developers

Rename Tutorial:-Basic-Concepts.md to Tutorial-Basic-Concepts.md
  docs/Tutorial-Basic-Concepts.md
Owners: @Simple-ML/developers

wiki: Update links
  docs/README.md
Owners: @Simple-ML/developers

wiki: Update links
  docs/README.md
Owners: @Simple-ML/developers

wiki: update links
  docs/Tutorial.md
Owners: @Simple-ML/developers

wiki: update links
  docs/Tutorial.md
Owners: @Simple-ML/developers

wiki: merge home and side bar
  docs/README.md
Owners: @Simple-ML/developers

wiki: merge home and side bar
  docs/README.md
Owners: @Simple-ML/developers

wiki: delete home.md (because it was moved to README.md)
  docs/Home.md
Owners: @Simple-ML/developers

wiki: delete home.md (because it was moved to README.md)
  docs/Home.md
Owners: @Simple-ML/developers

stdlib: fix readme
  Stdlib/README.md
Owners: @Simple-ML/stdlib

stdlib: fix readme
  Stdlib/README.md
Owners: @Simple-ML/stdlib

fix prefix error for subClassOf
  Runtime/stdlib/python/simpleml/data_catalog/_domain_model.py
Owners: @Simple-ML/runtime

fix prefix error for subClassOf
  Runtime/stdlib/python/simpleml/data_catalog/_domain_model.py
Owners: @Simple-ML/runtime

build: change order of operations in Runtime Dockerfile to improve layer caching
  Runtime/Dockerfile
Owners: @lars-reimann

build: change order of operations in Runtime Dockerfile to improve layer caching
  Runtime/Dockerfile
Owners: @lars-reimann

build: add storybook dependencies
  Frontend/package-lock.json
  Frontend/package.json
Owners: @adanewitz

build: add storybook dependencies
  Frontend/package-lock.json
  Frontend/package.json
Owners: @adanewitz

.github/CODEOWNERS:

*                                                                       @Simple-ML/developers
/.github/                                                               @lars-reimann

/DSL/                                                                   @Simple-ML/dsl
/DSL/.devcontainer/                                                     @lars-reimann
/DSL/.vscode/                                                           @lars-reimann
/DSL/client/                                                            @lars-reimann
/DSL/server/                                                            @lars-reimann
/DSL/server/de.unibonn.simpleml.parent/de.unibonn.simpleml.web/         @adanewitz

/Frontend/                                                              @adanewitz

/Runtime/                                                               @Simple-ML/runtime
/Runtime/.devcontainer/                                                 @lars-reimann
/Runtime/.vscode/                                                       @lars-reimann
/Runtime/runtime/                                                       @s6fikass
/Runtime/Dockerfile                                                     @lars-reimann

/Stdlib/                                                                @Simple-ML/stdlib
/Stdlib/.devcontainer/                                                  @lars-reimann
/Stdlib/.vscode/                                                        @lars-reimann
/Stdlib/data/                                                           @fakharabbas-3002 @sgottsch
/Stdlib/data_catalog/                                                   @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/data_catalog/                                   @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/ml_catalog/                                     @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/queries/                                        @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/rdf/                                            @fakharabbas-3002 @sgottsch
/Stdlib/stubs/                                                          @lars-reimann
