Repository Simple-ML/Simple-ML, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Simple-ML/developers, @lars-reimann, @adanewitz, @khalid-abdalla, @s6fikass, @fakharabbas-3002, @sgottsch

.github/CODEOWNERS:

*                                                    @Simple-ML/developers
/.github/                                            @lars-reimann

/DSL/                                                @lars-reimann
/DSL/de.unibonn.simpleml.web/                        @adanewitz @khalid-abdalla

/Frontend/                                           @adanewitz @khalid-abdalla

/Runtime/.devcontainer/                              @lars-reimann
/Runtime/.vscode/                                    @lars-reimann
/Runtime/runtime/                                    @s6fikass
/Runtime/stdlib                                      @fakharabbas-3002 @sgottsch

feat: show info if `@PythonName` or `@PythonModule` are used unnecessarily (#198)
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/codes/InfoCode.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/other/AnnotationCallChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationCalls/identical python module (1).smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationCalls/identical python module (2).smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationCalls/identical python name.smltest
Owners: @lars-reimann

feat: show info if `@PythonName` or `@PythonModule` are used unnecessarily (#198)
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/codes/InfoCode.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/other/AnnotationCallChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationCalls/identical python module (1).smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationCalls/identical python module (2).smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationCalls/identical python name.smltest
Owners: @lars-reimann

feat: remove parentheses around assignee lists
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/formatting2/SimpleMLFormatter.kt
  DSL/de.unibonn.simpleml/src/test/resources/astToPrologFactbase/statements.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/statements/assignment.smltest
  DSL/de.unibonn.simpleml/src/test/resources/grammar/statements/assignment.smltest
  DSL/de.unibonn.simpleml/src/test/resources/grammar/trailingCommas/inAssignment_AssigneeList.smltest
  DSL/de.unibonn.simpleml/src/test/resources/partialEvaluation/references.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/deprecation.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/expressions/calls/context.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/statements/assignments/nothingAssigned.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/statements/assignments/unnecessaryAssignment.smltest
Owners: @lars-reimann

docs: update docs for assignment to new syntax
  docs/Workflow-Language-Statements.md
Owners: @Simple-ML/developers

style: apply automatic fixes of linters
  docs/Workflow-Language-Statements.md
Owners: @Simple-ML/developers

test: IdManager
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prologBridge/converters/AstToPrologFactbase.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prologBridge/model/facts/Factbase.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prologBridge/model/facts/Facts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prologBridge/model/facts/Terms.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/IdManager.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/utils/IdManagerTest.kt
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/assertions/FactbaseAssertions.kt
Owners: @lars-reimann

refactor: organize imports
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
Owners: @lars-reimann

feat: show an error if declarations have name that starts with "__block_lambda"
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/codes/ErrorCode.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/NameConventionChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/nameConvention/block lambda prefix.smltest
Owners: @lars-reimann

test: codegen for expression statements
  DSL/de.unibonn.simpleml/src/test/resources/generator/statements/expression statement/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/statements/expression statement/output/tests/generator/expressionStatement/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/statements/expression statement/output/tests/generator/expressionStatement/gen_input_testFlow.py
Owners: @lars-reimann

test: codegen for assignments
  DSL/de.unibonn.simpleml/src/test/resources/generator/statements/assignment/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/statements/assignment/output/tests/generator/assignment/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/statements/assignment/output/tests/generator/assignment/gen_input_testFlow.py
Owners: @lars-reimann

feat: remove parentheses around assignee lists (#199)
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/formatting2/SimpleMLFormatter.kt
  DSL/de.unibonn.simpleml/src/test/resources/astToPrologFactbase/statements.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/statements/assignment.smltest
  DSL/de.unibonn.simpleml/src/test/resources/grammar/statements/assignment.smltest
  DSL/de.unibonn.simpleml/src/test/resources/grammar/trailingCommas/inAssignment_AssigneeList.smltest
  DSL/de.unibonn.simpleml/src/test/resources/partialEvaluation/references.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/deprecation.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/expressions/calls/context.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/statements/assignments/nothingAssigned.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/statements/assignments/unnecessaryAssignment.smltest
  docs/Workflow-Language-Statements.md
Owners: @lars-reimann, @Simple-ML/developers

feat: remove parentheses around assignee lists (#199)
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/formatting2/SimpleMLFormatter.kt
  DSL/de.unibonn.simpleml/src/test/resources/astToPrologFactbase/statements.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/statements/assignment.smltest
  DSL/de.unibonn.simpleml/src/test/resources/grammar/statements/assignment.smltest
  DSL/de.unibonn.simpleml/src/test/resources/grammar/trailingCommas/inAssignment_AssigneeList.smltest
  DSL/de.unibonn.simpleml/src/test/resources/partialEvaluation/references.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/deprecation.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/expressions/calls/context.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/statements/assignments/nothingAssigned.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/statements/assignments/unnecessaryAssignment.smltest
  docs/Workflow-Language-Statements.md
Owners: @lars-reimann, @Simple-ML/developers

Update afterReactInit.js
  Frontend/src/debugging/afterReactInit.js
Owners: @adanewitz, @khalid-abdalla

Update afterReactInit.js
  Frontend/src/debugging/afterReactInit.js
Owners: @adanewitz, @khalid-abdalla

test: failing tests for codegen for block lambdas
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/block lambda/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/block lambda/output/tests/generator/blockLambda/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/block lambda/output/tests/generator/blockLambda/gen_input_test.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/expression lambda/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/expression lambda/output/tests/generator/expressionLambda/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/expression lambda/output/tests/generator/expressionLambda/gen_input_test.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/statements/assignment/input.smltest
Owners: @lars-reimann

feat: method to reset IdManager
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/IdManager.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/utils/IdManagerTest.kt
Owners: @lars-reimann

refactor: split `listCallables` into two functions
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/editor/contentassist/Proposals.kt
  DSL/de.unibonn.simpleml.ide/src/test/kotlin/de/unibonn/simpleml/ide/editor/contentassist/ProposalsTest.kt
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.kt
Owners: @lars-reimann, @adanewitz, @khalid-abdalla

style: apply automatic fixes of linters
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.kt
Owners: @adanewitz, @khalid-abdalla

test: normalize line breaks
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/generator/SimpleMLGeneratorTest.kt
Owners: @lars-reimann

refactor: split `listCallables` into two functions (#200)
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/editor/contentassist/Proposals.kt
  DSL/de.unibonn.simpleml.ide/src/test/kotlin/de/unibonn/simpleml/ide/editor/contentassist/ProposalsTest.kt
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.kt
Owners: @lars-reimann, @adanewitz, @khalid-abdalla

refactor: split `listCallables` into two functions (#200)
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/editor/contentassist/Proposals.kt
  DSL/de.unibonn.simpleml.ide/src/test/kotlin/de/unibonn/simpleml/ide/editor/contentassist/ProposalsTest.kt
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.kt
Owners: @lars-reimann, @adanewitz, @khalid-abdalla

refactor: rename save_placeHolder
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/block lambda/output/tests/generator/blockLambda/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/statements/assignment/output/tests/generator/assignment/gen_input.py
  Runtime/runtime/runtimeBridge.py
Owners: @lars-reimann, @s6fikass

feat: codegen for block lambdas and statements
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
Owners: @lars-reimann

feat: respect Python name of parameters
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
  DSL/de.unibonn.simpleml/src/test/resources/generator/declarations/parameter with python name/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/declarations/parameter with python name/output/tests/generator/parameterWithPythonName/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/block lambda/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/block lambda/output/tests/generator/blockLambda/gen_input.py
Owners: @lars-reimann

feat: codegen for steps
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
  DSL/de.unibonn.simpleml/src/test/resources/generator/declarations/empty step/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/declarations/empty step/output/tests/generator/emptyStep/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/declarations/step with python name/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/declarations/step with python name/output/tests/generator/stepWithPythonName/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/declarations/two steps/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/declarations/two steps/output/tests/generator/twoSteps/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/block lambda/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/block lambda/output/tests/generator/blockLambda/gen_input.py
Owners: @lars-reimann

feat: don't generate code for useless statements
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/staticAnalysis/SideEffects.kt
  DSL/de.unibonn.simpleml/src/test/resources/generator/statements/statement without effect/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/statements/statement without effect/output/tests/generator/statementWithoutEffect/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/statements/statement without effect/output/tests/generator/statementWithoutEffect/gen_input_testFlow.py
Owners: @lars-reimann

test: show errors in generator test files
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/generator/SimpleMLGeneratorTest.kt
Owners: @lars-reimann

fix: scoping and suggestions for variadic parameters
  DSL/de.unibonn.simpleml.ide/src/main/kotlin/de/unibonn/simpleml/ide/editor/contentassist/SimpleMLIdeContentProposalProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/scoping/SimpleMLScopeProvider.kt
Owners: @lars-reimann

fix: assignment to variadic parameters after a named argument
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/staticAnalysis/linking/ArgumentToParameter.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/codes/ErrorCode.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/expressions/ArgumentChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/other/ArgumentListChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/call/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/call/output/tests/generator/call/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/call/output/tests/generator/call/gen_input_test.py
  DSL/de.unibonn.simpleml/src/test/resources/validation/expressions/arguments/variadic parameter assigned by name.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/argumentLists/noPositionalArgumentsAfterFirstNamedArgument.smltest
Owners: @lars-reimann

feat: error if combining
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/codes/ErrorCode.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/ParameterListChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/other/ArgumentListChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/call/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/call/output/tests/generator/call/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/parameterLists/no optional and variadic parameters.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/parameterLists/noRequiredParametersAfterFirstOptionalParameter.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/argumentLists/noPositionalArgumentsAfterFirstNamedArgument.smltest
Owners: @lars-reimann

test: update codegen tests
  DSL/de.unibonn.simpleml/src/test/resources/generator/declarations/parameter with python name/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/declarations/parameter with python name/output/tests/generator/parameterWithPythonName/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/declarations/two steps/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/declarations/two steps/output/tests/generator/twoSteps/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/block lambda/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/block lambda/output/tests/generator/blockLambda/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/expression lambda/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/expression lambda/output/tests/generator/expressionLambda/gen_input.py
Owners: @lars-reimann

test: codegen tests for calls
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/call/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/call/output/tests/generator/call/gen_input.py
Owners: @lars-reimann

feat: codegen for calls
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/call/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/call/output/tests/generator/call/gen_input.py
Owners: @lars-reimann

feat: codegen for member accesses
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/member access/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/member access/output/tests/generator/memberAccess/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/member access/output/tests/generator/memberAccess/gen_input_test.py
Owners: @lars-reimann

feat: replace characters in base file name that are not valid in Simple-ML identifiers
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/GeneratorUtils.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/generator/GeneratorUtilsTest.kt
Owners: @lars-reimann

test: failing tests for imports and `@PythonModule` annotation
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/GeneratorUtils.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/IssueFinderTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/formatting2/FormatterTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/generator/GeneratorUtilsTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/generator/SimpleMLGeneratorTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/generator/imports/_skip_ context different package.smlstub
  DSL/de.unibonn.simpleml/src/test/resources/generator/imports/_skip_ context package with python module.smlstub
  DSL/de.unibonn.simpleml/src/test/resources/generator/imports/_skip_ context same package.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/imports/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/imports/output/tests/generator/imports/gen__skip__context_same_package.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/imports/output/tests/generator/imports/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/imports/output/tests/generator/imports/gen_input_test.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/python module/input.smltest
  DSL/de.unibonn.simpleml/src/test/resources/generator/python module/output/special_module/gen_input.py
  DSL/de.unibonn.simpleml/src/testFixtures/kotlin/de/unibonn/simpleml/testing/TestResourceUtils.kt
Owners: @lars-reimann

feat: codegen for references that were imported under an alias
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
Owners: @lars-reimann

refactor: pass along a list of imports
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
Owners: @lars-reimann

feat: use qualified name for codegen Python functions to avoid conflicts
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/infix operation/output/tests/generator/infixOperation/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/expressions/member access/output/tests/generator/memberAccess/gen_input.py
  DSL/de.unibonn.simpleml/src/test/resources/generator/statements/assignment/output/tests/generator/assignment/gen_input.py
Owners: @lars-reimann

feat: codegen for imports
  DSL/de.unibonn.simpleml.ide/src/test/kotlin/de/unibonn/simpleml/ide/server/symbol/DocumentSymbolTest.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/CompilationUnitChecker.kt
Owners: @lars-reimann
