Repository Simple-ML/Simple-ML, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Simple-ML/developers, @lars-reimann, @Simple-ML/dsl, @adanewitz, @Simple-ML/runtime, @s6fikass, @Simple-ML/stdlib, @fakharabbas-3002, @sgottsch

build: delete tests module after generateXtextLanguage task is done
  DSL/de.unibonn.simpleml/build.gradle.kts
Owners: @Simple-ML/dsl

chore: ignore generated xtend files (in case the Gradle task to delete them is interrupted)
  DSL/de.unibonn.simpleml.ide/.gitignore
  DSL/de.unibonn.simpleml.web/.gitignore
  DSL/de.unibonn.simpleml/.gitignore
Owners: @Simple-ML/dsl

fix: mwe2 workflow
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/GenerateSimpleML.mwe2
Owners: @Simple-ML/dsl

fix: linter errors
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/PlaceholderChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/other/ArgumentListChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/other/TypeArgumentListChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/statements/AssignmentChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/statements/ExpressionsStatementChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/types/UnionTypeChecker.kt
Owners: @Simple-ML/dsl

ci: possible fix for broken coverage upload
  .github/workflows/main.yml
  .github/workflows/pr.yml
Owners: @lars-reimann

ci: possible fix for broken coverage upload (2)
  .github/workflows/main.yml
  .github/workflows/pr.yml
Owners: @lars-reimann

build: remove outdated exclusion
  DSL/build.gradle.kts
Owners: @Simple-ML/dsl

fix: store qualified name for named types
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/formatting2/SimpleMLFormatter.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/Types.kt
Owners: @Simple-ML/dsl

refactor: remove unused QualifiedNameProvider
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/TypeComputer.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/Types.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/QualifiedNameProvider.kt
Owners: @Simple-ML/dsl

refactor: wrap constants into objects (as namespace)
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/GeneratorUtils.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/naming/CoreDeclarations.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/naming/ExtensionFunctions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/Constants.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/SimpleMLConstants.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/DeclarationChecker.kt
Owners: @Simple-ML/dsl

docs: document constants
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/Constants.kt
Owners: @Simple-ML/dsl

refactor: centrally store names of stdlib classes
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/names/ExtensionFunctions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/names/StdlibCoreDeclarations.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/naming/CoreDeclarations.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/naming/ExtensionFunctions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/TypeComputer.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ClassHierarchy.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/SimpleMLStdlib.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/DeclarationChecker.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/TypeComputerTest.kt
Owners: @Simple-ML/dsl

refactor: extract name-related extensions
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleMLRuntimeModule.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/names/ExtensionFunctions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/names/StdlibDeclarations.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/TypeComputer.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/Types.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/Constants.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/DeclarationChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/FunctionChecker.kt
  DSL/de.unibonn.simpleml/src/main/resources/stubs/simpleml/lang/coreAnnotations.stub.simpleml
Owners: @Simple-ML/dsl

refactor: extract access shortcuts
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/constants/FileExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/constants/Modifiers.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/AccessShortcuts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/Traversal.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/formatting2/SimpleMLFormatter.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/GeneratorUtils.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/names/ExtensionFunctions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/converters/AstToPrologFactbase.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/scoping/SimpleMLScopeProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/TypeComputer.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ClassHierarchy.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/CollectionUtils.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/Constants.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/Proposals.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/AnnotationChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/ClassChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/CompilationUnitChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/DeclarationChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/EnumChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/EnumVariantChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/FunctionChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/PlaceholderChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/WorkflowChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/WorkflowStepChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/expressions/LambdaChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/statements/AssignmentChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/types/CallableTypeChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/types/NamedTypeChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/types/UnionTypeChecker.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/ProposalsTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/ScopingTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/assertions/EmfAssertions.kt
Owners: @Simple-ML/dsl

refactor: rename and move some stuff
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/AccessShortcuts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/names/ExtensionFunctions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/names/QualifiedNameProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/names/StdlibDeclarations.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/scoping/SimpleMLScopeProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ClassHierarchy.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/FactoryExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/Traversal.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/PlaceholderChecker.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/ScopingTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/assertions/EmfAssertions.kt
Owners: @Simple-ML/dsl

refactor: split naming and stdlib functionality
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleMLRuntimeModule.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/naming/QualifiedNameProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/stdlib/StdlibDeclarations.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/TypeComputer.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/Types.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ClassHierarchy.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/DeclarationChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/FunctionChecker.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/TypeComputerTest.kt
Owners: @Simple-ML/dsl

refactor: move stdlib stubs
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/SimpleMLStdlib.kt
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/collections/list.stub.simpleml
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/collections/map.stub.simpleml
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/dataset/dataset.stub.simpleml
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/lang/codeGeneration.stub.simpleml
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/lang/coreAnnotations.stub.simpleml
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/lang/coreClasses.stub.simpleml
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/lang/coreFunctions.stub.simpleml
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/lang/documentation.stub.simpleml
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/model/classification/decisionTree.stub.simpleml
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/model/model.stub.simpleml
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/model/regression/decisionTree.stub.simpleml
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/model/regression/lasso.stub.simpleml
  Stdlib/stubs
Owners: @Simple-ML/dsl, @Simple-ML/stdlib

style: apply automatic fixes of linters
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/AccessShortcuts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/scoping/SimpleMLScopeProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/TypeComputer.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ClassHierarchy.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/CollectionUtils.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/DeclarationChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/FunctionChecker.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/ScopingTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/TypeComputerTest.kt
Owners: @Simple-ML/dsl

feat: scientific notation for float literals
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/test/resources/grammar/expressions/literals/booleanLiteral.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/expressions/literals/nullLiteral.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/expressions/literals/numberLiteral.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/expressions/literals/numberLiteral.test.simpleml
Owners: @Simple-ML/dsl

feat: scientific notation for float literals (#98)
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/test/resources/grammar/expressions/literals/booleanLiteral.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/expressions/literals/nullLiteral.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/expressions/literals/numberLiteral.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/expressions/literals/numberLiteral.test.simpleml
Owners: @Simple-ML/dsl

feat: scientific notation for float literals (#98)
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/test/resources/grammar/expressions/literals/booleanLiteral.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/expressions/literals/nullLiteral.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/expressions/literals/numberLiteral.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/expressions/literals/numberLiteral.test.simpleml
Owners: @Simple-ML/dsl

fix: path to stubs
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/SimpleMLStdlib.kt
Owners: @Simple-ML/dsl

fix: remove entries mapped to null in duplicatesBy function
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/CollectionUtils.kt
Owners: @Simple-ML/dsl

feat: allow escaping of keywords to use them as identifiers
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedAnd.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedAnnotation.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedAs.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedAttr.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedCallable.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedClass.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedEnum.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedFalse.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedFun.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedImport.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedIn.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedLambda.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedNot.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedNull.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedOpen.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedOr.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedOut.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedOverride.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedPackage.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedStatic.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedStep.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedSub.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedSuper.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedTrue.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedUnion.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedVal.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedVararg.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedWhere.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedWorkflow.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedYield.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescaped_.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/good-escapedKeywords.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/good-escapedNonKeyword.test.simpleml
Owners: @Simple-ML/dsl

test: QualifiedNameProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/naming/QualifiedNameProvider.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/naming/QualifiedNameProviderTest.kt
Owners: @Simple-ML/dsl

style: apply automatic fixes of linters
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/naming/QualifiedNameProvider.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/naming/QualifiedNameProviderTest.kt
Owners: @Simple-ML/dsl

feat: use keywords as names by escaping them (#99)
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/naming/QualifiedNameProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/CollectionUtils.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/SimpleMLStdlib.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/naming/QualifiedNameProviderTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedAnd.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedAnnotation.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedAs.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedAttr.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedCallable.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedClass.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedEnum.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedFalse.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedFun.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedImport.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedIn.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedLambda.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedNot.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedNull.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedOpen.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedOr.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedOut.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedOverride.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedPackage.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedStatic.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedStep.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedSub.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedSuper.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedTrue.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedUnion.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedVal.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedVararg.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedWhere.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedWorkflow.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedYield.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescaped_.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/good-escapedKeywords.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/good-escapedNonKeyword.test.simpleml
Owners: @Simple-ML/dsl

feat: use keywords as names by escaping them (#99)
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/naming/QualifiedNameProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/CollectionUtils.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/SimpleMLStdlib.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/naming/QualifiedNameProviderTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedAnd.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedAnnotation.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedAs.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedAttr.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedCallable.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedClass.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedEnum.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedFalse.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedFun.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedImport.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedIn.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedLambda.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedNot.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedNull.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedOpen.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedOr.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedOut.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedOverride.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedPackage.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedStatic.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedStep.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedSub.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedSuper.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedTrue.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedUnion.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedVal.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedVararg.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedWhere.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedWorkflow.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedYield.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescaped_.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/good-escapedKeywords.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/good-escapedNonKeyword.test.simpleml
Owners: @Simple-ML/dsl

test: failing tests
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/compilationUnits/compilationUnitWithAnnotations.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/compilationUnits/bad-doublePackage.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/compilationUnits/good-declarationBeforePackage.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/compilationUnits/good-empty.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/declarations/package/bad-annotationUsesWithoutPackageOrImport.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/declarations/package/good-annotationUsesWithImports.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/declarations/package/good-annotationUsesWithPackage.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/declarations/package/good-importsWithoutPackage.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/declarations/package/good-packageDeclaration.test.simpleml
Owners: @Simple-ML/dsl

feat: update grammar and model
  DSL/de.unibonn.simpleml/model/custom/SimpleML.ecore
  DSL/de.unibonn.simpleml/model/custom/SimpleML.genmodel
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleML.xtext
Owners: @Simple-ML/dsl

test: additional tests
  DSL/de.unibonn.simpleml/src/test/resources/formatting/compilationUnits/empty.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/formatting/compilationUnits/withoutPackage.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/packages/annotationUsesWithImports.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/packages/annotationUsesWithName.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/packages/full.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/packages/importsAndMembers.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/packages/nameAndMembers.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/compilationUnits/bad-annotationUsesWithoutMember.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/declarations/package/good-annotationUsesWithName.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/declarations/package/good-full.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/declarations/package/good-importsOnly.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/grammar/declarations/package/good-nameOnly.test.simpleml
Owners: @Simple-ML/dsl

test: additional tests
  DSL/de.unibonn.simpleml/src/test/resources/validation/compilationUnits/packageMustComeFirst.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/compilationUnits/stubFileMustDeclarePackage.stub.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/compilationUnits/stubFileMustNotDeclareWorkflowsOrSteps.stub.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/compilationUnits/uniqueNamesInStubFile.stub.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/compilationUnits/uniqueNamesInWorkflowFile.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/compilationUnits/workflowFileMustDeclarePackage.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/compilationUnits/workflowFileMustOnlyDeclareWorkflowsAndSteps.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/packages/stubFileMustNotDeclareWorkflowsOrSteps.stub.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/packages/uniqueNamesAcrossFiles.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/packages/uniqueNamesAcrossFiles.stub.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/packages/uniqueNamesInStubFile.stub.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/packages/uniqueNamesInWorkflowFile.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/packages/workflowFileMustOnlyDeclareWorkflowsAndSteps.simpleml
Owners: @Simple-ML/dsl

fix: compilation errors
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/AccessShortcuts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/formatting2/SimpleMLFormatter.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/GeneratorUtils.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/CodeGenerator.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/converters/AstToPrologFactbase.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/scoping/SimpleMLImportedNamespaceAwareLocalScopeProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/SimpleMLValidator.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/CompilationUnitChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/PackageChecker.kt
Owners: @Simple-ML/dsl

fix: compilation errors
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/formatting2/SimpleMLFormatter.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/CompilationUnitChecker.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/AstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/naming/QualifiedNameProviderTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/grammar/compilationUnits/good-doublePackage.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/compilationUnits/stubFileMustDeclarePackage.stub.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/compilationUnits/stubFileMustHaveOnlyOnePackage.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/compilationUnits/workflowFileMustDeclarePackage.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/compilationUnits/workflowFileMustHaveOnlyOnePackage.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/packages/uniqueNamesAcrossFiles.stub.simpleml
Owners: @Simple-ML/dsl

fix: formatter
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/formatting2/SimpleMLFormatter.kt
Owners: @Simple-ML/dsl

fix: scoping (partially)
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/AccessShortcuts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/scoping/SimpleMLScopeProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/CompilationUnitChecker.kt
Owners: @Simple-ML/dsl

fix: global scoping
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/AccessShortcuts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/resource/SimpleMLResourceDescriptionStrategy.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/scoping/SimpleMLImportedNamespaceAwareLocalScopeProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/scoping/SimpleMLScopeProvider.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/ProposalsTest.kt
Owners: @Simple-ML/dsl

fix: undesired failing test
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/AstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/ProposalsTest.kt
Owners: @Simple-ML/dsl

fix: remaining tests
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/AccessShortcuts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/CompilationUnitChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/PackageChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/compilationUnits/packageDeclarationMustComeFirst.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/compilationUnits/packageMustComeFirst.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/compilationUnits/stubFileMustDeclarePackage.stub.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/compilationUnits/stubFileMustHaveOnlyOnePackage.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/compilationUnits/stubFileMustHaveOnlyOnePackage.stub.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/compilationUnits/workflowFileMustDeclarePackage.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/packages/uniqueNamesAcrossFiles.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/packages/uniqueNamesAcrossFiles.test.simpleml
Owners: @Simple-ML/dsl

test: fix grammar test for packages
  DSL/de.unibonn.simpleml/src/test/resources/grammar/declarations/package/good-full.test.simpleml
Owners: @Simple-ML/dsl

.github/CODEOWNERS:

*                                                                       @Simple-ML/developers
/.github/                                                               @lars-reimann

/DSL/                                                                   @Simple-ML/dsl
/DSL/.devcontainer/                                                     @lars-reimann
/DSL/.vscode/                                                           @lars-reimann
/DSL/client/                                                            @lars-reimann
/DSL/server/                                                            @lars-reimann
/DSL/server/de.unibonn.simpleml.parent/de.unibonn.simpleml.web/         @adanewitz

/Frontend/                                                              @adanewitz

/Runtime/                                                               @Simple-ML/runtime
/Runtime/.devcontainer/                                                 @lars-reimann
/Runtime/.vscode/                                                       @lars-reimann
/Runtime/runtime/                                                       @s6fikass
/Runtime/Dockerfile                                                     @lars-reimann

/Stdlib/                                                                @Simple-ML/stdlib
/Stdlib/.devcontainer/                                                  @lars-reimann
/Stdlib/.vscode/                                                        @lars-reimann
/Stdlib/data/                                                           @fakharabbas-3002 @sgottsch
/Stdlib/data_catalog/                                                   @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/data_catalog/                                   @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/ml_catalog/                                     @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/queries/                                        @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/rdf/                                            @fakharabbas-3002 @sgottsch
/Stdlib/stubs/                                                          @lars-reimann
