Repository Simple-ML/Simple-ML, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Simple-ML/developers, @lars-reimann, @Simple-ML/dsl, @adanewitz, @Simple-ML/runtime, @s6fikass, @Simple-ML/stdlib, @fakharabbas-3002, @sgottsch

added create-functionality for placeholder
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.kt
  Frontend/src/components/EditorView/GraphicalEditor/GraphicalEditor.jsx
  Frontend/src/components/core/ContextMenu/ContextMenu.jsx
  Frontend/src/emfMetadata/GenericDataSet/GenericDataSet.jsx
  Frontend/src/emfMetadata/GenericProcessCall/GenericProcessCall.jsx
  Frontend/src/emfMetadata/GenericProcessCall/genericProcessCall.module.scss
Owners: @Simple-ML/dsl, @adanewitz

added create-functionality for placeholder
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.kt
  Frontend/src/components/EditorView/GraphicalEditor/GraphicalEditor.jsx
  Frontend/src/components/core/ContextMenu/ContextMenu.jsx
  Frontend/src/emfMetadata/GenericDataSet/GenericDataSet.jsx
  Frontend/src/emfMetadata/GenericProcessCall/GenericProcessCall.jsx
  Frontend/src/emfMetadata/GenericProcessCall/genericProcessCall.module.scss
Owners: @Simple-ML/dsl, @adanewitz

test: failing tests
  DSL/de.unibonn.simpleml.tests/resources/grammar/declarations/modifiers.simpleml
  DSL/de.unibonn.simpleml.tests/resources/grammar/declarations/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/annotations/modifers.stub.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/annotations/modifers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/attributes/modifers.stub.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/attributes/modifers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/attributes/mustHaveType.stub.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/classes/modifiers.stub.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/classes/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/enumVariants/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/enums/modifiers.stub.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/enums/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/functions/modifiers.stub.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/functions/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/parameters/modifier.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/results/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/typeParameters/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/uniqueModifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/workflowSteps/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/workflows/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/statements/expressionStatements/hasNoEffect.test.simpleml
  DSL/de.unibonn.simpleml.web/WebRoot/xtext-resources/generated/mode-simpleml.js
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/SimpleML.xtext
Owners: @Simple-ML/dsl

test: don't allow checks of semantic errors in files with syntax errors
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/FormatterTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/GrammarAndValidationTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/util/TestResourceUtils.kt
Owners: @Simple-ML/dsl

test: fix unintended syntax errors
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/classes/acyclicSuperTypes.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/compilationUnits/stubFileMustNotDeclareWorkflowsOrSteps.stub.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/functions/functionMustNotBeOpenAndStatic.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/functions/functionMustNotBeOverrideAndStatic.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/functions/purePropagates.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/functions/staticPropagates.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/parameters/mustHaveType.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/parameters/mustNotDeprecateRequiredParameter.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/placeholders/renamingOfDeclaration.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/placeholders/unused.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/uniqueModifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/workflows/noYield.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/workflows/uniqueNames.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/expressions/calls/calledClassMustHaveConstructor.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/expressions/calls/context.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/expressions/calls/enumVariantMustHaveConstructor.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/expressions/calls/receiverMustBeCallable.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/expressions/calls/recursion.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/other/argumentLists/missingRequiredParameter.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/other/argumentLists/noPositionalArgumentsAfterFirstNamedArgument.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/other/argumentLists/tooManyArguments.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/other/argumentLists/uniqueParameters.test.simpleml
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/GrammarAndValidationTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/assertions/ParsingAssertions.kt
Owners: @Simple-ML/dsl

feat: mark functions as pure if they have the Pure annotation
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/ModelExtensions.kt
Owners: @Simple-ML/dsl

refactor: use static injection
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/SimpleMLRuntimeModule.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/ModelExtensions.kt
Owners: @Simple-ML/dsl

feat: test modifiers of enum variants
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/validation/declarations/DeclarationChecker.kt
Owners: @Simple-ML/dsl

ci: skip useless workflows for Dependabot
  .github/workflows/mega-linter.yml
  .github/workflows/megalinter.yml
  .github/workflows/pr-format.yml
  .github/workflows/pr-target.yml
  .github/workflows/pr.yml
Owners: @lars-reimann

ci: skip useless workflows for Dependabot
  .github/workflows/mega-linter.yml
  .github/workflows/megalinter.yml
  .github/workflows/pr-format.yml
  .github/workflows/pr-target.yml
  .github/workflows/pr.yml
Owners: @lars-reimann

ci: fix megalinter disabled keys
  .github/workflows/megalinter.yml
Owners: @lars-reimann

ci: fix megalinter disabled keys
  .github/workflows/megalinter.yml
Owners: @lars-reimann

test: failing tests
  DSL/de.unibonn.simpleml.tests/resources/astToPrologFactbase/declarations.simpleml
  DSL/de.unibonn.simpleml.tests/resources/formatting/declarations/annotation.simpleml
  DSL/de.unibonn.simpleml.tests/resources/formatting/declarations/attribute.simpleml
  DSL/de.unibonn.simpleml.tests/resources/formatting/declarations/class.simpleml
  DSL/de.unibonn.simpleml.tests/resources/formatting/declarations/enum.simpleml
  DSL/de.unibonn.simpleml.tests/resources/formatting/declarations/enumVariant.simpleml
  DSL/de.unibonn.simpleml.tests/resources/formatting/declarations/function.simpleml
  DSL/de.unibonn.simpleml.tests/resources/formatting/declarations/workflow.simpleml
  DSL/de.unibonn.simpleml.tests/resources/formatting/declarations/workflowStep.simpleml
  DSL/de.unibonn.simpleml.tests/resources/formatting/types/callableType.simpleml
  DSL/de.unibonn.simpleml.tests/resources/grammar/declarations/annotation.simpleml
  DSL/de.unibonn.simpleml.tests/resources/grammar/declarations/class.simpleml
  DSL/de.unibonn.simpleml.tests/resources/grammar/declarations/enum.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/grammar/declarations/function.simpleml
  DSL/de.unibonn.simpleml.tests/resources/grammar/declarations/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/grammar/declarations/workflow.simpleml
  DSL/de.unibonn.simpleml.tests/resources/grammar/declarations/workflowStep.simpleml
  DSL/de.unibonn.simpleml.tests/resources/grammar/types/callableType.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/annotations/modifers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/attributes/modifers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/classes/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/enumVariants/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/enums/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/functions/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/parameters/modifier.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/parameters/mustNotDeprecateRequiredParameter.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/results/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/typeParameters/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/uniqueModifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/workflowSteps/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/workflows/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.web/WebRoot/xtext-resources/generated/mode-simpleml.js
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/SimpleML.xtext
Owners: @Simple-ML/dsl

feat: use Deprecated annotation instead of modifier
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/SimpleMLConstants.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/validation/declarations/DeclarationChecker.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/validation/declarations/ParameterChecker.kt
Owners: @Simple-ML/dsl

style: apply automatic fixes of linters
  DSL/de.unibonn.simpleml.web/WebRoot/xtext-resources/generated/mode-simpleml.js
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/validation/declarations/DeclarationChecker.kt
Owners: @Simple-ML/dsl

feat: remove deprecated modifier (#93)
  DSL/de.unibonn.simpleml.tests/resources/astToPrologFactbase/declarations.simpleml
  DSL/de.unibonn.simpleml.tests/resources/formatting/declarations/annotation.simpleml
  DSL/de.unibonn.simpleml.tests/resources/formatting/declarations/attribute.simpleml
  DSL/de.unibonn.simpleml.tests/resources/formatting/declarations/class.simpleml
  DSL/de.unibonn.simpleml.tests/resources/formatting/declarations/enum.simpleml
  DSL/de.unibonn.simpleml.tests/resources/formatting/declarations/enumVariant.simpleml
  DSL/de.unibonn.simpleml.tests/resources/formatting/declarations/function.simpleml
  DSL/de.unibonn.simpleml.tests/resources/formatting/declarations/workflow.simpleml
  DSL/de.unibonn.simpleml.tests/resources/formatting/declarations/workflowStep.simpleml
  DSL/de.unibonn.simpleml.tests/resources/formatting/types/callableType.simpleml
  DSL/de.unibonn.simpleml.tests/resources/grammar/declarations/annotation.simpleml
  DSL/de.unibonn.simpleml.tests/resources/grammar/declarations/class.simpleml
  DSL/de.unibonn.simpleml.tests/resources/grammar/declarations/enum.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/grammar/declarations/function.simpleml
  DSL/de.unibonn.simpleml.tests/resources/grammar/declarations/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/grammar/declarations/workflow.simpleml
  DSL/de.unibonn.simpleml.tests/resources/grammar/declarations/workflowStep.simpleml
  DSL/de.unibonn.simpleml.tests/resources/grammar/types/callableType.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/annotations/modifers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/attributes/modifers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/classes/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/enumVariants/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/enums/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/functions/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/parameters/modifier.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/parameters/mustNotDeprecateRequiredParameter.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/results/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/typeParameters/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/uniqueModifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/workflowSteps/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/workflows/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.web/WebRoot/xtext-resources/generated/mode-simpleml.js
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/SimpleMLConstants.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/validation/declarations/DeclarationChecker.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/validation/declarations/ParameterChecker.kt
Owners: @Simple-ML/dsl

feat: remove deprecated modifier (#93)
  DSL/de.unibonn.simpleml.tests/resources/astToPrologFactbase/declarations.simpleml
  DSL/de.unibonn.simpleml.tests/resources/formatting/declarations/annotation.simpleml
  DSL/de.unibonn.simpleml.tests/resources/formatting/declarations/attribute.simpleml
  DSL/de.unibonn.simpleml.tests/resources/formatting/declarations/class.simpleml
  DSL/de.unibonn.simpleml.tests/resources/formatting/declarations/enum.simpleml
  DSL/de.unibonn.simpleml.tests/resources/formatting/declarations/enumVariant.simpleml
  DSL/de.unibonn.simpleml.tests/resources/formatting/declarations/function.simpleml
  DSL/de.unibonn.simpleml.tests/resources/formatting/declarations/workflow.simpleml
  DSL/de.unibonn.simpleml.tests/resources/formatting/declarations/workflowStep.simpleml
  DSL/de.unibonn.simpleml.tests/resources/formatting/types/callableType.simpleml
  DSL/de.unibonn.simpleml.tests/resources/grammar/declarations/annotation.simpleml
  DSL/de.unibonn.simpleml.tests/resources/grammar/declarations/class.simpleml
  DSL/de.unibonn.simpleml.tests/resources/grammar/declarations/enum.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/grammar/declarations/function.simpleml
  DSL/de.unibonn.simpleml.tests/resources/grammar/declarations/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/grammar/declarations/workflow.simpleml
  DSL/de.unibonn.simpleml.tests/resources/grammar/declarations/workflowStep.simpleml
  DSL/de.unibonn.simpleml.tests/resources/grammar/types/callableType.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/annotations/modifers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/attributes/modifers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/classes/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/enumVariants/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/enums/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/functions/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/parameters/modifier.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/parameters/mustNotDeprecateRequiredParameter.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/results/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/typeParameters/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/uniqueModifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/workflowSteps/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.tests/resources/validation/declarations/workflows/modifiers.test.simpleml
  DSL/de.unibonn.simpleml.web/WebRoot/xtext-resources/generated/mode-simpleml.js
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/SimpleMLConstants.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/validation/declarations/DeclarationChecker.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/validation/declarations/ParameterChecker.kt
Owners: @Simple-ML/dsl

test: stdlib should not have errors
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/StdlibTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/assertions/ParsingAssertions.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/SimpleMLStdlib.kt
Owners: @Simple-ML/dsl

fix: errors in stdlib
  DSL/de.unibonn.simpleml/stdlib/stubs/simpleml/model/classification/decisionTree.stub.simpleml
  DSL/de.unibonn.simpleml/stdlib/stubs/simpleml/model/regression/decisionTree.stub.simpleml
  DSL/de.unibonn.simpleml/stdlib/stubs/simpleml/model/regression/lasso.stub.simpleml
Owners: @Simple-ML/dsl

refactor: rename a function
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/StdlibTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/assertions/ParsingAssertions.kt
Owners: @Simple-ML/dsl

test: check stdlib files have no warnings either
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/StdlibTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/assertions/ParsingAssertions.kt
Owners: @Simple-ML/dsl

fix: lint error
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/SimpleMLStdlib.kt
Owners: @Simple-ML/dsl

style: apply automatic fixes of linters
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/SimpleMLStdlib.kt
Owners: @Simple-ML/dsl

test: stubs in stdlib (#94)
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/StdlibTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/assertions/ParsingAssertions.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/SimpleMLStdlib.kt
  DSL/de.unibonn.simpleml/stdlib/stubs/simpleml/model/classification/decisionTree.stub.simpleml
  DSL/de.unibonn.simpleml/stdlib/stubs/simpleml/model/regression/decisionTree.stub.simpleml
  DSL/de.unibonn.simpleml/stdlib/stubs/simpleml/model/regression/lasso.stub.simpleml
Owners: @Simple-ML/dsl

test: stubs in stdlib (#94)
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/StdlibTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/assertions/ParsingAssertions.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/SimpleMLStdlib.kt
  DSL/de.unibonn.simpleml/stdlib/stubs/simpleml/model/classification/decisionTree.stub.simpleml
  DSL/de.unibonn.simpleml/stdlib/stubs/simpleml/model/regression/decisionTree.stub.simpleml
  DSL/de.unibonn.simpleml/stdlib/stubs/simpleml/model/regression/lasso.stub.simpleml
Owners: @Simple-ML/dsl

refactor: remove useless files
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/ModelExtensionTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/ModelManipulationTest.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/utils/ModelExtensions.kt
Owners: @Simple-ML/dsl

build: remove unused mockk dependency
  DSL/de.unibonn.simpleml.tests/build.gradle.kts
Owners: @Simple-ML/dsl

build: test dependencies in de.unibonn.simpleml
  DSL/de.unibonn.simpleml/build.gradle.kts
Owners: @Simple-ML/dsl

refactor: move stub resource to default Gradle location
  DSL/de.unibonn.simpleml.web/WebRoot/xtext-resources/generated/mode-simpleml.js
  DSL/de.unibonn.simpleml/build.gradle.kts
  DSL/de.unibonn.simpleml/src/main/resources/stubs/simpleml/collections/list.stub.simpleml
  DSL/de.unibonn.simpleml/src/main/resources/stubs/simpleml/collections/map.stub.simpleml
  DSL/de.unibonn.simpleml/src/main/resources/stubs/simpleml/dataset/dataset.stub.simpleml
  DSL/de.unibonn.simpleml/src/main/resources/stubs/simpleml/lang/codeGeneration.stub.simpleml
  DSL/de.unibonn.simpleml/src/main/resources/stubs/simpleml/lang/coreAnnotations.stub.simpleml
  DSL/de.unibonn.simpleml/src/main/resources/stubs/simpleml/lang/coreClasses.stub.simpleml
  DSL/de.unibonn.simpleml/src/main/resources/stubs/simpleml/lang/coreFunctions.stub.simpleml
  DSL/de.unibonn.simpleml/src/main/resources/stubs/simpleml/lang/documentation.stub.simpleml
  DSL/de.unibonn.simpleml/src/main/resources/stubs/simpleml/model/classification/decisionTree.stub.simpleml
  DSL/de.unibonn.simpleml/src/main/resources/stubs/simpleml/model/model.stub.simpleml
  DSL/de.unibonn.simpleml/src/main/resources/stubs/simpleml/model/regression/decisionTree.stub.simpleml
  DSL/de.unibonn.simpleml/src/main/resources/stubs/simpleml/model/regression/lasso.stub.simpleml
Owners: @Simple-ML/dsl

fix: symlink to stubs
  Stdlib/stubs
Owners: @Simple-ML/stdlib

refactor: copy SimpleMLInjectorProvider.kt to de.unibonn.simpleml
  DSL/de.unibonn.simpleml/src/test/kotlin/SimpleMLInjectorProvider.kt
Owners: @Simple-ML/dsl

ci: upload test coverage
  .github/workflows/pr.yml
Owners: @lars-reimann

build: verification rule based on test coverage
  DSL/de.unibonn.simpleml/build.gradle.kts
Owners: @Simple-ML/dsl

test: evaluate coverage of DSL code (#95)
  .github/workflows/pr.yml
  DSL/.gitignore
  DSL/build.gradle.kts
  DSL/de.unibonn.simpleml/build.gradle.kts
Owners: @lars-reimann, @Simple-ML/dsl

test: evaluate coverage of DSL code (#95)
  .github/workflows/pr.yml
  DSL/.gitignore
  DSL/build.gradle.kts
  DSL/de.unibonn.simpleml/build.gradle.kts
Owners: @lars-reimann, @Simple-ML/dsl

refactor: remove duplicate entry from .gitignore
  DSL/de.unibonn.simpleml.ide/.gitignore
  DSL/de.unibonn.simpleml.tests/.gitignore
  DSL/de.unibonn.simpleml.web/.gitignore
  DSL/de.unibonn.simpleml/.gitignore
Owners: @Simple-ML/dsl

test: enforce 67% line coverage in core module
  DSL/de.unibonn.simpleml/build.gradle.kts
Owners: @Simple-ML/dsl

refactor: delete test module
  DSL/de.unibonn.simpleml.tests/.gitignore
  DSL/de.unibonn.simpleml.tests/build.gradle.kts
Owners: @Simple-ML/dsl

chore: ignore test module
  DSL/.gitignore
Owners: @Simple-ML/dsl

chore: remove mappings to tests module
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/GenerateSimpleML.mwe2
  DSL/settings.gradle.kts
Owners: @Simple-ML/dsl

.github/CODEOWNERS:

*                                                                       @Simple-ML/developers
/.github/                                                               @lars-reimann

/DSL/                                                                   @Simple-ML/dsl
/DSL/.devcontainer/                                                     @lars-reimann
/DSL/.vscode/                                                           @lars-reimann
/DSL/client/                                                            @lars-reimann
/DSL/server/                                                            @lars-reimann
/DSL/server/de.unibonn.simpleml.parent/de.unibonn.simpleml.web/         @adanewitz

/Frontend/                                                              @adanewitz

/Runtime/                                                               @Simple-ML/runtime
/Runtime/.devcontainer/                                                 @lars-reimann
/Runtime/.vscode/                                                       @lars-reimann
/Runtime/runtime/                                                       @s6fikass
/Runtime/Dockerfile                                                     @lars-reimann

/Stdlib/                                                                @Simple-ML/stdlib
/Stdlib/.devcontainer/                                                  @lars-reimann
/Stdlib/.vscode/                                                        @lars-reimann
/Stdlib/data/                                                           @fakharabbas-3002 @sgottsch
/Stdlib/data_catalog/                                                   @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/data_catalog/                                   @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/ml_catalog/                                     @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/queries/                                        @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/rdf/                                            @fakharabbas-3002 @sgottsch
/Stdlib/stubs/                                                          @lars-reimann
