Repository Simple-ML/Simple-ML, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Simple-ML/developers, @lars-reimann, @adanewitz, @khalid-abdalla, @s6fikass, @fakharabbas-3002, @sgottsch

add new TTL data catalog files
  Runtime/stdlib/data_catalog/datasets/FloatingCarData.ttl
  Runtime/stdlib/data_catalog/datasets/HannoverEvents.ttl
  Runtime/stdlib/data_catalog/datasets/PostOffices.ttl
  Runtime/stdlib/data_catalog/datasets/PublicHolidaysGermany.ttl
  Runtime/stdlib/data_catalog/datasets/PublicHolidaysNiedersachsen.ttl
  Runtime/stdlib/data_catalog/datasets/RedWineQuality.ttl
  Runtime/stdlib/data_catalog/datasets/RedWineQualityBinary.ttl
  Runtime/stdlib/data_catalog/datasets/RossmannSales.ttl
  Runtime/stdlib/data_catalog/datasets/RossmannStores.ttl
  Runtime/stdlib/data_catalog/datasets/SchoolHolidaysNiedersachsen.ttl
  Runtime/stdlib/data_catalog/datasets/SpeedAverages.ttl
  Runtime/stdlib/data_catalog/datasets/TrafficTweets.ttl
  Runtime/stdlib/data_catalog/datasets/WhiteWineQuality.ttl
  Runtime/stdlib/data_catalog/datasets/WhiteWineQualityBinary.ttl
Owners: @fakharabbas-3002, @sgottsch

feat: integrate rd fand json for data catalog (#219)
  Runtime/stdlib/data_catalog/datasets/HannoverEvents.ttl
  Runtime/stdlib/data_catalog/datasets/PostOffices.ttl
  Runtime/stdlib/data_catalog/datasets/PublicHolidaysGermany.ttl
  Runtime/stdlib/data_catalog/datasets/PublicHolidaysNiedersachsen.ttl
  Runtime/stdlib/data_catalog/datasets/RedWineQuality.ttl
  Runtime/stdlib/data_catalog/datasets/RedWineQualityBinary.ttl
  Runtime/stdlib/data_catalog/datasets/RossmannSales.ttl
  Runtime/stdlib/data_catalog/datasets/RossmannStores.ttl
  Runtime/stdlib/data_catalog/datasets/SchoolHolidaysNiedersachsen.ttl
  Runtime/stdlib/data_catalog/datasets/SpeedAverages.ttl
  Runtime/stdlib/data_catalog/datasets/TrafficTweets.ttl
  Runtime/stdlib/data_catalog/datasets/WhiteWineQuality.ttl
  Runtime/stdlib/data_catalog/datasets/WhiteWineQualityBinary.ttl
Owners: @fakharabbas-3002, @sgottsch

feat: integrate rd fand json for data catalog (#219)
  Runtime/stdlib/data_catalog/datasets/FloatingCarData.ttl
  Runtime/stdlib/data_catalog/datasets/HannoverEvents.ttl
  Runtime/stdlib/data_catalog/datasets/PostOffices.ttl
  Runtime/stdlib/data_catalog/datasets/PublicHolidaysGermany.ttl
  Runtime/stdlib/data_catalog/datasets/PublicHolidaysNiedersachsen.ttl
  Runtime/stdlib/data_catalog/datasets/RedWineQuality.ttl
  Runtime/stdlib/data_catalog/datasets/RedWineQualityBinary.ttl
  Runtime/stdlib/data_catalog/datasets/RossmannSales.ttl
  Runtime/stdlib/data_catalog/datasets/RossmannStores.ttl
  Runtime/stdlib/data_catalog/datasets/SchoolHolidaysNiedersachsen.ttl
  Runtime/stdlib/data_catalog/datasets/SpeedAverages.ttl
  Runtime/stdlib/data_catalog/datasets/TrafficTweets.ttl
  Runtime/stdlib/data_catalog/datasets/WhiteWineQuality.ttl
  Runtime/stdlib/data_catalog/datasets/WhiteWineQualityBinary.ttl
Owners: @fakharabbas-3002, @sgottsch

docs: update precedence list
  docs/DSL/tutorial/workflow-language/expressions.md
Owners: @Simple-ML/developers

docs: chaining
  docs/DSL/tutorial/workflow-language/expressions.md
Owners: @Simple-ML/developers

docs: indexed accesses
  docs/DSL/tutorial/workflow-language/expressions.md
Owners: @Simple-ML/developers

docs: steps visibility
  docs/DSL/tutorial/workflow-language/steps.md
Owners: @Simple-ML/developers

docs: lambdas
  docs/DSL/tutorial/workflow-language/README.md
  docs/DSL/tutorial/workflow-language/expressions.md
Owners: @Simple-ML/developers

docs: packages
  docs/DSL/tutorial/workflow-language/packages.md
  docs/DSL/tutorial/workflow-language/steps.md
Owners: @Simple-ML/developers

docs: comments
  docs/DSL/tutorial/common/comments.md
Owners: @Simple-ML/developers

docs: README for shared language
  docs/DSL/tutorial/common/README.md
Owners: @Simple-ML/developers

docs: fix broken links
  docs/DSL/tutorial/common/README.md
  docs/DSL/tutorial/common/imports.md
  docs/DSL/tutorial/stub-language/enumerations.md
  docs/DSL/tutorial/stub-language/packages.md
Owners: @Simple-ML/developers

style: apply automatic fixes of linters
  docs/DSL/tutorial/workflow-language/expressions.md
Owners: @Simple-ML/developers

docs: imports
  docs/DSL/tutorial/common/imports.md
  docs/DSL/tutorial/common/parameters.md
  docs/DSL/tutorial/common/results.md
Owners: @Simple-ML/developers

docs: parameters
  docs/DSL/tutorial/common/parameters.md
Owners: @Simple-ML/developers

docs: results
  docs/DSL/tutorial/common/results.md
Owners: @Simple-ML/developers

Update workflows.md
  docs/DSL/tutorial/workflow-language/workflows.md
Owners: @Simple-ML/developers

Update steps.md
  docs/DSL/tutorial/workflow-language/steps.md
Owners: @Simple-ML/developers

docs: improve documentation of workflow language (#214)
  docs/DSL/development/how to add a new language concept.md
  docs/DSL/tutorial/common/README.md
  docs/DSL/tutorial/common/comments.md
  docs/DSL/tutorial/common/imports.md
  docs/DSL/tutorial/common/packages-and-imports.md
  docs/DSL/tutorial/common/parameters.md
  docs/DSL/tutorial/common/results
  docs/DSL/tutorial/common/results.md
  docs/DSL/tutorial/common/types.md
  docs/DSL/tutorial/stub-language/README.md
  docs/DSL/tutorial/stub-language/annotations.md
  docs/DSL/tutorial/stub-language/enumerations.md
  docs/DSL/tutorial/stub-language/packages.md
  docs/DSL/tutorial/workflow-language/README.md
  docs/DSL/tutorial/workflow-language/expressions.md
  docs/DSL/tutorial/workflow-language/packages.md
  docs/DSL/tutorial/workflow-language/statements.md
  docs/DSL/tutorial/workflow-language/steps.md
  docs/DSL/tutorial/workflow-language/workflows.md
Owners: @Simple-ML/developers

docs: improve documentation of workflow language (#214)
  docs/DSL/development/how to add a new language concept.md
  docs/DSL/tutorial/common/README.md
  docs/DSL/tutorial/common/comments.md
  docs/DSL/tutorial/common/imports.md
  docs/DSL/tutorial/common/packages-and-imports.md
  docs/DSL/tutorial/common/parameters.md
  docs/DSL/tutorial/common/results
  docs/DSL/tutorial/common/results.md
  docs/DSL/tutorial/common/types.md
  docs/DSL/tutorial/stub-language/README.md
  docs/DSL/tutorial/stub-language/annotations.md
  docs/DSL/tutorial/stub-language/enumerations.md
  docs/DSL/tutorial/stub-language/packages.md
  docs/DSL/tutorial/workflow-language/README.md
  docs/DSL/tutorial/workflow-language/expressions.md
  docs/DSL/tutorial/workflow-language/packages.md
  docs/DSL/tutorial/workflow-language/statements.md
  docs/DSL/tutorial/workflow-language/steps.md
  docs/DSL/tutorial/workflow-language/workflows.md
Owners: @Simple-ML/developers

build: remove Xtend
  DSL/build.gradle.kts
  DSL/de.unibonn.simpleml.web/build.gradle.kts
Owners: @lars-reimann, @adanewitz, @khalid-abdalla

addAtribute function
  Runtime/stdlib/python/simpleml/dataset/_dataset.py
Owners: @fakharabbas-3002, @sgottsch

style: apply automatic fixes of linters
  Runtime/stdlib/python/simpleml/dataset/_dataset.py
Owners: @fakharabbas-3002, @sgottsch

feat: dataset_functions (#221)
  Runtime/stdlib/python/simpleml/dataset/_dataset.py
Owners: @fakharabbas-3002, @sgottsch

feat: dataset_functions (#221)
  Runtime/stdlib/python/simpleml/dataset/_dataset.py
Owners: @fakharabbas-3002, @sgottsch

addAtribute function correction
  Runtime/stdlib/python/simpleml/dataset/_dataset.py
Owners: @fakharabbas-3002, @sgottsch

style: apply automatic fixes of linters
  Runtime/stdlib/python/simpleml/dataset/_dataset.py
Owners: @fakharabbas-3002, @sgottsch

feat: dataset_functions (#222)
  Runtime/stdlib/python/simpleml/dataset/_dataset.py
Owners: @fakharabbas-3002, @sgottsch

feat: dataset_functions (#222)
  Runtime/stdlib/python/simpleml/dataset/_dataset.py
Owners: @fakharabbas-3002, @sgottsch

fix: errors and warnings in dsl-text sometimes not shown
  DSL/de.unibonn.simpleml.web/WebRoot/xtext-resources/generated/mode-smlflow.js
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/public/xtext/services/GetProcessMetadataService.js
  Frontend/public/xtext/services/GetProcessProposalsService.js
Owners: @adanewitz, @khalid-abdalla

fix: linter-errors
  Frontend/src/components/core/ContextMenu/contextMenu.module.scss
Owners: @adanewitz, @khalid-abdalla

fix: linter-errors
  Frontend/src/components/core/ContextMenu/contextMenu.module.scss
Owners: @adanewitz, @khalid-abdalla

docs: only one file for packages
  docs/DSL/tutorial/common/README.md
  docs/DSL/tutorial/common/imports.md
  docs/DSL/tutorial/common/packages.md
  docs/DSL/tutorial/stub-language/README.md
  docs/DSL/tutorial/stub-language/packages.md
  docs/DSL/tutorial/workflow-language/README.md
Owners: @Simple-ML/developers

docs: packages (extended for stubs)
  docs/DSL/tutorial/common/packages.md
  docs/DSL/tutorial/stub-language/README.md
  docs/DSL/tutorial/stub-language/annotations.md
Owners: @Simple-ML/developers

docs: replace it with warning
  docs/DSL/tutorial/common/packages.md
Owners: @Simple-ML/developers

docs: start description of types
  docs/DSL/tutorial/common/types.md
  docs/DSL/tutorial/workflow-language/expressions.md
Owners: @Simple-ML/developers

docs: restructuring of types document
  docs/DSL/tutorial/common/types.md
  docs/DSL/tutorial/stub-language/type-parameters.md
Owners: @Simple-ML/developers

docs: union & parenthesized types
  docs/DSL/tutorial/common/types.md
Owners: @Simple-ML/developers

docs: only relevant for stub language
  docs/DSL/tutorial/common/types.md
Owners: @Simple-ML/developers

add random forest and svm
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/model/classification/randomForest.smlstub
  Runtime/stdlib/python/simpleml/model/supervised/classification/_svm.py
Owners: @lars-reimann, @fakharabbas-3002, @sgottsch

.github/CODEOWNERS:

*                                                    @Simple-ML/developers
/.github/                                            @lars-reimann

/DSL/                                                @lars-reimann
/DSL/de.unibonn.simpleml.web/                        @adanewitz @khalid-abdalla

/Frontend/                                           @adanewitz @khalid-abdalla

/Runtime/.devcontainer/                              @lars-reimann
/Runtime/.vscode/                                    @lars-reimann
/Runtime/runtime/                                    @s6fikass
/Runtime/stdlib                                      @fakharabbas-3002 @sgottsch
