Repository Simple-ML/Simple-ML, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Simple-ML/developers, @lars-reimann, @Simple-ML/dsl, @adanewitz, @Simple-ML/runtime, @s6fikass, @Simple-ML/stdlib, @fakharabbas-3002, @sgottsch

.github/CODEOWNERS:

*                                                                       @Simple-ML/developers
/.github/                                                               @lars-reimann

/DSL/                                                                   @Simple-ML/dsl
/DSL/.devcontainer/                                                     @lars-reimann
/DSL/.vscode/                                                           @lars-reimann
/DSL/client/                                                            @lars-reimann
/DSL/server/                                                            @lars-reimann
/DSL/server/de.unibonn.simpleml.parent/de.unibonn.simpleml.web/         @adanewitz

/Frontend/                                                              @adanewitz

/Runtime/                                                               @Simple-ML/runtime
/Runtime/.devcontainer/                                                 @lars-reimann
/Runtime/.vscode/                                                       @lars-reimann
/Runtime/runtime/                                                       @s6fikass
/Runtime/Dockerfile                                                     @lars-reimann

/Stdlib/                                                                @Simple-ML/stdlib
/Stdlib/.devcontainer/                                                  @lars-reimann
/Stdlib/.vscode/                                                        @lars-reimann
/Stdlib/data/                                                           @fakharabbas-3002 @sgottsch
/Stdlib/data_catalog/                                                   @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/data_catalog/                                   @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/ml_catalog/                                     @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/queries/                                        @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/rdf/                                            @fakharabbas-3002 @sgottsch
/Stdlib/stubs/                                                          @lars-reimann

test: additional test case
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationUses/missingArgumentList.test.simpleml
Owners: @Simple-ML/dsl

feat: show error for missing argument and type argument lists (#106)
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/DeclarationChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/expressions/CallChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/other/AnnotationUseChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/types/NamedTypeChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/expressions/calls/missingTypeArgumentList.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationUses/missingArgumentList.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/types/namedTypes/missingTypeArgumentList.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/types/namedTypes/missingTypeArgumentList.test.simpleml
Owners: @Simple-ML/dsl

feat: show error for missing argument and type argument lists (#106)
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/DeclarationChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/expressions/CallChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/other/AnnotationUseChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/types/NamedTypeChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/expressions/calls/missingTypeArgumentList.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/other/annotationUses/missingArgumentList.test.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/types/namedTypes/missingTypeArgumentList.simpleml
  DSL/de.unibonn.simpleml/src/test/resources/validation/types/namedTypes/missingTypeArgumentList.test.simpleml
Owners: @Simple-ML/dsl

refactor!: change expected file extensions
  DSL/de.unibonn.simpleml.vscode/package.json
  DSL/de.unibonn.simpleml.web/WebRoot/xtext-resources/generated/mode-smlflow.js
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/GenerateSimpleML.mwe2
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/constants/FileExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/GeneratorUtils.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/SimpleMLStdlib.kt
Owners: @Simple-ML/dsl

style: apply automatic fixes of linters
  DSL/de.unibonn.simpleml.web/WebRoot/xtext-resources/generated/mode-smlflow.js
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/util/TestResourceUtils.kt
Owners: @Simple-ML/dsl

fix: gradle build script
  DSL/de.unibonn.simpleml/build.gradle.kts
Owners: @Simple-ML/dsl

test: update separator in formatting tests, so they are syntactically legal
  DSL/de.unibonn.simpleml.web/WebRoot/xtext-resources/generated/mode-smlflow.js
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/FormatterTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/formatting/compilationUnits/empty.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/compilationUnits/withoutPackage.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/annotation.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/annotationUse.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/attribute.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/class.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/enum.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/enumVariant.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/function.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/import.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/packages/annotationUsesWithImports.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/packages/annotationUsesWithName.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/packages/full.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/packages/importsAndMembers.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/packages/nameAndMembers.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/workflow.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/workflowStep.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/expressions/call.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/expressions/infixOperations.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/expressions/lambda.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/expressions/memberAccess.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/expressions/parenthesizedExpression.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/expressions/prefixOperations.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/expressions/templateString.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/statements/assignment.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/statements/blocks.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/statements/expressionStatement.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/types/callableType.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/types/memberType.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/types/namedType.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/types/parenthesizedType.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/types/unionType.smltest
Owners: @Simple-ML/dsl

test: update separator in formatting tests, so they are syntactically legal
  DSL/de.unibonn.simpleml.web/WebRoot/xtext-resources/generated/mode-smlflow.js
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/FormatterTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/formatting/compilationUnits/empty.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/compilationUnits/withoutPackage.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/annotation.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/annotationUse.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/attribute.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/class.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/enum.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/enumVariant.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/function.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/import.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/packages/annotationUsesWithImports.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/packages/annotationUsesWithName.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/packages/full.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/packages/importsAndMembers.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/packages/nameAndMembers.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/workflow.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/workflowStep.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/expressions/call.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/expressions/infixOperations.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/expressions/lambda.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/expressions/memberAccess.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/expressions/parenthesizedExpression.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/expressions/prefixOperations.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/expressions/templateString.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/statements/assignment.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/statements/blocks.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/statements/expressionStatement.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/types/callableType.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/types/memberType.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/types/namedType.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/types/parenthesizedType.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/types/unionType.smltest
Owners: @Simple-ML/dsl

refactor: remove outdated files related to the Prolog bridge
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/CodeGenerator.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/SimpleMLAstCreation.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/converters/PrologFactbaseToSimpleMLAst.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/converters/PrologFactbaseToString.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/converters/StringToPrologFactbase.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/FormatterTest.kt
Owners: @Simple-ML/dsl

refactor: remove outdated files related to the Prolog bridge
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/CodeGenerator.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/SimpleMLAstCreation.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/converters/PrologFactbaseToSimpleMLAst.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/converters/PrologFactbaseToString.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/converters/StringToPrologFactbase.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/FormatterTest.kt
Owners: @Simple-ML/dsl

test: set coverage goal for core to 75% line coverage
  DSL/de.unibonn.simpleml/build.gradle.kts
Owners: @Simple-ML/dsl

test: set coverage goal for core to 75% line coverage
  DSL/de.unibonn.simpleml/build.gradle.kts
Owners: @Simple-ML/dsl

test: add missing validation test
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/ClassChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/classes/mustInheritOnlyClasses.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/classes/mustInheritOnlyOneClass.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/classes/mustInheritOnlyOpenClasses.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/classes/onlyOneParentClass.smltest
Owners: @Simple-ML/dsl

test: add missing validation test
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/ClassChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/classes/mustInheritOnlyClasses.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/classes/mustInheritOnlyOneClass.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/classes/mustInheritOnlyOpenClasses.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/classes/onlyOneParentClass.smltest
Owners: @Simple-ML/dsl

refactor: change model classes
  DSL/de.unibonn.simpleml/model/custom/SimpleML.ecore
  DSL/de.unibonn.simpleml/model/custom/SimpleML.genmodel
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleML.xtext
Owners: @Simple-ML/dsl

build: update kotlin.jvm to 1.6.0
  DSL/build.gradle.kts
Owners: @Simple-ML/dsl

SML-265: add random forest classifier, add tox, write tests
  .gitignore
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/model/classification/randomForest.smlstub
  Runtime/stdlib/python/MANIFEST.in
  Runtime/stdlib/python/setup.py
  Runtime/stdlib/python/simpleml/model/supervised/classification/DecisionTreeClassifier.py
  Runtime/stdlib/python/simpleml/model/supervised/classification/RandomForestClassifier.py
  Runtime/stdlib/python/simpleml/model/supervised/classification/__init__.py
  Runtime/stdlib/python/simpleml/model/supervised/classification/_tree.py
  Runtime/stdlib/python/tests/test_decision_tree.py
  Runtime/stdlib/python/tests/test_random_forest.py
  Runtime/stdlib/python/tox.ini
Owners: @Simple-ML/developers, @Simple-ML/dsl, @Simple-ML/runtime

refactor: update code that relies on EMF model
  DSL/de.unibonn.simpleml/model/custom/SimpleML.ecore
  DSL/de.unibonn.simpleml/model/custom/SimpleML.genmodel
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/constants/Modifiers.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/AccessShortcuts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/formatting2/SimpleMLFormatter.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/naming/QualifiedNameProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/converters/AstToPrologFactbase.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/scoping/SimpleMLScopeProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/serializer/SimpleMLCrossReferenceSerializer.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/stdlib/StdlibAnnotations.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/TypeComputer.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/Types.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ClassHierarchy.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/Proposals.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/AbstractSimpleMLChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/AttributeChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/ClassChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/CompilationUnitChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/DeclarationChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/FunctionChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/PackageChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/ParameterChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/ParameterListChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/PlaceholderChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/ResultChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/WorkflowStepChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/expressions/CallChecker.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/assertions/EmfAssertions.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/assertions/FactbaseAssertions.kt
Owners: @Simple-ML/dsl

refactor: remove useless guard clause
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/DeclarationChecker.kt
Owners: @Simple-ML/dsl

style: apply automatic fixes of linters
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/formatting2/SimpleMLFormatter.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/scoping/SimpleMLScopeProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/serializer/SimpleMLCrossReferenceSerializer.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/stdlib/StdlibAnnotations.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/TypeComputer.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/Types.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/Proposals.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/AbstractSimpleMLChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/DeclarationChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/ParameterListChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/ResultChecker.kt
Owners: @Simple-ML/dsl

refactor!: rework EMF hierarchy of declaration classes (#108)
  DSL/build.gradle.kts
  DSL/de.unibonn.simpleml/model/custom/SimpleML.ecore
  DSL/de.unibonn.simpleml/model/custom/SimpleML.genmodel
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/constants/Modifiers.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/AccessShortcuts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/formatting2/SimpleMLFormatter.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/naming/QualifiedNameProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/converters/AstToPrologFactbase.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/scoping/SimpleMLScopeProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/serializer/SimpleMLCrossReferenceSerializer.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/stdlib/StdlibAnnotations.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/TypeComputer.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/Types.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ClassHierarchy.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/Proposals.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/AbstractSimpleMLChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/AttributeChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/ClassChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/CompilationUnitChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/DeclarationChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/FunctionChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/PackageChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/ParameterChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/ParameterListChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/PlaceholderChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/ResultChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/WorkflowStepChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/expressions/CallChecker.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/assertions/EmfAssertions.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/assertions/FactbaseAssertions.kt
Owners: @Simple-ML/dsl

refactor!: rework EMF hierarchy of declaration classes (#108)
  DSL/build.gradle.kts
  DSL/de.unibonn.simpleml/model/custom/SimpleML.ecore
  DSL/de.unibonn.simpleml/model/custom/SimpleML.genmodel
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleML.xtext
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/constants/Modifiers.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/emf/AccessShortcuts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/formatting2/SimpleMLFormatter.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/generator/SimpleMLGenerator.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/naming/QualifiedNameProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/converters/AstToPrologFactbase.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/scoping/SimpleMLScopeProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/serializer/SimpleMLCrossReferenceSerializer.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/stdlib/StdlibAnnotations.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/TypeComputer.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/typing/Types.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ClassHierarchy.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/Proposals.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/AbstractSimpleMLChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/AttributeChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/ClassChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/CompilationUnitChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/DeclarationChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/FunctionChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/PackageChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/ParameterChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/ParameterListChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/PlaceholderChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/ResultChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/WorkflowStepChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/expressions/CallChecker.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/assertions/EmfAssertions.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/assertions/FactbaseAssertions.kt
Owners: @Simple-ML/dsl

fix: incorrect error when workflow file declared package
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/CompilationUnitChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/compilationUnits/stubFileMustNotDeclareWorkflowsOrSteps.smlstub
  DSL/de.unibonn.simpleml/src/test/resources/validation/compilationUnits/workflowFileMustOnlyDeclareWorkflowsAndSteps.smlflow
Owners: @Simple-ML/dsl

fix: incorrect error when workflow file declared package
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/CompilationUnitChecker.kt
  DSL/de.unibonn.simpleml/src/test/resources/validation/compilationUnits/stubFileMustNotDeclareWorkflowsOrSteps.smlstub
  DSL/de.unibonn.simpleml/src/test/resources/validation/compilationUnits/workflowFileMustOnlyDeclareWorkflowsAndSteps.smlflow
Owners: @Simple-ML/dsl

fix: update Ace mode in frontend
  DSL/de.unibonn.simpleml.web/WebRoot/xtext-resources/generated/mode-simpleml.js
  Frontend/public/xtext-resources/generated/mode-smlflow.js
  Frontend/src/serverConnection/xtextEndpoint.js
Owners: @Simple-ML/dsl, @adanewitz

fix: update Ace mode in frontend
  DSL/de.unibonn.simpleml.web/WebRoot/xtext-resources/generated/mode-simpleml.js
  Frontend/public/xtext-resources/generated/mode-smlflow.js
  Frontend/src/serverConnection/xtextEndpoint.js
Owners: @Simple-ML/dsl, @adanewitz

chore: VS code extension v0.0.12
  DSL/de.unibonn.simpleml.vscode/CHANGELOG.md
  DSL/de.unibonn.simpleml.vscode/package-lock.json
  DSL/de.unibonn.simpleml.vscode/package.json
  DSL/de.unibonn.simpleml.vscode/syntaxes/simple-ml.tmLanguage.json
Owners: @Simple-ML/dsl

chore: VS code extension v0.0.12
  DSL/de.unibonn.simpleml.vscode/CHANGELOG.md
  DSL/de.unibonn.simpleml.vscode/package-lock.json
  DSL/de.unibonn.simpleml.vscode/package.json
  DSL/de.unibonn.simpleml.vscode/syntaxes/simple-ml.tmLanguage.json
Owners: @Simple-ML/dsl

style: apply automatic fixes of linters
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/AttributeChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/EnumChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/FunctionChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/ParameterListChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/expressions/LambdaChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/expressions/MemberAccessChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/other/AnnotationUseChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/statements/AssignmentChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/types/NamedTypeChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/types/UnionTypeChecker.kt
Owners: @Simple-ML/dsl

feat!: remove override and open modifiers
  DSL/de.unibonn.simpleml.vscode/syntaxes/simple-ml.tmLanguage.json
  DSL/de.unibonn.simpleml.web/WebRoot/xtext-resources/generated/mode-smlflow.js
  DSL/de.unibonn.simpleml/model/custom/SimpleML.ecore
  DSL/de.unibonn.simpleml/model/custom/SimpleML.genmodel
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/SimpleML.xtext
Owners: @Simple-ML/dsl

fix: compilation errors
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/constants/Modifiers.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/formatting2/SimpleMLFormatter.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/converters/AstToPrologFactbase.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/scoping/SimpleMLScopeProvider.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/utils/ModelExtensions.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/codes/ErrorCode.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/ClassChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/DeclarationChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/declarations/FunctionChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/expressions/MemberAccessChecker.kt
  DSL/de.unibonn.simpleml/src/main/kotlin/de/unibonn/simpleml/validation/other/ArgumentListChecker.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/AstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/assertions/FactbaseAssertions.kt
Owners: @Simple-ML/dsl

fix: ast to prolog tests
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/AstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml/src/test/resources/astToPrologFactbase/declarations.smltest
Owners: @Simple-ML/dsl

fix: formatter tests
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/annotation.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/attribute.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/class.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/enum.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/enumVariant.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/function.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/workflow.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/declarations/workflowStep.smltest
  DSL/de.unibonn.simpleml/src/test/resources/formatting/types/callableType.smltest
Owners: @Simple-ML/dsl

fix: grammar tests
  DSL/de.unibonn.simpleml/src/test/resources/grammar/declarations/annotation.smltest
  DSL/de.unibonn.simpleml/src/test/resources/grammar/declarations/class.smltest
  DSL/de.unibonn.simpleml/src/test/resources/grammar/declarations/enum.smltest
  DSL/de.unibonn.simpleml/src/test/resources/grammar/declarations/function.smltest
  DSL/de.unibonn.simpleml/src/test/resources/grammar/declarations/modifiers.smltest
  DSL/de.unibonn.simpleml/src/test/resources/grammar/declarations/workflow.smltest
  DSL/de.unibonn.simpleml/src/test/resources/grammar/declarations/workflowStep.smltest
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedOpen.smltest
  DSL/de.unibonn.simpleml/src/test/resources/grammar/keywordsAsNames/bad-unescapedOverride.smltest
  DSL/de.unibonn.simpleml/src/test/resources/grammar/types/callableType.smltest
Owners: @Simple-ML/dsl

refactor: split grammar and validation tests
  DSL/de.unibonn.simpleml/src/test/kotlin/de/unibonn/simpleml/test/IssueFinderTest.kt
Owners: @Simple-ML/dsl

ci: pin version of MegaLinter
  .github/workflows/megalinter.yml
Owners: @lars-reimann

fix: scoping tests
  DSL/de.unibonn.simpleml/src/test/resources/scoping/namedType/main.smltest
  DSL/de.unibonn.simpleml/src/test/resources/scoping/reference/main.smltest
Owners: @Simple-ML/dsl

fix: stubs
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/lang/coreClasses.smlstub
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/model/classification/decisionTree.smlstub
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/model/model.smlstub
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/model/regression/decisionTree.smlstub
  DSL/de.unibonn.simpleml/src/main/resources/stdlib/simpleml/model/regression/lasso.smlstub
Owners: @Simple-ML/dsl

fix: validation tests
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/annotations/modifers.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/attributes/modifers.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/classes/acyclicSuperTypes.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/classes/modifiers.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/classes/mustInheritOnlyOneClass.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/classes/mustInheritOnlyOpenClasses.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/classes/uniqueParentTypes.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/enumVariants/modifiers.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/enums/modifiers.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/functions/functionMustNotBeOpenAndStatic.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/functions/functionMustNotBeOverrideAndStatic.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/functions/modifiers.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/functions/nonStaticPropagates.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/functions/overriddenFunctionMustBeOpen.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/functions/overriddenFunctionMustNotBeStatic.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/functions/overridingFunctionMustHaveOverrideModifier.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/functions/overridingFunctionMustOverrideSomething.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/functions/purePropagates.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/functions/staticPropagates.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/parameters/modifier.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/results/modifiers.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/typeParameters/modifiers.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/uniqueModifiers.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/workflowSteps/modifiers.smltest
  DSL/de.unibonn.simpleml/src/test/resources/validation/declarations/workflows/modifiers.smltest
Owners: @Simple-ML/dsl

style: apply automatic fixes of linters
  DSL/de.unibonn.simpleml.vscode/syntaxes/simple-ml.tmLanguage.json
  DSL/de.unibonn.simpleml.web/WebRoot/xtext-resources/generated/mode-smlflow.js
Owners: @Simple-ML/dsl
