Repository Simple-ML/Simple-ML, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Simple-ML/developers, @lars-reimann, @Simple-ML/dsl, @adanewitz, @Simple-ML/runtime, @s6fikass, @Simple-ML/stdlib, @fakharabbas-3002, @sgottsch

EmfServiceDispatcher as Kotlin-Code
  DSL/de.unibonn.simpleml.web/build.gradle.kts
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceCollection.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.kt
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceResult.kt
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceResult.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/dto/AssociationDTO.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/dto/CreateAndAssociateEntityDTO.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/dto/CreateEntityDTO.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/dto/DeleteEntityDTO.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/dto/MultiTaskDTO.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/dto/ParameterDTO.kt
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/dto/ProcessMetadataDTO.kt
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/dto/ProcessMetadataDTO.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/dto/CreateEntityDTO.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Access/AccessHandler.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Access/ArrayAccess.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Access/EmfPathHelper.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Access/ObjectAccess.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Association/EmfAssociationHelper.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Creation/CreateAssignment.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Creation/CreateBooleanLiteral.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Creation/CreateExpressionStatement.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Creation/CreateFloatLiteral.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Creation/CreateIntegerLiteral.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Creation/CreateProcessCall.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Creation/CreateStringLiteral.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Creation/CreateUnconnectedExpressionStatement.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Creation/CreationHandler.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Creation/EmfCreationHelper.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Creation/Nested.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Deletion/DeletionHandler.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Deletion/DoNothing.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Deletion/EmfDeletionHelper.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Deletion/EntityAndReferenceDeletion.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Deletion/EntityDeletion.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Deletion/EntityDeletionIfEmptyContainer.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Deletion/MoveToUnconnectedStatements.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/extension/Deletion/NullForAssignment.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/exception/EmfException.xtend
Owners: @Simple-ML/dsl

fix: NullPointException when creating an Xtext service
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.kt
Owners: @Simple-ML/dsl

fix: NullPointException when creating an Xtext service
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.kt
Owners: @Simple-ML/dsl

added bin/ and xtend-gen/ to gitignore
  .gitignore
  DSL/de.unibonn.simpleml.web/build.gradle.kts
Owners: @Simple-ML/developers, @Simple-ML/dsl

added bin/ and xtend-gen/ to gitignore
  .gitignore
  DSL/de.unibonn.simpleml.web/build.gradle.kts
Owners: @Simple-ML/developers, @Simple-ML/dsl

added getProcessMetadataServiece in frontend
  Frontend/public/xtext/ServiceBuilder.js
  Frontend/public/xtext/services/GetProcessMetadataService.js
Owners: @adanewitz

added getProcessMetadataServiece in frontend
  Frontend/public/xtext/ServiceBuilder.js
  Frontend/public/xtext/services/GetProcessMetadataService.js
Owners: @adanewitz

added getProcessMetadataServiece in frontend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.kt
  Frontend/public/xtext/services/GetEntityAttributeDefinitionService.js
Owners: @Simple-ML/dsl, @adanewitz

added getProcessMetadataServiece in frontend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.kt
  Frontend/public/xtext/services/GetEntityAttributeDefinitionService.js
Owners: @Simple-ML/dsl, @adanewitz

Join dataset with dataset class
  Runtime/stdlib/python/simpleml/dataset/_dataset.py
  Stdlib/tests/JoinDatasets.py
Owners: @Simple-ML/runtime, @Simple-ML/stdlib

Join dataset with dataset class
  Runtime/stdlib/python/simpleml/dataset/_dataset.py
  Stdlib/tests/JoinDatasets.py
Owners: @Simple-ML/runtime, @Simple-ML/stdlib

show list of proposals in contextmenu for create-button
  DSL/de.unibonn.simpleml.web/build.gradle.kts
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.kt
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceResult.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/dto/ProcessProposalsDTO.kt
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/dto/CreateEntityDTO.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/exception/EmfException.xtend
  Frontend/public/xtext/services/GetEmfModelService.js
  Frontend/public/xtext/services/GetProcessMetadataService.js
  Frontend/public/xtext/services/GetProcessProposals.js
  Frontend/src/components/EditorView/GraphicalEditor/GraphicalEditor.jsx
  Frontend/src/components/EditorView/GraphicalEditor/graphicalEditor.module.scss
  Frontend/src/components/core/ContextMenu/ContextMenu.jsx
  Frontend/src/debugging/exposeToBrowserConsole.js
  Frontend/src/images/graph/Plus/secondary-1.svg
  Frontend/src/reducers/emfModel.js
  Frontend/src/reducers/root.js
  Frontend/src/serverConnection/XtextDefaultListeners.js
  Frontend/src/serverConnection/XtextServices.js
Owners: @Simple-ML/dsl, @adanewitz

show list of proposals in contextmenu for create-button
  DSL/de.unibonn.simpleml.web/build.gradle.kts
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.kt
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceResult.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/dto/ProcessProposalsDTO.kt
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/emf/dto/CreateEntityDTO.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/exception/EmfException.xtend
  Frontend/public/xtext/services/GetEmfModelService.js
  Frontend/public/xtext/services/GetProcessMetadataService.js
  Frontend/public/xtext/services/GetProcessProposals.js
  Frontend/src/components/EditorView/GraphicalEditor/GraphicalEditor.jsx
  Frontend/src/components/EditorView/GraphicalEditor/graphicalEditor.module.scss
  Frontend/src/components/core/ContextMenu/ContextMenu.jsx
  Frontend/src/debugging/exposeToBrowserConsole.js
  Frontend/src/images/graph/Plus/secondary-1.svg
  Frontend/src/reducers/emfModel.js
  Frontend/src/reducers/root.js
  Frontend/src/serverConnection/XtextDefaultListeners.js
  Frontend/src/serverConnection/XtextServices.js
Owners: @Simple-ML/dsl, @adanewitz

chore: change packages of stub files for models
  DSL/de.unibonn.simpleml/stdlib/stubs/simpleml/model/classification/decisionTree.stub.simpleml
  DSL/de.unibonn.simpleml/stdlib/stubs/simpleml/model/model.stub.simpleml
  DSL/de.unibonn.simpleml/stdlib/stubs/simpleml/model/regression/decisionTree.stub.simpleml
  DSL/de.unibonn.simpleml/stdlib/stubs/simpleml/model/regression/lasso.stub.simpleml
Owners: @Simple-ML/dsl

chore: change packages of stub files for models
  DSL/de.unibonn.simpleml/stdlib/stubs/simpleml/model/classification/decisionTree.stub.simpleml
  DSL/de.unibonn.simpleml/stdlib/stubs/simpleml/model/model.stub.simpleml
  DSL/de.unibonn.simpleml/stdlib/stubs/simpleml/model/regression/decisionTree.stub.simpleml
  DSL/de.unibonn.simpleml/stdlib/stubs/simpleml/model/regression/lasso.stub.simpleml
Owners: @Simple-ML/dsl

add create-method for sml-functions
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.kt
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/dto/CreateAndAssociateEntityDTO.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/dto/CreateEntityDTO.kt
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/dto/CreateEntityDTO.xtend
  Frontend/src/components/core/ContextMenu/ContextMenu.jsx
  Frontend/src/emfMetadata/GenericProcessCall/GenericProcessCall.jsx
  Frontend/src/serverConnection/XtextServices.js
Owners: @Simple-ML/dsl, @adanewitz

add create-method for sml-functions
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.kt
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/dto/CreateAndAssociateEntityDTO.xtend
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/dto/CreateEntityDTO.kt
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/dto/CreateEntityDTO.xtend
  Frontend/src/components/core/ContextMenu/ContextMenu.jsx
  Frontend/src/emfMetadata/GenericProcessCall/GenericProcessCall.jsx
  Frontend/src/serverConnection/XtextServices.js
Owners: @Simple-ML/dsl, @adanewitz

process catalog and its generation extended with additional triples
  Runtime/stdlib/data_catalog/ml_processes_catalog/process_catalog.ttl
  Runtime/stdlib/python/simpleml/data_catalog/_rdf_profile_creator.py
  Runtime/stdlib/python/simpleml/ml_catalog/_ml_catalog_creation.py
  Runtime/stdlib/python/simpleml/ml_catalog/dsl_catalog_creation.py
Owners: @Simple-ML/runtime

process catalog and its generation extended with additional triples
  Runtime/stdlib/data_catalog/ml_processes_catalog/process_catalog.ttl
  Runtime/stdlib/python/simpleml/data_catalog/_rdf_profile_creator.py
  Runtime/stdlib/python/simpleml/ml_catalog/_ml_catalog_creation.py
  Runtime/stdlib/python/simpleml/ml_catalog/dsl_catalog_creation.py
Owners: @Simple-ML/runtime

feat: add a data window with tabs for summary and tables.
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/public/data/example_profile_adac.json
  Frontend/src/components/EditorView/DataView/DataView.jsx
  Frontend/src/components/EditorView/DataView/dataView.scss
  Frontend/src/components/EditorView/EditorView.jsx
  Frontend/src/components/EditorView/editorView.scss
  Frontend/src/stories/SimpleBarChart.js
  Frontend/src/stories/SimpleHistogramChart.js
  Frontend/src/stories/Table.js
Owners: @adanewitz

feat: add a data window with tabs for summary and tables.
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/public/data/example_profile_adac.json
  Frontend/src/components/EditorView/DataView/DataView.jsx
  Frontend/src/components/EditorView/DataView/dataView.scss
  Frontend/src/components/EditorView/EditorView.jsx
  Frontend/src/components/EditorView/editorView.scss
  Frontend/src/stories/SimpleBarChart.js
  Frontend/src/stories/SimpleHistogramChart.js
  Frontend/src/stories/Table.js
Owners: @adanewitz

feat: filter feature
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/components/EditorView/DataView/DataView.jsx
  Frontend/src/components/EditorView/DataView/dataView.scss
  Frontend/src/components/EditorView/EditorView.jsx
  Frontend/src/components/EditorView/editorView.scss
  Frontend/src/stories/SimpleBarChart.js
  Frontend/src/stories/SimpleHistogramChart.js
  Frontend/src/stories/simpleBarChart.css
  Frontend/src/stories/simpleHistogramChart.css
Owners: @adanewitz

feat: filter feature
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/components/EditorView/DataView/DataView.jsx
  Frontend/src/components/EditorView/DataView/dataView.scss
  Frontend/src/components/EditorView/EditorView.jsx
  Frontend/src/components/EditorView/editorView.scss
  Frontend/src/stories/SimpleBarChart.js
  Frontend/src/stories/SimpleHistogramChart.js
  Frontend/src/stories/simpleBarChart.css
  Frontend/src/stories/simpleHistogramChart.css
Owners: @adanewitz

new versions of ML and process catalog
  Runtime/stdlib/data_catalog/ml_processes_catalog/ml_catalog.ttl
  Runtime/stdlib/data_catalog/ml_processes_catalog/process_catalog.ttl
  Runtime/stdlib/python/simpleml/ml_catalog/_ml_catalog_creation.py
  Runtime/stdlib/python/simpleml/ml_catalog/dsl_catalog_creation.py
Owners: @Simple-ML/runtime

new versions of ML and process catalog
  Runtime/stdlib/data_catalog/ml_processes_catalog/ml_catalog.ttl
  Runtime/stdlib/data_catalog/ml_processes_catalog/process_catalog.ttl
  Runtime/stdlib/python/simpleml/ml_catalog/_ml_catalog_creation.py
  Runtime/stdlib/python/simpleml/ml_catalog/dsl_catalog_creation.py
Owners: @Simple-ML/runtime

differentiating between SmlFunction and SmlClass on Entity-Creation
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.kt
Owners: @Simple-ML/dsl

differentiating between SmlFunction and SmlClass on Entity-Creation
  DSL/de.unibonn.simpleml.web/src/de/projektionisten/simpleml/web/EmfServiceDispatcher.kt
Owners: @Simple-ML/dsl

ci: upgrade mega-linter
  .github/workflows/mega-linter.yml
  .mega-linter.yml
Owners: @lars-reimann, @Simple-ML/developers

ci: upgrade mega-linter
  .github/workflows/mega-linter.yml
  .mega-linter.yml
Owners: @lars-reimann, @Simple-ML/developers

docs: fix some typos in the documentation of facts
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
Owners: @Simple-ML/dsl

chore: clean start with SimpleML to Prolog converter
  .idea/vcs.xml
  .idea/workspace.xml
  DSL/.gitignore
  DSL/.idea/.gitignore
  DSL/.idea/.name
  DSL/.idea/codeStyles/codeStyleConfig.xml
  DSL/.idea/compiler.xml
  DSL/.idea/gradle.xml
  DSL/.idea/jarRepositories.xml
  DSL/.idea/misc.xml
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/SimpleMLAstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/converters/SimpleMLAstToPrologFactbase.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
Owners: @Simple-ML/developers, @Simple-ML/dsl

refactor: make ID type generic
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/converters/SimpleMLAstToPrologFactbase.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/model/facts/Factbase.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/model/facts/Terms.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/utils/IdManager.kt
Owners: @Simple-ML/dsl

feat: translate compilation unit
  DSL/de.unibonn.simpleml.tests/resources/prologVisitorTests/declarations.simpleml
  DSL/de.unibonn.simpleml.tests/resources/prologVisitorTests/definitions.simpleml
  DSL/de.unibonn.simpleml.tests/resources/prologVisitorTests/empty.simpleml
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/assertions/FactbaseAssertions.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/assertions/NumberAssertions.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/assertions/ParsingAssertions.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/SimpleMLAstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/SimpleMLLanguageTest.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/converters/SimpleMLAstToPrologFactbase.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
Owners: @Simple-ML/dsl

feat: translate annotations
  DSL/de.unibonn.simpleml.tests/resources/prologVisitorTests/compilationUnitMembers.simpleml
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/assertions/FactbaseAssertions.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/SimpleMLAstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/converters/SimpleMLAstToPrologFactbase.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/utils/IdManager.kt
Owners: @Simple-ML/dsl

feat: translate classes
  DSL/de.unibonn.simpleml.tests/resources/prologVisitorTests/compilationUnitMembers.simpleml
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/assertions/FactbaseAssertions.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/SimpleMLAstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/converters/SimpleMLAstToPrologFactbase.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
Owners: @Simple-ML/dsl

feat: translate interfaces
  DSL/de.unibonn.simpleml.tests/resources/prologVisitorTests/compilationUnitMembers.simpleml
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/SimpleMLAstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/converters/SimpleMLAstToPrologFactbase.kt
Owners: @Simple-ML/dsl

feat: translate enums and enum instances
  DSL/de.unibonn.simpleml.tests/resources/prologVisitorTests/declarations.simpleml
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/SimpleMLAstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/converters/SimpleMLAstToPrologFactbase.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
Owners: @Simple-ML/dsl

feat: translate attributes
  DSL/de.unibonn.simpleml.tests/resources/prologVisitorTests/declarations.simpleml
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/assertions/FactbaseAssertions.kt
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/SimpleMLAstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/converters/SimpleMLAstToPrologFactbase.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/model/facts/Facts.kt
Owners: @Simple-ML/dsl

feat: translate workflows
  DSL/de.unibonn.simpleml.tests/resources/prologVisitorTests/declarations.simpleml
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/SimpleMLAstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/converters/SimpleMLAstToPrologFactbase.kt
Owners: @Simple-ML/dsl

feat: translate workflow steps
  DSL/de.unibonn.simpleml.tests/resources/prologVisitorTests/declarations.simpleml
  DSL/de.unibonn.simpleml.tests/src/de/unibonn/simpleml/tests/SimpleMLAstToPrologFactbaseTest.kt
  DSL/de.unibonn.simpleml/src/de/unibonn/simpleml/prolog_bridge/converters/SimpleMLAstToPrologFactbase.kt
Owners: @Simple-ML/dsl

.github/CODEOWNERS:

*                                                                       @Simple-ML/developers
/.github/                                                               @lars-reimann

/DSL/                                                                   @Simple-ML/dsl
/DSL/.devcontainer/                                                     @lars-reimann
/DSL/.vscode/                                                           @lars-reimann
/DSL/client/                                                            @lars-reimann
/DSL/server/                                                            @lars-reimann
/DSL/server/de.unibonn.simpleml.parent/de.unibonn.simpleml.web/         @adanewitz

/Frontend/                                                              @adanewitz

/Runtime/                                                               @Simple-ML/runtime
/Runtime/.devcontainer/                                                 @lars-reimann
/Runtime/.vscode/                                                       @lars-reimann
/Runtime/runtime/                                                       @s6fikass
/Runtime/Dockerfile                                                     @lars-reimann

/Stdlib/                                                                @Simple-ML/stdlib
/Stdlib/.devcontainer/                                                  @lars-reimann
/Stdlib/.vscode/                                                        @lars-reimann
/Stdlib/data/                                                           @fakharabbas-3002 @sgottsch
/Stdlib/data_catalog/                                                   @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/data_catalog/                                   @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/ml_catalog/                                     @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/queries/                                        @fakharabbas-3002 @sgottsch
/Stdlib/python/simpleml/rdf/                                            @fakharabbas-3002 @sgottsch
/Stdlib/stubs/                                                          @lars-reimann
